{
    "openapi": "3.0.0",
    "info": {
        "description": "<p>Sj\u00e5 <a href=\"https:\/\/data.norge.no\/node\/1197\">datasett-oppf\u00f8ring<\/a> for meir informasjon (kontaktinformasjon, oppdateringsfrekvens, lenker til dokumentasjon etc.)<\/p>\n",
        "version": "1.0.0",
        "title": "Husdyrregisteret - data om registrerte storfeindivider",
        "license": {
            "name": "Data-lisens",
            "url": "http:\/\/data.norge.no\/nlod\/"
        },
        "termsOfService": "https:\/\/hotell.difi.no\/api"
    },
    "servers": [
        {
            "url": "https:\/\/hotell.difi.no"
        }
    ],
    "paths": {
        "\/api\/{format}\/mattilsynet\/husdyrregisteret\/storfeindivider": {
            "get": {
                "tags": [
                    "storfeindivider"
                ],
                "description": "Hent ut ei side (page) med data. Inntil 100 postar pr. side.",
                "operationId": "getMattilsynetHusdyrregisteretStorfeindividerPage",
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "description": "Velg format",
                        "required": true,
                        "schema": {
                            "$ref": "#\/components\/schemas\/datahotelFormats"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Spesifiser side i resultatet \u00e5 hente ut. Standardverdi: 1.",
                        "required": false
                    },
                    {
                        "name": "query",
                        "in": "query",
                        "description": "S\u00f8k i datasettet. Gir treff p\u00e5 felt: opprinnelsesmerke, opprinnelsesland, individmerke, rase, morsmerke, produsentnr, foretaksnr",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "opprinnelsesland",
                        "in": "query",
                        "description": "Filtrer s\u00f8keresultat p\u00e5 eksakt match p\u00e5 dette feltet.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "kjonn",
                        "in": "query",
                        "description": "Filtrer s\u00f8keresultat p\u00e5 eksakt match p\u00e5 dette feltet.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "rasekode",
                        "in": "query",
                        "description": "Filtrer s\u00f8keresultat p\u00e5 eksakt match p\u00e5 dette feltet.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "rase",
                        "in": "query",
                        "description": "Filtrer s\u00f8keresultat p\u00e5 eksakt match p\u00e5 dette feltet.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "rasebetegnelse",
                        "in": "query",
                        "description": "Filtrer s\u00f8keresultat p\u00e5 eksakt match p\u00e5 dette feltet.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "morsmerke",
                        "in": "query",
                        "description": "Filtrer s\u00f8keresultat p\u00e5 eksakt match p\u00e5 dette feltet.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "produsentnr",
                        "in": "query",
                        "description": "Filtrer s\u00f8keresultat p\u00e5 eksakt match p\u00e5 dette feltet.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "foretaksnr",
                        "in": "query",
                        "description": "Filtrer s\u00f8keresultat p\u00e5 eksakt match p\u00e5 dette feltet.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ei side (page) med data. Inntil 100 rader",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/mattilsynet-husdyrregisteret-storfeindivider-response"
                                }
                            }
                        },
                        "headers": {
                            "ETag": {
                                "$ref": "#\/components\/headers\/ETag"
                            },
                            "X-Datahotel-Page": {
                                "$ref": "#\/components\/headers\/X-Datahotel-Page"
                            },
                            "X-Datahotel-Total-Pages": {
                                "$ref": "#\/components\/headers\/X-Datahotel-Total-Pages"
                            },
                            "X-Datahotel-Total-Posts": {
                                "$ref": "#\/components\/headers\/X-Datahotel-Total-Posts"
                            }
                        }
                    }
                }
            }
        },
        "\/download\/mattilsynet\/husdyrregisteret\/storfeindivider": {
            "get": {
                "summary": "Last ned heile datasettet som CSV",
                "description": "Teiknsett er UTF8. Dersom fila skal opnast i Excel eller liknande, bruk parameter ?download. For alle andre bruksomr\u00e5de vil nedlasting utan ?download-parameteret passe betre.",
                "tags": [
                    "storfeindivider"
                ],
                "operationId": "downloadMattilsynetHusdyrregisteretStorfeindivider",
                "parameters": [
                    {
                        "name": "download",
                        "in": "query",
                        "description": "Dersom parameter er angitt, s\u00e5 f\u00e5r ein fil med UTF8 _med_ BOM i staden for UTF8. Denne varianter egnar seg dersom ein vil opne fila i Excel eller liknande",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Last ned heile datasettet som CSV",
                        "content": {
                            "text\/csv": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "application~\/vnd.ms-excel~": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "headers": {
                            "ETag": {
                                "$ref": "#\/components\/headers\/ETag"
                            }
                        }
                    }
                }
            }
        },
        "\/api\/{format}\/mattilsynet\/husdyrregisteret\/storfeindivider\/meta": {
            "get": {
                "description": "Hent ut metadata for datasettet. ",
                "tags": [
                    "storfeindivider"
                ],
                "operationId": "getMattilsynetHusdyrregisteretStorfeindividerMetadata",
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "description": "Velg format",
                        "required": true,
                        "schema": {
                            "$ref": "#\/components\/schemas\/datahotelMetadataFormats"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Metadata",
                        "content": {
                            "application\/json": {
                                "example": "{\n    \"shortName\": \"storfeindivider\",\n    \"name\": \"Mattilsynet - Storfeindivider\",\n    \"location\": \"mattilsynet\/husdyrregisteret\/storfeindivider\",\n    \"updated\": 1590390036683,\n    \"dataset\": true\n}",
                                "schema": {
                                    "$ref": "#\/components\/schemas\/datasetMetadata"
                                }
                            }
                        },
                        "headers": {
                            "ETag": {
                                "$ref": "#\/components\/headers\/ETag"
                            }
                        }
                    }
                }
            }
        },
        "\/api\/{format}\/mattilsynet\/husdyrregisteret\/storfeindivider\/fields": {
            "get": {
                "description": "Hent ut feltdefinisjonar for datasettet. ",
                "tags": [
                    "storfeindivider"
                ],
                "operationId": "getMattilsynetHusdyrregisteretStorfeindividerFields",
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "description": "Velg format",
                        "required": true,
                        "schema": {
                            "$ref": "#\/components\/schemas\/datahotelMetadataFormats"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Feltdefinisjoner",
                        "content": {
                            "application\/json": {
                                "example": "[\n    {\n        \"name\": \"Opprinnelsesmerke\",\n        \"shortName\": \"opprinnelsesmerke\",\n        \"groupable\": false,\n        \"searchable\": true,\n        \"indexPrimaryKey\": false,\n        \"description\": \"For norskf\\u00f8dte individer er dette en kombinasjon av de \\u00e5tte f\\u00f8rste sifrene fra produsentnummer (se produsentnr) fra der dyret er f\\u00f8dt og et firesifret individnummer.Storfe fra andre land enn Norge kan ha opprinnelsesmerke bygget opp p\\u00e5 annen m\\u00e5te.\"\n    },\n    {\n        \"name\": \"Opprinnelsesland\",\n        \"shortName\": \"opprinnelsesland\",\n        \"groupable\": true,\n        \"searchable\": true,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Navn p\\u00e5 individets opprinnelsesland\"\n    },\n    {\n        \"name\": \"Individmerke\",\n        \"shortName\": \"individmerke\",\n        \"groupable\": false,\n        \"searchable\": true,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Dette en kombinasjon av de \\u00e5tte f\\u00f8rste sifrene fra produsentnummer (se dette) fra der dyret er f\\u00f8dt og et firesifret individnummer. Hvis individet er f\\u00f8dt i Norge er individmerket identisk med opprinnelsesmerke.\"\n    },\n    {\n        \"name\": \"Individstatus\",\n        \"shortName\": \"individstatus\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Eksempler p\\u00e5 status er \\u00abKomplett\\u00bb, \\u00abDyr overf\\u00f8rt. Mangler rapport fra kj\\u00f8per\\u00bb, \\u00abDyr overf\\u00f8rt. Mangler rapport fra selger.\\u00bb, \\u00abDyr slaktet. Mangler rapport fra slakteri.\\u00bb, \\u00abDyr rapportert overf\\u00f8rt fra livdyrhandler\/slaktet. Mangler rapport fra kj\\u00f8per og selger.\\u00bb, \\u00abDyr slaktet. Mangler rapport fra dyrehold.\\u00bb \\n\\t\\t\\tIndivider har en status som er avhengig av de hendelser som er blitt rapportert. Mange hendelser er enkelthendelser, det betyr at de blir rapportert av kun \\u00e9n part ved hjelp av \\u00e9n hendelse. Et eksempel p\\u00e5 dette er 'Nyf\\u00f8dt dyr merket f\\u00f8rste gang'. Disse hendelsene har status komplett og medf\\u00f8rer enten at et dyr blir opprettet med status komplett eller om dyret allerede finnes s\\u00e5 blir ikke dyrets status p\\u00e5virket.\\t\\t\\n\\t\\t\\tHendelser som inneb\\u00e6rer forflytning krever to, tre eller eventuelt fire hendelser. Dette er fordi alle ber\\u00f8rte parter skal rapportere b\\u00e5de n\\u00e5r et dyr kommer inn i dyreholdet og n\\u00e5r det g\\u00e5r ut av dyreholdet. Dette gjelder forflytning mellom dyrehold, med eller uten livdyrhandlere, og overf\\u00f8ring til slakteri og slakting.\\t\\t\\n\\t\\t\\tAlle hendelser som gjelder overf\\u00f8ring mellom dyrehold eller slakting krever at status p\\u00e5 dyret er komplett innen f\\u00f8rste hendelse i forflytningen kan bli registrert.\\t\\t\\n\\t\\t\\tEt individs status kan v\\u00e6re representativt kun i det \\u00f8yeblikket data har blitt hentet ut fra Husdyrregisteret. At et individ framst\\u00e5r som \\u00abKomplett\\u00bb eller med \\u00abManglende rapporter\\u00bb kan medf\\u00f8re riktighet i det \\u00f8yeblikket data ble trukket ut, men kanskje ikke umiddelbart etterp\\u00e5. \"\n    },\n    {\n        \"name\": \"F\\u00f8dselsdato\",\n        \"shortName\": \"fodselsdato\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Individets f\\u00f8dselsdato p\\u00e5 formatet dd.mm.\\u00e5\\u00e5\\u00e5\\u00e5\"\n    },\n    {\n        \"name\": \"Kj\\u00f8nn\",\n        \"shortName\": \"kjonn\",\n        \"groupable\": true,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Individets kj\\u00f8nn er enten \\u00abKvige\/ku\\u00bb for hunkj\\u00f8nn eller \\u00abOkse\\u00bb for hankj\\u00f8nn\"\n    },\n    {\n        \"name\": \"Rasekode\",\n        \"shortName\": \"rasekode\",\n        \"groupable\": true,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Best\\u00e5r av teksten \\\"LANDDYR$\\\" + en tallkode. For forklaring p\\u00e5 tallkoden se http:\/\/www.mattilsynet.no\/integrasjonsstotte\/KODEVERK_RASETYPE_no.html\"\n    },\n    {\n        \"name\": \"Rase\",\n        \"shortName\": \"rase\",\n        \"groupable\": true,\n        \"searchable\": true,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Rase er betegnelsen p\\u00e5 rasekode \\u2013 i klartekst.\"\n    },\n    {\n        \"name\": \"Rasebetegnelse\",\n        \"shortName\": \"rasebetegnelse\",\n        \"groupable\": true,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Her kan det framkomme rasen til henholdsvis far (de 16 f\\u00f8rste sifrene) og mor (de 16 siste sifrene). Det er to og to siffer i par som utgj\\u00f8r koden. For oversikt over de to-sifrete kodene se her:http:\/\/www.mattilsynet.no\/integrasjonsstotte\/KODEVERK_RASETYPE_I_textcode_no.html\"\n    },\n    {\n        \"name\": \"Morsmerke\",\n        \"shortName\": \"morsmerke\",\n        \"groupable\": true,\n        \"searchable\": true,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Hvis individets mor er f\\u00f8dt i Norge er morsmerket bygget opp p\\u00e5 samme m\\u00e5te som Individmerket\"\n    },\n    {\n        \"name\": \"Produsentnr\",\n        \"shortName\": \"produsentnr\",\n        \"groupable\": true,\n        \"searchable\": true,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Inneholder 10-sifret produsentnummer.Oppbygning av produsentnummer:  Kommunenummer 4 siffer + G\\u00e5rdsnummer 4 siffer + et l\\u00f8penummer 2 siffer.\"\n    },\n    {\n        \"name\": \"Foretaksnr\",\n        \"shortName\": \"foretaksnr\",\n        \"groupable\": true,\n        \"searchable\": true,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Dette tilsvarer det som i Br\\u00f8nn\\u00f8ysundregisteret omtales som \\u00abOrganisasjonsnummer\\u00bb.\"\n    },\n    {\n        \"name\": \"Kalvingsdato\",\n        \"shortName\": \"kalvingsdato\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Dette er siste kalvingsdato registrert i Husdyrregisteret p\\u00e5 et individ.\\n\\t\\t\\tKalving som s\\u00e5dan er ikke en meldepliktig hendelse. Det er hendelsen \\\"nyf\\u00f8dt kalv merket f\\u00f8rste gang\\\" som er meldepliktig. Informasjon om f\\u00f8dselsdato og mors opprinnelsesmerke er blant de obligatoriske opplysninger om denne hendelsen. Kalvingsdatoen utledes fra disse opplysningene.\\n\\t\\t\\tKalvingsdato kan mangle eller ikke v\\u00e6re oppdatert. \\u00c5rsak kan v\\u00e6re for eksempel:\\n\\t\\t\\tEi ku kan ha f\\u00e5tt en kalv som har d\\u00f8dd f\\u00f8r den ble merket.\\n\\t\\t\\tKalven er ikke meldt inn i husdyrregisteret med hendelsen \\\"nyf\\u00f8dt kalv merket f\\u00f8rste gang\\\".\"\n    }\n]",
                                "schema": {
                                    "$ref": "#\/components\/schemas\/datasetFields"
                                }
                            }
                        },
                        "headers": {
                            "ETag": {
                                "$ref": "#\/components\/headers\/ETag"
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "datahotelFormats": {
                "type": "string",
                "enum": [
                    "json",
                    "jsonp",
                    "xml",
                    "csv",
                    "yaml"
                ]
            },
            "datahotelMetadataFormats": {
                "type": "string",
                "enum": [
                    "json",
                    "jsonp",
                    "xml",
                    "yaml"
                ]
            },
            "datasetMetadata": {
                "type": "object",
                "properties": {
                    "shortName": {
                        "type": "string",
                        "description": "Kortnamn for datasettet. Samme som siste ledd i location."
                    },
                    "name": {
                        "type": "string",
                        "description": "Menneskelesbart namn for datasettet."
                    },
                    "location": {
                        "type": "string",
                        "description": "Unik datasett-id i datahotellet"
                    },
                    "updated": {
                        "type": "integer",
                        "description": "Timestamp for n\u00e5r tid datasettet sist vart endra p\u00e5 datahotellet. Verdien er unix timestamp, enten i sekund (10 siffer) eller millisekund (13 siffer)."
                    },
                    "dataset": {
                        "type": "boolean",
                        "description": "True dersom location er eit datasett, false dersom ikkje. Ved false kan location vere ein katalog som inneheld datasett."
                    }
                }
            },
            "datasetFields": {
                "type": "array",
                "items": {
                    "type": "object",
                    "properties": {
                        "name": {
                            "type": "string",
                            "description": "Menneskelesbart namn p\u00e5 feltet."
                        },
                        "shortName": {
                            "type": "string",
                            "description": "Kortnamn for felt. Samme som feltnamn brukt i respons og overskriftsrad i CSV-fila."
                        },
                        "groupable": {
                            "type": "boolean",
                            "description": "Kan gruppere\/filtrere p\u00e5 dette feltet via query-parameter. E.g. \u00ab?shortName=verdi\u00bb."
                        },
                        "searchable": {
                            "type": "boolean",
                            "description": "Om dette feltet er s\u00f8kbart via query-parameteret. E.g. \u00ab?query=s\u00f8kestreng\u00bb"
                        },
                        "indexPrimaryKey": {
                            "type": "boolean",
                            "description": "Ikkje i bruk."
                        }
                    }
                }
            },
            "mattilsynet-husdyrregisteret-storfeindivider-record": {
                "type": "object",
                "properties": {
                    "opprinnelsesmerke": {
                        "type": "string",
                        "example": "DE0115480978",
                        "description": "For norskf\u00f8dte individer er dette en kombinasjon av de \u00e5tte f\u00f8rste sifrene fra produsentnummer (se produsentnr) fra der dyret er f\u00f8dt og et firesifret individnummer.Storfe fra andre land enn Norge kan ha opprinnelsesmerke bygget opp p\u00e5 annen m\u00e5te."
                    },
                    "opprinnelsesland": {
                        "type": "string",
                        "example": "Tyskland",
                        "description": "Navn p\u00e5 individets opprinnelsesland"
                    },
                    "individmerke": {
                        "type": "string",
                        "example": "152504570003",
                        "description": "Dette en kombinasjon av de \u00e5tte f\u00f8rste sifrene fra produsentnummer (se dette) fra der dyret er f\u00f8dt og et firesifret individnummer. Hvis individet er f\u00f8dt i Norge er individmerket identisk med opprinnelsesmerke."
                    },
                    "individstatus": {
                        "type": "string",
                        "example": "Komplett",
                        "description": "Eksempler p\u00e5 status er \u00abKomplett\u00bb, \u00abDyr overf\u00f8rt. Mangler rapport fra kj\u00f8per\u00bb, \u00abDyr overf\u00f8rt. Mangler rapport fra selger.\u00bb, \u00abDyr slaktet. Mangler rapport fra slakteri.\u00bb, \u00abDyr rapportert overf\u00f8rt fra livdyrhandler\/slaktet. Mangler rapport fra kj\u00f8per og selger.\u00bb, \u00abDyr slaktet. Mangler rapport fra dyrehold.\u00bb \n\t\t\tIndivider har en status som er avhengig av de hendelser som er blitt rapportert. Mange hendelser er enkelthendelser, det betyr at de blir rapportert av kun \u00e9n part ved hjelp av \u00e9n hendelse. Et eksempel p\u00e5 dette er 'Nyf\u00f8dt dyr merket f\u00f8rste gang'. Disse hendelsene har status komplett og medf\u00f8rer enten at et dyr blir opprettet med status komplett eller om dyret allerede finnes s\u00e5 blir ikke dyrets status p\u00e5virket.\t\t\n\t\t\tHendelser som inneb\u00e6rer forflytning krever to, tre eller eventuelt fire hendelser. Dette er fordi alle ber\u00f8rte parter skal rapportere b\u00e5de n\u00e5r et dyr kommer inn i dyreholdet og n\u00e5r det g\u00e5r ut av dyreholdet. Dette gjelder forflytning mellom dyrehold, med eller uten livdyrhandlere, og overf\u00f8ring til slakteri og slakting.\t\t\n\t\t\tAlle hendelser som gjelder overf\u00f8ring mellom dyrehold eller slakting krever at status p\u00e5 dyret er komplett innen f\u00f8rste hendelse i forflytningen kan bli registrert.\t\t\n\t\t\tEt individs status kan v\u00e6re representativt kun i det \u00f8yeblikket data har blitt hentet ut fra Husdyrregisteret. At et individ framst\u00e5r som \u00abKomplett\u00bb eller med \u00abManglende rapporter\u00bb kan medf\u00f8re riktighet i det \u00f8yeblikket data ble trukket ut, men kanskje ikke umiddelbart etterp\u00e5. "
                    },
                    "fodselsdato": {
                        "type": "string",
                        "example": "21.03.2007",
                        "description": "F\u00f8dselsdato.\nIndividets f\u00f8dselsdato p\u00e5 formatet dd.mm.\u00e5\u00e5\u00e5\u00e5"
                    },
                    "kjonn": {
                        "type": "string",
                        "example": "Kvige\/ku",
                        "description": "Kj\u00f8nn.\nIndividets kj\u00f8nn er enten \u00abKvige\/ku\u00bb for hunkj\u00f8nn eller \u00abOkse\u00bb for hankj\u00f8nn"
                    },
                    "rasekode": {
                        "type": "string",
                        "example": "LANDDYR$03100202001023",
                        "description": "Best\u00e5r av teksten \"LANDDYR$\" + en tallkode. For forklaring p\u00e5 tallkoden se http:\/\/www.mattilsynet.no\/integrasjonsstotte\/KODEVERK_RASETYPE_no.html"
                    },
                    "rase": {
                        "type": "string",
                        "example": "Gallowayfe",
                        "description": "Rase er betegnelsen p\u00e5 rasekode \u2013 i klartekst."
                    },
                    "rasebetegnelse": {
                        "type": "string",
                        "example": "",
                        "description": "Her kan det framkomme rasen til henholdsvis far (de 16 f\u00f8rste sifrene) og mor (de 16 siste sifrene). Det er to og to siffer i par som utgj\u00f8r koden. For oversikt over de to-sifrete kodene se her:http:\/\/www.mattilsynet.no\/integrasjonsstotte\/KODEVERK_RASETYPE_I_textcode_no.html"
                    },
                    "morsmerke": {
                        "type": "string",
                        "example": "",
                        "description": "Hvis individets mor er f\u00f8dt i Norge er morsmerket bygget opp p\u00e5 samme m\u00e5te som Individmerket"
                    },
                    "produsentnr": {
                        "type": "string",
                        "example": "1525046577",
                        "description": "Inneholder 10-sifret produsentnummer.Oppbygning av produsentnummer:  Kommunenummer 4 siffer + G\u00e5rdsnummer 4 siffer + et l\u00f8penummer 2 siffer."
                    },
                    "foretaksnr": {
                        "type": "string",
                        "example": "816491452",
                        "description": "Dette tilsvarer det som i Br\u00f8nn\u00f8ysundregisteret omtales som \u00abOrganisasjonsnummer\u00bb."
                    },
                    "kalvingsdato": {
                        "type": "string",
                        "example": "27.05.2019",
                        "description": "Dette er siste kalvingsdato registrert i Husdyrregisteret p\u00e5 et individ.\n\t\t\tKalving som s\u00e5dan er ikke en meldepliktig hendelse. Det er hendelsen \"nyf\u00f8dt kalv merket f\u00f8rste gang\" som er meldepliktig. Informasjon om f\u00f8dselsdato og mors opprinnelsesmerke er blant de obligatoriske opplysninger om denne hendelsen. Kalvingsdatoen utledes fra disse opplysningene.\n\t\t\tKalvingsdato kan mangle eller ikke v\u00e6re oppdatert. \u00c5rsak kan v\u00e6re for eksempel:\n\t\t\tEi ku kan ha f\u00e5tt en kalv som har d\u00f8dd f\u00f8r den ble merket.\n\t\t\tKalven er ikke meldt inn i husdyrregisteret med hendelsen \"nyf\u00f8dt kalv merket f\u00f8rste gang\"."
                    }
                }
            },
            "mattilsynet-husdyrregisteret-storfeindivider-response": {
                "type": "object",
                "properties": {
                    "entries": {
                        "type": "array",
                        "items": {
                            "$ref": "#\/components\/schemas\/mattilsynet-husdyrregisteret-storfeindivider-record"
                        }
                    },
                    "page": {
                        "type": "integer",
                        "description": "Side (page) av resultatet som er returnert."
                    },
                    "pages": {
                        "type": "integer",
                        "description": "Tal p\u00e5 sider totalt."
                    },
                    "posts": {
                        "type": "integer",
                        "description": "Tal p\u00e5 postar totalt."
                    }
                }
            }
        },
        "headers": {
            "X-Datahotel-Page": {
                "description": "Side (page) av resultatet som er returnert.",
                "schema": {
                    "type": "integer"
                }
            },
            "X-Datahotel-Total-Pages": {
                "description": "Tal p\u00e5 sider totalt.",
                "schema": {
                    "type": "integer"
                }
            },
            "X-Datahotel-Total-Posts": {
                "description": "Tal p\u00e5 postar totalt.",
                "schema": {
                    "type": "integer"
                }
            },
            "ETag": {
                "description": "Fungerer som standard HTTP ETag. Timestamp for n\u00e5r tid datasettet sist vart endra p\u00e5 datahotellet. Verdien er unix timestamp, enten i sekund (10 siffer) eller millisekund (13 siffer).",
                "schema": {
                    "type": "integer"
                }
            }
        }
    },
    "tags": [
        {
            "name": "storfeindivider",
            "description": "Mattilsynet - Storfeindivider",
            "externalDocs": {
                "url": "https:\/\/hotell.difi.no\/?dataset=mattilsynet\/husdyrregisteret\/storfeindivider"
            }
        }
    ],
    "externalDocs": {
        "description": "Meir dokumentasjon for hotell.difi.no",
        "url": "https:\/\/hotell.difi.no\/api"
    }
}