{
    "openapi": "3.0.0",
    "info": {
        "description": "<p>Sj\u00e5 <a href=\"https:\/\/data.norge.no\/node\/1224\">datasett-oppf\u00f8ring<\/a> for meir informasjon (kontaktinformasjon, oppdateringsfrekvens, lenker til dokumentasjon etc.)<\/p>\n",
        "version": "1.0.0",
        "title": "Produksjonstilskudd jordbruksforetak - s\u00f8knadsomgang august 2014",
        "license": {
            "name": "Data-lisens",
            "url": "http:\/\/data.norge.no\/nlod\/"
        },
        "termsOfService": "https:\/\/hotell.difi.no\/api"
    },
    "servers": [
        {
            "url": "https:\/\/hotell.difi.no"
        }
    ],
    "paths": {
        "\/api\/{format}\/ldir\/produksjonstilskudd\/2014aug": {
            "get": {
                "tags": [
                    "2014aug"
                ],
                "description": "Hent ut ei side (page) med data. Inntil 100 postar pr. side.",
                "operationId": "getLdirProduksjonstilskudd2014augPage",
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "description": "Velg format",
                        "required": true,
                        "schema": {
                            "$ref": "#\/components\/schemas\/datahotelFormats"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Spesifiser side i resultatet \u00e5 hente ut. Standardverdi: 1.",
                        "required": false
                    },
                    {
                        "name": "query",
                        "in": "query",
                        "description": "S\u00f8k i datasettet. Gir treff p\u00e5 felt: navn",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "orgnr",
                        "in": "query",
                        "description": "Filtrer s\u00f8keresultat p\u00e5 eksakt match p\u00e5 dette feltet.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "kommune",
                        "in": "query",
                        "description": "Filtrer s\u00f8keresultat p\u00e5 eksakt match p\u00e5 dette feltet.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ei side (page) med data. Inntil 100 rader",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ldir-produksjonstilskudd-2014aug-response"
                                }
                            }
                        },
                        "headers": {
                            "ETag": {
                                "$ref": "#\/components\/headers\/ETag"
                            },
                            "X-Datahotel-Page": {
                                "$ref": "#\/components\/headers\/X-Datahotel-Page"
                            },
                            "X-Datahotel-Total-Pages": {
                                "$ref": "#\/components\/headers\/X-Datahotel-Total-Pages"
                            },
                            "X-Datahotel-Total-Posts": {
                                "$ref": "#\/components\/headers\/X-Datahotel-Total-Posts"
                            }
                        }
                    }
                }
            }
        },
        "\/download\/ldir\/produksjonstilskudd\/2014aug": {
            "get": {
                "summary": "Last ned heile datasettet som CSV",
                "description": "Teiknsett er UTF8. Dersom fila skal opnast i Excel eller liknande, bruk parameter ?download. For alle andre bruksomr\u00e5de vil nedlasting utan ?download-parameteret passe betre.",
                "tags": [
                    "2014aug"
                ],
                "operationId": "downloadLdirProduksjonstilskudd2014aug",
                "parameters": [
                    {
                        "name": "download",
                        "in": "query",
                        "description": "Dersom parameter er angitt, s\u00e5 f\u00e5r ein fil med UTF8 _med_ BOM i staden for UTF8. Denne varianter egnar seg dersom ein vil opne fila i Excel eller liknande",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Last ned heile datasettet som CSV",
                        "content": {
                            "text\/csv": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "application~\/vnd.ms-excel~": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "headers": {
                            "ETag": {
                                "$ref": "#\/components\/headers\/ETag"
                            }
                        }
                    }
                }
            }
        },
        "\/api\/{format}\/ldir\/produksjonstilskudd\/2014aug\/meta": {
            "get": {
                "description": "Hent ut metadata for datasettet. ",
                "tags": [
                    "2014aug"
                ],
                "operationId": "getLdirProduksjonstilskudd2014augMetadata",
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "description": "Velg format",
                        "required": true,
                        "schema": {
                            "$ref": "#\/components\/schemas\/datahotelMetadataFormats"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Metadata",
                        "content": {
                            "application\/json": {
                                "example": "{\n    \"shortName\": \"2014aug\",\n    \"name\": \"Landbruksdirektoratet - Produksjonstilskudd jordbruksforetak august 2014\",\n    \"location\": \"ldir\/produksjonstilskudd\/2014aug\",\n    \"updated\": 1431676449,\n    \"dataset\": true\n}",
                                "schema": {
                                    "$ref": "#\/components\/schemas\/datasetMetadata"
                                }
                            }
                        },
                        "headers": {
                            "ETag": {
                                "$ref": "#\/components\/headers\/ETag"
                            }
                        }
                    }
                }
            }
        },
        "\/api\/{format}\/ldir\/produksjonstilskudd\/2014aug\/fields": {
            "get": {
                "description": "Hent ut feltdefinisjonar for datasettet. ",
                "tags": [
                    "2014aug"
                ],
                "operationId": "getLdirProduksjonstilskudd2014augFields",
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "description": "Velg format",
                        "required": true,
                        "schema": {
                            "$ref": "#\/components\/schemas\/datahotelMetadataFormats"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Feltdefinisjoner",
                        "content": {
                            "application\/json": {
                                "example": "[\n    {\n        \"name\": \"Organisasjonsnummer\",\n        \"shortName\": \"orgnr\",\n        \"groupable\": true,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false\n    },\n    {\n        \"name\": \"Navn\",\n        \"shortName\": \"navn\",\n        \"groupable\": false,\n        \"searchable\": true,\n        \"indexPrimaryKey\": false\n    },\n    {\n        \"name\": \"Kommunenummer\",\n        \"shortName\": \"kommune\",\n        \"groupable\": true,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false\n    },\n    {\n        \"name\": \"Tilskudd melk\",\n        \"shortName\": \"dt_melk\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Driftstilskudd til melkeproduksjon\"\n    },\n    {\n        \"name\": \"Tilskudd kj\\u00f8ttfe\",\n        \"shortName\": \"dt_kjottfe\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Driftstilskudd til kj\\u00f8ttfe-produksjon\"\n    },\n    {\n        \"name\": \"Tilskudd husdyr\",\n        \"shortName\": \"t_husdyr\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Tilskudd til husdyr\"\n    },\n    {\n        \"name\": \"Tilskudd beite\",\n        \"shortName\": \"t_beite\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Beite-tilskudd\"\n    },\n    {\n        \"name\": \"Tilskudd utmarksbeite\",\n        \"shortName\": \"t_utmarksbeite\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Tilskudd til dyr p\\u00e5 utmarks-beite\"\n    },\n    {\n        \"name\": \"Tilskudd areal\",\n        \"shortName\": \"t_areal\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Areal-tilskudd\"\n    },\n    {\n        \"name\": \"Tilskudd kultur-landskap\",\n        \"shortName\": \"t_klandskap\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Kulturlandskaps-tilskudd\"\n    },\n    {\n        \"name\": \"Tilskudd \\u00f8kologisk omlegging\",\n        \"shortName\": \"t_oko_omlegging\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Tilskudd til \\u00f8kologisk landbruk - omleggingstilskudd\"\n    },\n    {\n        \"name\": \"Tilskudd \\u00f8kologisk areal\",\n        \"shortName\": \"t_oko_areal\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Tilskudd til \\u00f8kologisk landbruk - arealtilskudd\"\n    },\n    {\n        \"name\": \"Tilskudd \\u00f8kologisk husdyr\",\n        \"shortName\": \"t_oko_husdyr\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Tilskudd til \\u00f8kologisk landbruk - husdyrtilskudd\"\n    },\n    {\n        \"name\": \"Bunn-fradrag\",\n        \"shortName\": \"bunnfradrag\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false\n    },\n    {\n        \"name\": \"Sum tilskudd\",\n        \"shortName\": \"tilskudd\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false\n    }\n]",
                                "schema": {
                                    "$ref": "#\/components\/schemas\/datasetFields"
                                }
                            }
                        },
                        "headers": {
                            "ETag": {
                                "$ref": "#\/components\/headers\/ETag"
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "datahotelFormats": {
                "type": "string",
                "enum": [
                    "json",
                    "jsonp",
                    "xml",
                    "csv",
                    "yaml"
                ]
            },
            "datahotelMetadataFormats": {
                "type": "string",
                "enum": [
                    "json",
                    "jsonp",
                    "xml",
                    "yaml"
                ]
            },
            "datasetMetadata": {
                "type": "object",
                "properties": {
                    "shortName": {
                        "type": "string",
                        "description": "Kortnamn for datasettet. Samme som siste ledd i location."
                    },
                    "name": {
                        "type": "string",
                        "description": "Menneskelesbart namn for datasettet."
                    },
                    "location": {
                        "type": "string",
                        "description": "Unik datasett-id i datahotellet"
                    },
                    "updated": {
                        "type": "integer",
                        "description": "Timestamp for n\u00e5r tid datasettet sist vart endra p\u00e5 datahotellet. Verdien er unix timestamp, enten i sekund (10 siffer) eller millisekund (13 siffer)."
                    },
                    "dataset": {
                        "type": "boolean",
                        "description": "True dersom location er eit datasett, false dersom ikkje. Ved false kan location vere ein katalog som inneheld datasett."
                    }
                }
            },
            "datasetFields": {
                "type": "array",
                "items": {
                    "type": "object",
                    "properties": {
                        "name": {
                            "type": "string",
                            "description": "Menneskelesbart namn p\u00e5 feltet."
                        },
                        "shortName": {
                            "type": "string",
                            "description": "Kortnamn for felt. Samme som feltnamn brukt i respons og overskriftsrad i CSV-fila."
                        },
                        "groupable": {
                            "type": "boolean",
                            "description": "Kan gruppere\/filtrere p\u00e5 dette feltet via query-parameter. E.g. \u00ab?shortName=verdi\u00bb."
                        },
                        "searchable": {
                            "type": "boolean",
                            "description": "Om dette feltet er s\u00f8kbart via query-parameteret. E.g. \u00ab?query=s\u00f8kestreng\u00bb"
                        },
                        "indexPrimaryKey": {
                            "type": "boolean",
                            "description": "Ikkje i bruk."
                        }
                    }
                }
            },
            "ldir-produksjonstilskudd-2014aug-record": {
                "type": "object",
                "properties": {
                    "orgnr": {
                        "type": "string",
                        "example": "969620634",
                        "description": "Organisasjonsnummer"
                    },
                    "navn": {
                        "type": "string",
                        "example": "AAS ANDREAS"
                    },
                    "kommune": {
                        "type": "string",
                        "example": "0101",
                        "description": "Kommunenummer"
                    },
                    "dt_melk": {
                        "type": "string",
                        "example": "0",
                        "description": "Tilskudd melk.\nDriftstilskudd til melkeproduksjon"
                    },
                    "dt_kjottfe": {
                        "type": "string",
                        "example": "0",
                        "description": "Tilskudd kj\u00f8ttfe.\nDriftstilskudd til kj\u00f8ttfe-produksjon"
                    },
                    "t_husdyr": {
                        "type": "string",
                        "example": "0",
                        "description": "Tilskudd husdyr.\nTilskudd til husdyr"
                    },
                    "t_beite": {
                        "type": "string",
                        "example": "0",
                        "description": "Tilskudd beite.\nBeite-tilskudd"
                    },
                    "t_utmarksbeite": {
                        "type": "string",
                        "example": "0",
                        "description": "Tilskudd utmarksbeite.\nTilskudd til dyr p\u00e5 utmarks-beite"
                    },
                    "t_areal": {
                        "type": "string",
                        "example": "67183",
                        "description": "Tilskudd areal.\nAreal-tilskudd"
                    },
                    "t_klandskap": {
                        "type": "string",
                        "example": "98394",
                        "description": "Tilskudd kultur-landskap.\nKulturlandskaps-tilskudd"
                    },
                    "t_oko_omlegging": {
                        "type": "string",
                        "example": "0",
                        "description": "Tilskudd \u00f8kologisk omlegging.\nTilskudd til \u00f8kologisk landbruk - omleggingstilskudd"
                    },
                    "t_oko_areal": {
                        "type": "string",
                        "example": "0",
                        "description": "Tilskudd \u00f8kologisk areal.\nTilskudd til \u00f8kologisk landbruk - arealtilskudd"
                    },
                    "t_oko_husdyr": {
                        "type": "string",
                        "example": "0",
                        "description": "Tilskudd \u00f8kologisk husdyr.\nTilskudd til \u00f8kologisk landbruk - husdyrtilskudd"
                    },
                    "bunnfradrag": {
                        "type": "string",
                        "example": "6000",
                        "description": "Bunn-fradrag"
                    },
                    "tilskudd": {
                        "type": "string",
                        "example": "159577",
                        "description": "Sum tilskudd"
                    }
                }
            },
            "ldir-produksjonstilskudd-2014aug-response": {
                "type": "object",
                "properties": {
                    "entries": {
                        "type": "array",
                        "items": {
                            "$ref": "#\/components\/schemas\/ldir-produksjonstilskudd-2014aug-record"
                        }
                    },
                    "page": {
                        "type": "integer",
                        "description": "Side (page) av resultatet som er returnert."
                    },
                    "pages": {
                        "type": "integer",
                        "description": "Tal p\u00e5 sider totalt."
                    },
                    "posts": {
                        "type": "integer",
                        "description": "Tal p\u00e5 postar totalt."
                    }
                }
            }
        },
        "headers": {
            "X-Datahotel-Page": {
                "description": "Side (page) av resultatet som er returnert.",
                "schema": {
                    "type": "integer"
                }
            },
            "X-Datahotel-Total-Pages": {
                "description": "Tal p\u00e5 sider totalt.",
                "schema": {
                    "type": "integer"
                }
            },
            "X-Datahotel-Total-Posts": {
                "description": "Tal p\u00e5 postar totalt.",
                "schema": {
                    "type": "integer"
                }
            },
            "ETag": {
                "description": "Fungerer som standard HTTP ETag. Timestamp for n\u00e5r tid datasettet sist vart endra p\u00e5 datahotellet. Verdien er unix timestamp, enten i sekund (10 siffer) eller millisekund (13 siffer).",
                "schema": {
                    "type": "integer"
                }
            }
        }
    },
    "tags": [
        {
            "name": "2014aug",
            "description": "Landbruksdirektoratet - Produksjonstilskudd jordbruksforetak august 2014",
            "externalDocs": {
                "url": "https:\/\/hotell.difi.no\/?dataset=ldir\/produksjonstilskudd\/2014aug"
            }
        }
    ],
    "externalDocs": {
        "description": "Meir dokumentasjon for hotell.difi.no",
        "url": "https:\/\/hotell.difi.no\/api"
    }
}