{
    "openapi": "3.0.0",
    "info": {
        "description": "<p>Sj\u00e5 <a href=\"https:\/\/data.norge.no\/node\/1302\">datasett-oppf\u00f8ring<\/a> for meir informasjon (kontaktinformasjon, oppdateringsfrekvens, lenker til dokumentasjon etc.)<\/p>\n",
        "version": "1.0.0",
        "title": "Leveranser til slakteri i landbruket i 2014",
        "license": {
            "name": "Data-lisens",
            "url": "http:\/\/data.norge.no\/nlod\/"
        },
        "termsOfService": "https:\/\/hotell.difi.no\/api"
    },
    "servers": [
        {
            "url": "https:\/\/hotell.difi.no"
        }
    ],
    "paths": {
        "\/api\/{format}\/ldir\/leveransedata-slakt\/2014": {
            "get": {
                "tags": [
                    "2014"
                ],
                "description": "Hent ut ei side (page) med data. Inntil 100 postar pr. side.",
                "operationId": "getLdirLeveransedata-slakt2014Page",
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "description": "Velg format",
                        "required": true,
                        "schema": {
                            "$ref": "#\/components\/schemas\/datahotelFormats"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Spesifiser side i resultatet \u00e5 hente ut. Standardverdi: 1.",
                        "required": false
                    },
                    {
                        "name": "query",
                        "in": "query",
                        "description": "S\u00f8k i datasettet. Gir treff p\u00e5 felt: orgnr, navn, komnr",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "komnr",
                        "in": "query",
                        "description": "Filtrer s\u00f8keresultat p\u00e5 eksakt match p\u00e5 dette feltet.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ei side (page) med data. Inntil 100 rader",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ldir-leveransedata-slakt-2014-response"
                                }
                            }
                        },
                        "headers": {
                            "ETag": {
                                "$ref": "#\/components\/headers\/ETag"
                            },
                            "X-Datahotel-Page": {
                                "$ref": "#\/components\/headers\/X-Datahotel-Page"
                            },
                            "X-Datahotel-Total-Pages": {
                                "$ref": "#\/components\/headers\/X-Datahotel-Total-Pages"
                            },
                            "X-Datahotel-Total-Posts": {
                                "$ref": "#\/components\/headers\/X-Datahotel-Total-Posts"
                            }
                        }
                    }
                }
            }
        },
        "\/download\/ldir\/leveransedata-slakt\/2014": {
            "get": {
                "summary": "Last ned heile datasettet som CSV",
                "description": "Teiknsett er UTF8. Dersom fila skal opnast i Excel eller liknande, bruk parameter ?download. For alle andre bruksomr\u00e5de vil nedlasting utan ?download-parameteret passe betre.",
                "tags": [
                    "2014"
                ],
                "operationId": "downloadLdirLeveransedata-slakt2014",
                "parameters": [
                    {
                        "name": "download",
                        "in": "query",
                        "description": "Dersom parameter er angitt, s\u00e5 f\u00e5r ein fil med UTF8 _med_ BOM i staden for UTF8. Denne varianter egnar seg dersom ein vil opne fila i Excel eller liknande",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Last ned heile datasettet som CSV",
                        "content": {
                            "text\/csv": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "application~\/vnd.ms-excel~": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "headers": {
                            "ETag": {
                                "$ref": "#\/components\/headers\/ETag"
                            }
                        }
                    }
                }
            }
        },
        "\/api\/{format}\/ldir\/leveransedata-slakt\/2014\/meta": {
            "get": {
                "description": "Hent ut metadata for datasettet. ",
                "tags": [
                    "2014"
                ],
                "operationId": "getLdirLeveransedata-slakt2014Metadata",
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "description": "Velg format",
                        "required": true,
                        "schema": {
                            "$ref": "#\/components\/schemas\/datahotelMetadataFormats"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Metadata",
                        "content": {
                            "application\/json": {
                                "example": "{\n    \"shortName\": \"2014\",\n    \"name\": \"Landbruksdirektoratet - Leveransedata for slakt 2014\",\n    \"location\": \"ldir\/leveransedata-slakt\/2014\",\n    \"updated\": 1430828320,\n    \"dataset\": true\n}",
                                "schema": {
                                    "$ref": "#\/components\/schemas\/datasetMetadata"
                                }
                            }
                        },
                        "headers": {
                            "ETag": {
                                "$ref": "#\/components\/headers\/ETag"
                            }
                        }
                    }
                }
            }
        },
        "\/api\/{format}\/ldir\/leveransedata-slakt\/2014\/fields": {
            "get": {
                "description": "Hent ut feltdefinisjonar for datasettet. ",
                "tags": [
                    "2014"
                ],
                "operationId": "getLdirLeveransedata-slakt2014Fields",
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "description": "Velg format",
                        "required": true,
                        "schema": {
                            "$ref": "#\/components\/schemas\/datahotelMetadataFormats"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Feltdefinisjoner",
                        "content": {
                            "application\/json": {
                                "example": "[\n    {\n        \"name\": \"Organisasjonsnr\",\n        \"shortName\": \"orgnr\",\n        \"groupable\": false,\n        \"searchable\": true,\n        \"indexPrimaryKey\": false\n    },\n    {\n        \"name\": \"Navn\",\n        \"shortName\": \"navn\",\n        \"groupable\": false,\n        \"searchable\": true,\n        \"indexPrimaryKey\": false\n    },\n    {\n        \"name\": \"Kommunenr\",\n        \"shortName\": \"komnr\",\n        \"groupable\": true,\n        \"searchable\": true,\n        \"indexPrimaryKey\": false\n    },\n    {\n        \"name\": \"And(kg)\",\n        \"shortName\": \"and_kg\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false\n    },\n    {\n        \"name\": \"Geit (kg)\",\n        \"shortName\": \"geit_kg\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false\n    },\n    {\n        \"name\": \"Kje (kg)\",\n        \"shortName\": \"kje_kg\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false\n    },\n    {\n        \"name\": \"Gris (kg)\",\n        \"shortName\": \"gris_kg\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false\n    },\n    {\n        \"name\": \"Purke (kg)\",\n        \"shortName\": \"purke_kg\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false\n    },\n    {\n        \"name\": \"R\\u00e5ne (kg)\",\n        \"shortName\": \"raane_kg\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false\n    },\n    {\n        \"name\": \"G\\u00e5s (kg)\",\n        \"shortName\": \"gaas_kg\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false\n    },\n    {\n        \"name\": \"Hane (kg)\",\n        \"shortName\": \"hane_kg\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false\n    },\n    {\n        \"name\": \"Hest f\\u00f8ll (kg)\",\n        \"shortName\": \"hest_foll_kg\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false\n    },\n    {\n        \"name\": \"H\\u00f8ns (kg)\",\n        \"shortName\": \"hons_kg\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false\n    },\n    {\n        \"name\": \"Kalkun (kg)\",\n        \"shortName\": \"kalkun_kg\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false\n    },\n    {\n        \"name\": \"Kalv (kg)\",\n        \"shortName\": \"kalv_kg\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false\n    },\n    {\n        \"name\": \"Kylling (kg)\",\n        \"shortName\": \"kylling_kg\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false\n    },\n    {\n        \"name\": \"Lam (kg)\",\n        \"shortName\": \"lam_kg\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false\n    },\n    {\n        \"name\": \"Lam villsau (kg)\",\n        \"shortName\": \"lam_villsau_kg\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false\n    },\n    {\n        \"name\": \"Sau (kg)\",\n        \"shortName\": \"sau_kg\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false\n    },\n    {\n        \"name\": \"Ungsau (kg)\",\n        \"shortName\": \"ungsau_kg\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false\n    },\n    {\n        \"name\": \"V\\u00e6r (kg)\",\n        \"shortName\": \"vaer_kg\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false\n    },\n    {\n        \"name\": \"Ku (kg)\",\n        \"shortName\": \"ku_kg\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false\n    },\n    {\n        \"name\": \"Kvige (kg)\",\n        \"shortName\": \"kvige_kg\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false\n    },\n    {\n        \"name\": \"Okse (kg)\",\n        \"shortName\": \"okse_kg\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false\n    },\n    {\n        \"name\": \"Ungokse kastrat (kg)\",\n        \"shortName\": \"ungokse_kastrat_kg\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false\n    },\n    {\n        \"name\": \"Ungku (kg)\",\n        \"shortName\": \"ungku_kg\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false\n    },\n    {\n        \"name\": \"Ull (kg)\",\n        \"shortName\": \"ull_kg\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false\n    }\n]",
                                "schema": {
                                    "$ref": "#\/components\/schemas\/datasetFields"
                                }
                            }
                        },
                        "headers": {
                            "ETag": {
                                "$ref": "#\/components\/headers\/ETag"
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "datahotelFormats": {
                "type": "string",
                "enum": [
                    "json",
                    "jsonp",
                    "xml",
                    "csv",
                    "yaml"
                ]
            },
            "datahotelMetadataFormats": {
                "type": "string",
                "enum": [
                    "json",
                    "jsonp",
                    "xml",
                    "yaml"
                ]
            },
            "datasetMetadata": {
                "type": "object",
                "properties": {
                    "shortName": {
                        "type": "string",
                        "description": "Kortnamn for datasettet. Samme som siste ledd i location."
                    },
                    "name": {
                        "type": "string",
                        "description": "Menneskelesbart namn for datasettet."
                    },
                    "location": {
                        "type": "string",
                        "description": "Unik datasett-id i datahotellet"
                    },
                    "updated": {
                        "type": "integer",
                        "description": "Timestamp for n\u00e5r tid datasettet sist vart endra p\u00e5 datahotellet. Verdien er unix timestamp, enten i sekund (10 siffer) eller millisekund (13 siffer)."
                    },
                    "dataset": {
                        "type": "boolean",
                        "description": "True dersom location er eit datasett, false dersom ikkje. Ved false kan location vere ein katalog som inneheld datasett."
                    }
                }
            },
            "datasetFields": {
                "type": "array",
                "items": {
                    "type": "object",
                    "properties": {
                        "name": {
                            "type": "string",
                            "description": "Menneskelesbart namn p\u00e5 feltet."
                        },
                        "shortName": {
                            "type": "string",
                            "description": "Kortnamn for felt. Samme som feltnamn brukt i respons og overskriftsrad i CSV-fila."
                        },
                        "groupable": {
                            "type": "boolean",
                            "description": "Kan gruppere\/filtrere p\u00e5 dette feltet via query-parameter. E.g. \u00ab?shortName=verdi\u00bb."
                        },
                        "searchable": {
                            "type": "boolean",
                            "description": "Om dette feltet er s\u00f8kbart via query-parameteret. E.g. \u00ab?query=s\u00f8kestreng\u00bb"
                        },
                        "indexPrimaryKey": {
                            "type": "boolean",
                            "description": "Ikkje i bruk."
                        }
                    }
                }
            },
            "ldir-leveransedata-slakt-2014-record": {
                "type": "object",
                "properties": {
                    "orgnr": {
                        "type": "string",
                        "example": "969188163",
                        "description": "Organisasjonsnr"
                    },
                    "navn": {
                        "type": "string",
                        "example": "OTERKIIL DAG ANDERS"
                    },
                    "komnr": {
                        "type": "string",
                        "example": "0806",
                        "description": "Kommunenr"
                    },
                    "and_kg": {
                        "type": "string",
                        "example": "0,00",
                        "description": "And(kg)"
                    },
                    "geit_kg": {
                        "type": "string",
                        "example": "46,80",
                        "description": "Geit (kg)"
                    },
                    "kje_kg": {
                        "type": "string",
                        "example": "0,00",
                        "description": "Kje (kg)"
                    },
                    "gris_kg": {
                        "type": "string",
                        "example": "0,00",
                        "description": "Gris (kg)"
                    },
                    "purke_kg": {
                        "type": "string",
                        "example": "0,00",
                        "description": "Purke (kg)"
                    },
                    "raane_kg": {
                        "type": "string",
                        "example": "0,00",
                        "description": "R\u00e5ne (kg)"
                    },
                    "gaas_kg": {
                        "type": "string",
                        "example": "0,00",
                        "description": "G\u00e5s (kg)"
                    },
                    "hane_kg": {
                        "type": "string",
                        "example": "0,00",
                        "description": "Hane (kg)"
                    },
                    "hest_foll_kg": {
                        "type": "string",
                        "example": "0,00",
                        "description": "Hest f\u00f8ll (kg)"
                    },
                    "hons_kg": {
                        "type": "string",
                        "example": "0,00",
                        "description": "H\u00f8ns (kg)"
                    },
                    "kalkun_kg": {
                        "type": "string",
                        "example": "0,00",
                        "description": "Kalkun (kg)"
                    },
                    "kalv_kg": {
                        "type": "string",
                        "example": "0,00",
                        "description": "Kalv (kg)"
                    },
                    "kylling_kg": {
                        "type": "string",
                        "example": "0,00",
                        "description": "Kylling (kg)"
                    },
                    "lam_kg": {
                        "type": "string",
                        "example": "826,90",
                        "description": "Lam (kg)"
                    },
                    "lam_villsau_kg": {
                        "type": "string",
                        "example": "0,00",
                        "description": "Lam villsau (kg)"
                    },
                    "sau_kg": {
                        "type": "string",
                        "example": "45,80",
                        "description": "Sau (kg)"
                    },
                    "ungsau_kg": {
                        "type": "string",
                        "example": "68,90",
                        "description": "Ungsau (kg)"
                    },
                    "vaer_kg": {
                        "type": "string",
                        "example": "0,00",
                        "description": "V\u00e6r (kg)"
                    },
                    "ku_kg": {
                        "type": "string",
                        "example": "0,00",
                        "description": "Ku (kg)"
                    },
                    "kvige_kg": {
                        "type": "string",
                        "example": "0,00",
                        "description": "Kvige (kg)"
                    },
                    "okse_kg": {
                        "type": "string",
                        "example": "0,00",
                        "description": "Okse (kg)"
                    },
                    "ungokse_kastrat_kg": {
                        "type": "string",
                        "example": "0,00",
                        "description": "Ungokse kastrat (kg)"
                    },
                    "ungku_kg": {
                        "type": "string",
                        "example": "0,00",
                        "description": "Ungku (kg)"
                    },
                    "ull_kg": {
                        "type": "string",
                        "example": "226,50",
                        "description": "Ull (kg)"
                    }
                }
            },
            "ldir-leveransedata-slakt-2014-response": {
                "type": "object",
                "properties": {
                    "entries": {
                        "type": "array",
                        "items": {
                            "$ref": "#\/components\/schemas\/ldir-leveransedata-slakt-2014-record"
                        }
                    },
                    "page": {
                        "type": "integer",
                        "description": "Side (page) av resultatet som er returnert."
                    },
                    "pages": {
                        "type": "integer",
                        "description": "Tal p\u00e5 sider totalt."
                    },
                    "posts": {
                        "type": "integer",
                        "description": "Tal p\u00e5 postar totalt."
                    }
                }
            }
        },
        "headers": {
            "X-Datahotel-Page": {
                "description": "Side (page) av resultatet som er returnert.",
                "schema": {
                    "type": "integer"
                }
            },
            "X-Datahotel-Total-Pages": {
                "description": "Tal p\u00e5 sider totalt.",
                "schema": {
                    "type": "integer"
                }
            },
            "X-Datahotel-Total-Posts": {
                "description": "Tal p\u00e5 postar totalt.",
                "schema": {
                    "type": "integer"
                }
            },
            "ETag": {
                "description": "Fungerer som standard HTTP ETag. Timestamp for n\u00e5r tid datasettet sist vart endra p\u00e5 datahotellet. Verdien er unix timestamp, enten i sekund (10 siffer) eller millisekund (13 siffer).",
                "schema": {
                    "type": "integer"
                }
            }
        }
    },
    "tags": [
        {
            "name": "2014",
            "description": "Landbruksdirektoratet - Leveransedata for slakt 2014",
            "externalDocs": {
                "url": "https:\/\/hotell.difi.no\/?dataset=ldir\/leveransedata-slakt\/2014"
            }
        }
    ],
    "externalDocs": {
        "description": "Meir dokumentasjon for hotell.difi.no",
        "url": "https:\/\/hotell.difi.no\/api"
    }
}