{
    "openapi": "3.0.0",
    "info": {
        "description": "<p>Sj\u00e5 <a href=\"https:\/\/data.norge.no\/node\/1651\">datasett-oppf\u00f8ring<\/a> for meir informasjon (kontaktinformasjon, oppdateringsfrekvens, lenker til dokumentasjon etc.)<\/p>\n",
        "version": "1.0.0",
        "title": "Kvalitet p\u00e5 nett - resultatliste 2016",
        "license": {
            "name": "Data-lisens",
            "url": "http:\/\/data.norge.no\/nlod\/"
        },
        "termsOfService": "https:\/\/hotell.difi.no\/api"
    },
    "servers": [
        {
            "url": "https:\/\/hotell.difi.no"
        }
    ],
    "paths": {
        "\/api\/{format}\/difi\/kvalitet\/oversikt2016": {
            "get": {
                "tags": [
                    "oversikt2016"
                ],
                "description": "Hent ut ei side (page) med data. Inntil 100 postar pr. side.",
                "operationId": "getDifiKvalitetOversikt2016Page",
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "description": "Velg format",
                        "required": true,
                        "schema": {
                            "$ref": "#\/components\/schemas\/datahotelFormats"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Spesifiser side i resultatet \u00e5 hente ut. Standardverdi: 1.",
                        "required": false
                    },
                    {
                        "name": "query",
                        "in": "query",
                        "description": "S\u00f8k i datasettet. Gir treff p\u00e5 felt: nettstednavn",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "vurderingid",
                        "in": "query",
                        "description": "Filtrer s\u00f8keresultat p\u00e5 eksakt match p\u00e5 dette feltet.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "poeng",
                        "in": "query",
                        "description": "Filtrer s\u00f8keresultat p\u00e5 eksakt match p\u00e5 dette feltet.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "snittprosent",
                        "in": "query",
                        "description": "Filtrer s\u00f8keresultat p\u00e5 eksakt match p\u00e5 dette feltet.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "stjerner",
                        "in": "query",
                        "description": "Filtrer s\u00f8keresultat p\u00e5 eksakt match p\u00e5 dette feltet.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "finnbarhet_poeng",
                        "in": "query",
                        "description": "Filtrer s\u00f8keresultat p\u00e5 eksakt match p\u00e5 dette feltet.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "troverdig_poeng",
                        "in": "query",
                        "description": "Filtrer s\u00f8keresultat p\u00e5 eksakt match p\u00e5 dette feltet.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "trygg_poeng",
                        "in": "query",
                        "description": "Filtrer s\u00f8keresultat p\u00e5 eksakt match p\u00e5 dette feltet.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "virker_poeng",
                        "in": "query",
                        "description": "Filtrer s\u00f8keresultat p\u00e5 eksakt match p\u00e5 dette feltet.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "bruk_poeng",
                        "in": "query",
                        "description": "Filtrer s\u00f8keresultat p\u00e5 eksakt match p\u00e5 dette feltet.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "hjelp_poeng",
                        "in": "query",
                        "description": "Filtrer s\u00f8keresultat p\u00e5 eksakt match p\u00e5 dette feltet.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ei side (page) med data. Inntil 100 rader",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/difi-kvalitet-oversikt2016-response"
                                }
                            }
                        },
                        "headers": {
                            "ETag": {
                                "$ref": "#\/components\/headers\/ETag"
                            },
                            "X-Datahotel-Page": {
                                "$ref": "#\/components\/headers\/X-Datahotel-Page"
                            },
                            "X-Datahotel-Total-Pages": {
                                "$ref": "#\/components\/headers\/X-Datahotel-Total-Pages"
                            },
                            "X-Datahotel-Total-Posts": {
                                "$ref": "#\/components\/headers\/X-Datahotel-Total-Posts"
                            }
                        }
                    }
                }
            }
        },
        "\/download\/difi\/kvalitet\/oversikt2016": {
            "get": {
                "summary": "Last ned heile datasettet som CSV",
                "description": "Teiknsett er UTF8. Dersom fila skal opnast i Excel eller liknande, bruk parameter ?download. For alle andre bruksomr\u00e5de vil nedlasting utan ?download-parameteret passe betre.",
                "tags": [
                    "oversikt2016"
                ],
                "operationId": "downloadDifiKvalitetOversikt2016",
                "parameters": [
                    {
                        "name": "download",
                        "in": "query",
                        "description": "Dersom parameter er angitt, s\u00e5 f\u00e5r ein fil med UTF8 _med_ BOM i staden for UTF8. Denne varianter egnar seg dersom ein vil opne fila i Excel eller liknande",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Last ned heile datasettet som CSV",
                        "content": {
                            "text\/csv": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "application~\/vnd.ms-excel~": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "headers": {
                            "ETag": {
                                "$ref": "#\/components\/headers\/ETag"
                            }
                        }
                    }
                }
            }
        },
        "\/api\/{format}\/difi\/kvalitet\/oversikt2016\/meta": {
            "get": {
                "description": "Hent ut metadata for datasettet. ",
                "tags": [
                    "oversikt2016"
                ],
                "operationId": "getDifiKvalitetOversikt2016Metadata",
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "description": "Velg format",
                        "required": true,
                        "schema": {
                            "$ref": "#\/components\/schemas\/datahotelMetadataFormats"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Metadata",
                        "content": {
                            "application\/json": {
                                "example": "{\n    \"shortName\": \"oversikt2016\",\n    \"name\": \"Oversikt 2016\",\n    \"location\": \"difi\/kvalitet\/oversikt2016\",\n    \"updated\": 1465394990,\n    \"dataset\": true\n}",
                                "schema": {
                                    "$ref": "#\/components\/schemas\/datasetMetadata"
                                }
                            }
                        },
                        "headers": {
                            "ETag": {
                                "$ref": "#\/components\/headers\/ETag"
                            }
                        }
                    }
                }
            }
        },
        "\/api\/{format}\/difi\/kvalitet\/oversikt2016\/fields": {
            "get": {
                "description": "Hent ut feltdefinisjonar for datasettet. ",
                "tags": [
                    "oversikt2016"
                ],
                "operationId": "getDifiKvalitetOversikt2016Fields",
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "description": "Velg format",
                        "required": true,
                        "schema": {
                            "$ref": "#\/components\/schemas\/datahotelMetadataFormats"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Feltdefinisjoner",
                        "content": {
                            "application\/json": {
                                "example": "[\n    {\n        \"name\": \"VURDERINGID\",\n        \"shortName\": \"vurderingid\",\n        \"groupable\": true,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Vurdering identifikator\"\n    },\n    {\n        \"name\": \"NETTSTEDNAVN\",\n        \"shortName\": \"nettstednavn\",\n        \"groupable\": false,\n        \"searchable\": true,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Navn p\\u00e5 vurdert virksomhet\"\n    },\n    {\n        \"name\": \"URL\",\n        \"shortName\": \"url\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Adresse til vurdert nettsted\"\n    },\n    {\n        \"name\": \"POENG\",\n        \"shortName\": \"poeng\",\n        \"groupable\": true,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Poengsum tildelt dette kriteriet\"\n    },\n    {\n        \"name\": \"MAXPOENG\",\n        \"shortName\": \"maxpoeng\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Maks poengsum det er mulig \\u00e5 f\\u00e5 p\\u00e5 kriteriet\"\n    },\n    {\n        \"name\": \"SNITTPOROSENT\",\n        \"shortName\": \"snittprosent\",\n        \"groupable\": true,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Snittprosent av tildelte poeng for kriteriet\"\n    },\n    {\n        \"name\": \"ANTALLSTJERNER\",\n        \"shortName\": \"stjerner\",\n        \"groupable\": true,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Antall stjerner tildelt etter vurderingen\"\n    },\n    {\n        \"name\": \"FINNBARHET_POENG\",\n        \"shortName\": \"finnbarhet_poeng\",\n        \"groupable\": true,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Poengsum tildelt for kriteriesett 'Tjenesten er enkel \\u00e5 finne'\"\n    },\n    {\n        \"name\": \"FINNBARHET_MAXSCORE\",\n        \"shortName\": \"finnbarhet_maxpoeng\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Maks oppn\\u00e5elig poengsum tildelt for kriteriesett 'Tjenesten er enkel \\u00e5 finne'\"\n    },\n    {\n        \"name\": \"TROVERDIG_POENG\",\n        \"shortName\": \"troverdig_poeng\",\n        \"groupable\": true,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Poengsum tildelt for kriteriesett 'Tjenesten er troverdig'\"\n    },\n    {\n        \"name\": \"TROVERDIG_MAXSCORE\",\n        \"shortName\": \"troverdig_maxpoeng\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Maks oppn\\u00e5elig poengsum tildelt for kriteriesett 'Tjenesten er troverdig'\"\n    },\n    {\n        \"name\": \"TRYGG_POENG\",\n        \"shortName\": \"trygg_poeng\",\n        \"groupable\": true,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Poengsum tildelt for kriteriesett 'Tjenesten er trygg \\u00e5 bruke'\"\n    },\n    {\n        \"name\": \"TRYGG_MAXSCORE\",\n        \"shortName\": \"trygg_maxpoeng\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Maks oppn\\u00e5elig poengsum tildelt for kriteriesett 'Tjenesten er trygg \\u00e5 bruke'\"\n    },\n    {\n        \"name\": \"VIRKER_POENG\",\n        \"shortName\": \"virker_poeng\",\n        \"groupable\": true,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Poengsum tildelt for kriteriesett 'Tjenesten virker (fungerer godt)'\"\n    },\n    {\n        \"name\": \"VIRKER_MAXSCORE\",\n        \"shortName\": \"virker_maxpoeng\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Maks oppn\\u00e5elig poengsum tildelt for kriteriesett 'Tjenesten virker (fungerer godt)'\"\n    },\n    {\n        \"name\": \"BRUK_POENG\",\n        \"shortName\": \"bruk_poeng\",\n        \"groupable\": true,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Poengsum tildelt for kriteriesett 'Tjenesten er enkel \\u00e5 bruke for alle'\"\n    },\n    {\n        \"name\": \"BRUK_MAXSCORE\",\n        \"shortName\": \"bruk_maxpoeng\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Maks oppn\\u00e5elig poengsum tildelt for kriteriesett 'Tjenesten er enkel \\u00e5 bruke for alle'\"\n    },\n    {\n        \"name\": \"HJELP_POENG\",\n        \"shortName\": \"hjelp_poeng\",\n        \"groupable\": true,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Poengsum tildelt for kriteriesett 'Det er lett \\u00e5 f\\u00e5 hjelp'\"\n    },\n    {\n        \"name\": \"HJELP_MAXSCORE\",\n        \"shortName\": \"hjelp_maxpoeng\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Maks oppn\\u00e5elig poengsum tildelt for kriteriesett 'Det er lett \\u00e5 f\\u00e5 hjelp'\"\n    }\n]",
                                "schema": {
                                    "$ref": "#\/components\/schemas\/datasetFields"
                                }
                            }
                        },
                        "headers": {
                            "ETag": {
                                "$ref": "#\/components\/headers\/ETag"
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "datahotelFormats": {
                "type": "string",
                "enum": [
                    "json",
                    "jsonp",
                    "xml",
                    "csv",
                    "yaml"
                ]
            },
            "datahotelMetadataFormats": {
                "type": "string",
                "enum": [
                    "json",
                    "jsonp",
                    "xml",
                    "yaml"
                ]
            },
            "datasetMetadata": {
                "type": "object",
                "properties": {
                    "shortName": {
                        "type": "string",
                        "description": "Kortnamn for datasettet. Samme som siste ledd i location."
                    },
                    "name": {
                        "type": "string",
                        "description": "Menneskelesbart namn for datasettet."
                    },
                    "location": {
                        "type": "string",
                        "description": "Unik datasett-id i datahotellet"
                    },
                    "updated": {
                        "type": "integer",
                        "description": "Timestamp for n\u00e5r tid datasettet sist vart endra p\u00e5 datahotellet. Verdien er unix timestamp, enten i sekund (10 siffer) eller millisekund (13 siffer)."
                    },
                    "dataset": {
                        "type": "boolean",
                        "description": "True dersom location er eit datasett, false dersom ikkje. Ved false kan location vere ein katalog som inneheld datasett."
                    }
                }
            },
            "datasetFields": {
                "type": "array",
                "items": {
                    "type": "object",
                    "properties": {
                        "name": {
                            "type": "string",
                            "description": "Menneskelesbart namn p\u00e5 feltet."
                        },
                        "shortName": {
                            "type": "string",
                            "description": "Kortnamn for felt. Samme som feltnamn brukt i respons og overskriftsrad i CSV-fila."
                        },
                        "groupable": {
                            "type": "boolean",
                            "description": "Kan gruppere\/filtrere p\u00e5 dette feltet via query-parameter. E.g. \u00ab?shortName=verdi\u00bb."
                        },
                        "searchable": {
                            "type": "boolean",
                            "description": "Om dette feltet er s\u00f8kbart via query-parameteret. E.g. \u00ab?query=s\u00f8kestreng\u00bb"
                        },
                        "indexPrimaryKey": {
                            "type": "boolean",
                            "description": "Ikkje i bruk."
                        }
                    }
                }
            },
            "difi-kvalitet-oversikt2016-record": {
                "type": "object",
                "properties": {
                    "vurderingid": {
                        "type": "string",
                        "example": "19377",
                        "description": "Vurdering identifikator"
                    },
                    "nettstednavn": {
                        "type": "string",
                        "example": "Salgsmelding - Statens vegvesen",
                        "description": "Navn p\u00e5 vurdert virksomhet"
                    },
                    "url": {
                        "type": "string",
                        "example": "http:\/\/www.vegvesen.no\/kjoretoy\/Kjop+og+salg",
                        "description": "Adresse til vurdert nettsted"
                    },
                    "poeng": {
                        "type": "string",
                        "example": "986",
                        "description": "Poengsum tildelt dette kriteriet"
                    },
                    "maxpoeng": {
                        "type": "string",
                        "example": "1092",
                        "description": "Maks poengsum det er mulig \u00e5 f\u00e5 p\u00e5 kriteriet"
                    },
                    "snittprosent": {
                        "type": "string",
                        "example": "91",
                        "description": "SNITTPOROSENT.\nSnittprosent av tildelte poeng for kriteriet"
                    },
                    "stjerner": {
                        "type": "string",
                        "example": "6",
                        "description": "ANTALLSTJERNER.\nAntall stjerner tildelt etter vurderingen"
                    },
                    "finnbarhet_poeng": {
                        "type": "string",
                        "example": "90",
                        "description": "Poengsum tildelt for kriteriesett 'Tjenesten er enkel \u00e5 finne'"
                    },
                    "finnbarhet_maxpoeng": {
                        "type": "string",
                        "example": "100",
                        "description": "FINNBARHET_MAXSCORE.\nMaks oppn\u00e5elig poengsum tildelt for kriteriesett 'Tjenesten er enkel \u00e5 finne'"
                    },
                    "troverdig_poeng": {
                        "type": "string",
                        "example": "218",
                        "description": "Poengsum tildelt for kriteriesett 'Tjenesten er troverdig'"
                    },
                    "troverdig_maxpoeng": {
                        "type": "string",
                        "example": "233",
                        "description": "TROVERDIG_MAXSCORE.\nMaks oppn\u00e5elig poengsum tildelt for kriteriesett 'Tjenesten er troverdig'"
                    },
                    "trygg_poeng": {
                        "type": "string",
                        "example": "49",
                        "description": "Poengsum tildelt for kriteriesett 'Tjenesten er trygg \u00e5 bruke'"
                    },
                    "trygg_maxpoeng": {
                        "type": "string",
                        "example": "57",
                        "description": "TRYGG_MAXSCORE.\nMaks oppn\u00e5elig poengsum tildelt for kriteriesett 'Tjenesten er trygg \u00e5 bruke'"
                    },
                    "virker_poeng": {
                        "type": "string",
                        "example": "157",
                        "description": "Poengsum tildelt for kriteriesett 'Tjenesten virker (fungerer godt)'"
                    },
                    "virker_maxpoeng": {
                        "type": "string",
                        "example": "205",
                        "description": "VIRKER_MAXSCORE.\nMaks oppn\u00e5elig poengsum tildelt for kriteriesett 'Tjenesten virker (fungerer godt)'"
                    },
                    "bruk_poeng": {
                        "type": "string",
                        "example": "419",
                        "description": "Poengsum tildelt for kriteriesett 'Tjenesten er enkel \u00e5 bruke for alle'"
                    },
                    "bruk_maxpoeng": {
                        "type": "string",
                        "example": "434",
                        "description": "BRUK_MAXSCORE.\nMaks oppn\u00e5elig poengsum tildelt for kriteriesett 'Tjenesten er enkel \u00e5 bruke for alle'"
                    },
                    "hjelp_poeng": {
                        "type": "string",
                        "example": "53",
                        "description": "Poengsum tildelt for kriteriesett 'Det er lett \u00e5 f\u00e5 hjelp'"
                    },
                    "hjelp_maxpoeng": {
                        "type": "string",
                        "example": "63",
                        "description": "HJELP_MAXSCORE.\nMaks oppn\u00e5elig poengsum tildelt for kriteriesett 'Det er lett \u00e5 f\u00e5 hjelp'"
                    }
                }
            },
            "difi-kvalitet-oversikt2016-response": {
                "type": "object",
                "properties": {
                    "entries": {
                        "type": "array",
                        "items": {
                            "$ref": "#\/components\/schemas\/difi-kvalitet-oversikt2016-record"
                        }
                    },
                    "page": {
                        "type": "integer",
                        "description": "Side (page) av resultatet som er returnert."
                    },
                    "pages": {
                        "type": "integer",
                        "description": "Tal p\u00e5 sider totalt."
                    },
                    "posts": {
                        "type": "integer",
                        "description": "Tal p\u00e5 postar totalt."
                    }
                }
            }
        },
        "headers": {
            "X-Datahotel-Page": {
                "description": "Side (page) av resultatet som er returnert.",
                "schema": {
                    "type": "integer"
                }
            },
            "X-Datahotel-Total-Pages": {
                "description": "Tal p\u00e5 sider totalt.",
                "schema": {
                    "type": "integer"
                }
            },
            "X-Datahotel-Total-Posts": {
                "description": "Tal p\u00e5 postar totalt.",
                "schema": {
                    "type": "integer"
                }
            },
            "ETag": {
                "description": "Fungerer som standard HTTP ETag. Timestamp for n\u00e5r tid datasettet sist vart endra p\u00e5 datahotellet. Verdien er unix timestamp, enten i sekund (10 siffer) eller millisekund (13 siffer).",
                "schema": {
                    "type": "integer"
                }
            }
        }
    },
    "tags": [
        {
            "name": "oversikt2016",
            "description": "Oversikt 2016",
            "externalDocs": {
                "url": "https:\/\/hotell.difi.no\/?dataset=difi\/kvalitet\/oversikt2016"
            }
        }
    ],
    "externalDocs": {
        "description": "Meir dokumentasjon for hotell.difi.no",
        "url": "https:\/\/hotell.difi.no\/api"
    }
}