{
    "openapi": "3.0.0",
    "info": {
        "description": "<p>Sj\u00e5 <a href=\"https:\/\/data.norge.no\/node\/1804\">datasett-oppf\u00f8ring<\/a> for meir informasjon (kontaktinformasjon, oppdateringsfrekvens, lenker til dokumentasjon etc.)<\/p>\n",
        "version": "1.0.0",
        "title": "Norge Rundt Statistikkmoro",
        "license": {
            "name": "Data-lisens",
            "url": "http:\/\/data.norge.no\/nlod\/"
        },
        "termsOfService": "https:\/\/hotell.difi.no\/api"
    },
    "servers": [
        {
            "url": "https:\/\/hotell.difi.no"
        }
    ],
    "paths": {
        "\/api\/{format}\/nrk\/norge-rundt": {
            "get": {
                "tags": [
                    "norge-rundt"
                ],
                "description": "Hent ut ei side (page) med data. Inntil 100 postar pr. side.",
                "operationId": "getNrkNorge-rundtPage",
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "description": "Velg format",
                        "required": true,
                        "schema": {
                            "$ref": "#\/components\/schemas\/datahotelFormats"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Spesifiser side i resultatet \u00e5 hente ut. Standardverdi: 1.",
                        "required": false
                    },
                    {
                        "name": "query",
                        "in": "query",
                        "description": "S\u00f8k i datasettet. Gir treff p\u00e5 felt: kommune, tittel, hva_er_spesielt",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "aar",
                        "in": "query",
                        "description": "Filtrer s\u00f8keresultat p\u00e5 eksakt match p\u00e5 dette feltet.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "kommune",
                        "in": "query",
                        "description": "Filtrer s\u00f8keresultat p\u00e5 eksakt match p\u00e5 dette feltet.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ei side (page) med data. Inntil 100 rader",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/nrk-norge-rundt-response"
                                }
                            }
                        },
                        "headers": {
                            "ETag": {
                                "$ref": "#\/components\/headers\/ETag"
                            },
                            "X-Datahotel-Page": {
                                "$ref": "#\/components\/headers\/X-Datahotel-Page"
                            },
                            "X-Datahotel-Total-Pages": {
                                "$ref": "#\/components\/headers\/X-Datahotel-Total-Pages"
                            },
                            "X-Datahotel-Total-Posts": {
                                "$ref": "#\/components\/headers\/X-Datahotel-Total-Posts"
                            }
                        }
                    }
                }
            }
        },
        "\/download\/nrk\/norge-rundt": {
            "get": {
                "summary": "Last ned heile datasettet som CSV",
                "description": "Teiknsett er UTF8. Dersom fila skal opnast i Excel eller liknande, bruk parameter ?download. For alle andre bruksomr\u00e5de vil nedlasting utan ?download-parameteret passe betre.",
                "tags": [
                    "norge-rundt"
                ],
                "operationId": "downloadNrkNorge-rundt",
                "parameters": [
                    {
                        "name": "download",
                        "in": "query",
                        "description": "Dersom parameter er angitt, s\u00e5 f\u00e5r ein fil med UTF8 _med_ BOM i staden for UTF8. Denne varianter egnar seg dersom ein vil opne fila i Excel eller liknande",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Last ned heile datasettet som CSV",
                        "content": {
                            "text\/csv": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "application~\/vnd.ms-excel~": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "headers": {
                            "ETag": {
                                "$ref": "#\/components\/headers\/ETag"
                            }
                        }
                    }
                }
            }
        },
        "\/api\/{format}\/nrk\/norge-rundt\/meta": {
            "get": {
                "description": "Hent ut metadata for datasettet. ",
                "tags": [
                    "norge-rundt"
                ],
                "operationId": "getNrkNorge-rundtMetadata",
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "description": "Velg format",
                        "required": true,
                        "schema": {
                            "$ref": "#\/components\/schemas\/datahotelMetadataFormats"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Metadata",
                        "content": {
                            "application\/json": {
                                "example": "{\n    \"shortName\": \"norge-rundt\",\n    \"name\": \"Norge Rundt statistikkmoro\",\n    \"location\": \"nrk\/norge-rundt\",\n    \"updated\": 1477483203,\n    \"dataset\": true\n}",
                                "schema": {
                                    "$ref": "#\/components\/schemas\/datasetMetadata"
                                }
                            }
                        },
                        "headers": {
                            "ETag": {
                                "$ref": "#\/components\/headers\/ETag"
                            }
                        }
                    }
                }
            }
        },
        "\/api\/{format}\/nrk\/norge-rundt\/fields": {
            "get": {
                "description": "Hent ut feltdefinisjonar for datasettet. ",
                "tags": [
                    "norge-rundt"
                ],
                "operationId": "getNrkNorge-rundtFields",
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "description": "Velg format",
                        "required": true,
                        "schema": {
                            "$ref": "#\/components\/schemas\/datahotelMetadataFormats"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Feltdefinisjoner",
                        "content": {
                            "application\/json": {
                                "example": "[\n    {\n        \"name\": \"\\u00c5rstall\",\n        \"shortName\": \"aar\",\n        \"groupable\": true,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"\"\n    },\n    {\n        \"name\": \"Nettadressen til videoklipp\",\n        \"shortName\": \"video_url\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"\"\n    },\n    {\n        \"name\": \"Kommune\",\n        \"shortName\": \"kommune\",\n        \"groupable\": true,\n        \"searchable\": true,\n        \"indexPrimaryKey\": false,\n        \"description\": \"\"\n    },\n    {\n        \"name\": \"Tittel\",\n        \"shortName\": \"tittel\",\n        \"groupable\": false,\n        \"searchable\": true,\n        \"indexPrimaryKey\": false,\n        \"description\": \"\"\n    },\n    {\n        \"name\": \"Tema for innslaget\",\n        \"shortName\": \"tema\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"\"\n    },\n    {\n        \"name\": \"Hva er spesielt\",\n        \"shortName\": \"hva_er_spesielt\",\n        \"groupable\": false,\n        \"searchable\": true,\n        \"indexPrimaryKey\": false,\n        \"description\": \"\"\n    },\n    {\n        \"name\": \"F\\u00f8lelse i innslaget\",\n        \"shortName\": \"folelse\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"\"\n    },\n    {\n        \"name\": \"Antrekk\",\n        \"shortName\": \"antrekk\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"\"\n    },\n    {\n        \"name\": \"Type bygg og industri\",\n        \"shortName\": \"type_bygg_og_industri\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"\"\n    },\n    {\n        \"name\": \"Type historisk\",\n        \"shortName\": \"type_historisk\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"\"\n    },\n    {\n        \"name\": \"Type natur og idrett\",\n        \"shortName\": \"type_natur_og_idrett\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"\"\n    },\n    {\n        \"name\": \"Type kunst og h\\u00e5ndverk\",\n        \"shortName\": \"type_kunst_og_haandverk\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"\"\n    },\n    {\n        \"name\": \"Type idrett og fysisk aktivitet\",\n        \"shortName\": \"type_idrett_og_fysisk_aktivitet\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"\"\n    },\n    {\n        \"name\": \"Tema samlere entusiaster og oppfinnere\",\n        \"shortName\": \"tema_samlere_entusiaster_og_oppfinnere\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"\"\n    },\n    {\n        \"name\": \"Tema vitenskap\",\n        \"shortName\": \"tema_vitenskap\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"\"\n    },\n    {\n        \"name\": \"Relasjoner\",\n        \"shortName\": \"relasjoner\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"\"\n    },\n    {\n        \"name\": \"Type musikere\",\n        \"shortName\": \"type_musikere\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"\"\n    },\n    {\n        \"name\": \"Type mat\",\n        \"shortName\": \"type_mat\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"\"\n    },\n    {\n        \"name\": \"Type dyr\",\n        \"shortName\": \"type_dyr\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"\"\n    },\n    {\n        \"name\": \"Antall menn\",\n        \"shortName\": \"antall_menn\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"\"\n    },\n    {\n        \"name\": \"Antall kvinner\",\n        \"shortName\": \"antall_kvinner\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"\"\n    },\n    {\n        \"name\": \"Tema natur og friluftsliv\",\n        \"shortName\": \"tema_natur_og_friluftsliv\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"\"\n    },\n    {\n        \"name\": \"Tema kj\\u00f8p og salg\",\n        \"shortName\": \"tema_kjop_og_salg\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"\"\n    },\n    {\n        \"name\": \"Type landbruk og fiske\",\n        \"shortName\": \"type_landbruk_og_fiske\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"\"\n    },\n    {\n        \"name\": \"Offentlige tjenester og veldedighet\",\n        \"shortName\": \"offentlige_tjenester_og_veldedighet\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"\"\n    },\n    {\n        \"name\": \"Hovedperson1 kj\\u00f8nn\",\n        \"shortName\": \"hovedperson1_kjonn\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"\"\n    },\n    {\n        \"name\": \"Hovedperson2 kj\\u00f8nn\",\n        \"shortName\": \"hovedperson2_kjonn\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"\"\n    },\n    {\n        \"name\": \"Hovedperson3 kj\\u00f8nn\",\n        \"shortName\": \"hovedperson3_kjonn\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"\"\n    },\n    {\n        \"name\": \"Hovedperson1 alder\",\n        \"shortName\": \"hovedperson1_alder\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"\"\n    },\n    {\n        \"name\": \"Hovedperson2 alder\",\n        \"shortName\": \"hovedperson2_alder\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"\"\n    },\n    {\n        \"name\": \"Hovedperson3 alder\",\n        \"shortName\": \"hovedperson3_alder\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"\"\n    },\n    {\n        \"name\": \"Tema politikk og media\",\n        \"shortName\": \"tema_politikk_og_media\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"\"\n    }\n]",
                                "schema": {
                                    "$ref": "#\/components\/schemas\/datasetFields"
                                }
                            }
                        },
                        "headers": {
                            "ETag": {
                                "$ref": "#\/components\/headers\/ETag"
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "datahotelFormats": {
                "type": "string",
                "enum": [
                    "json",
                    "jsonp",
                    "xml",
                    "csv",
                    "yaml"
                ]
            },
            "datahotelMetadataFormats": {
                "type": "string",
                "enum": [
                    "json",
                    "jsonp",
                    "xml",
                    "yaml"
                ]
            },
            "datasetMetadata": {
                "type": "object",
                "properties": {
                    "shortName": {
                        "type": "string",
                        "description": "Kortnamn for datasettet. Samme som siste ledd i location."
                    },
                    "name": {
                        "type": "string",
                        "description": "Menneskelesbart namn for datasettet."
                    },
                    "location": {
                        "type": "string",
                        "description": "Unik datasett-id i datahotellet"
                    },
                    "updated": {
                        "type": "integer",
                        "description": "Timestamp for n\u00e5r tid datasettet sist vart endra p\u00e5 datahotellet. Verdien er unix timestamp, enten i sekund (10 siffer) eller millisekund (13 siffer)."
                    },
                    "dataset": {
                        "type": "boolean",
                        "description": "True dersom location er eit datasett, false dersom ikkje. Ved false kan location vere ein katalog som inneheld datasett."
                    }
                }
            },
            "datasetFields": {
                "type": "array",
                "items": {
                    "type": "object",
                    "properties": {
                        "name": {
                            "type": "string",
                            "description": "Menneskelesbart namn p\u00e5 feltet."
                        },
                        "shortName": {
                            "type": "string",
                            "description": "Kortnamn for felt. Samme som feltnamn brukt i respons og overskriftsrad i CSV-fila."
                        },
                        "groupable": {
                            "type": "boolean",
                            "description": "Kan gruppere\/filtrere p\u00e5 dette feltet via query-parameter. E.g. \u00ab?shortName=verdi\u00bb."
                        },
                        "searchable": {
                            "type": "boolean",
                            "description": "Om dette feltet er s\u00f8kbart via query-parameteret. E.g. \u00ab?query=s\u00f8kestreng\u00bb"
                        },
                        "indexPrimaryKey": {
                            "type": "boolean",
                            "description": "Ikkje i bruk."
                        }
                    }
                }
            },
            "nrk-norge-rundt-record": {
                "type": "object",
                "properties": {
                    "aar": {
                        "type": "string",
                        "example": "1976",
                        "description": "\u00c5rstall.\n"
                    },
                    "video_url": {
                        "type": "string",
                        "example": "https:\/\/tv.nrk.no\/serie\/norge-rundt\/FREP45004676\/02-10-1976#t=2m7s",
                        "description": "Nettadressen til videoklipp.\n"
                    },
                    "kommune": {
                        "type": "string",
                        "example": "Bergen"
                    },
                    "tittel": {
                        "type": "string",
                        "example": "Rypejakt"
                    },
                    "tema": {
                        "type": "string",
                        "example": "Natur og friluftsliv",
                        "description": "Tema for innslaget.\n"
                    },
                    "hva_er_spesielt": {
                        "type": "string",
                        "example": "",
                        "description": "Hva er spesielt.\n"
                    },
                    "folelse": {
                        "type": "string",
                        "example": "",
                        "description": "F\u00f8lelse i innslaget.\n"
                    },
                    "antrekk": {
                        "type": "string",
                        "example": "Caps"
                    },
                    "type_bygg_og_industri": {
                        "type": "string",
                        "example": "",
                        "description": "Type bygg og industri.\n"
                    },
                    "type_historisk": {
                        "type": "string",
                        "example": "",
                        "description": "Type historisk.\n"
                    },
                    "type_natur_og_idrett": {
                        "type": "string",
                        "example": "",
                        "description": "Type natur og idrett.\n"
                    },
                    "type_kunst_og_haandverk": {
                        "type": "string",
                        "example": "",
                        "description": "Type kunst og h\u00e5ndverk.\n"
                    },
                    "type_idrett_og_fysisk_aktivitet": {
                        "type": "string",
                        "example": "",
                        "description": "Type idrett og fysisk aktivitet.\n"
                    },
                    "tema_samlere_entusiaster_og_oppfinnere": {
                        "type": "string",
                        "example": "",
                        "description": "Tema samlere entusiaster og oppfinnere.\n"
                    },
                    "tema_vitenskap": {
                        "type": "string",
                        "example": "",
                        "description": "Tema vitenskap.\n"
                    },
                    "relasjoner": {
                        "type": "string",
                        "example": ""
                    },
                    "type_musikere": {
                        "type": "string",
                        "example": "",
                        "description": "Type musikere.\n"
                    },
                    "type_mat": {
                        "type": "string",
                        "example": "",
                        "description": "Type mat.\n"
                    },
                    "type_dyr": {
                        "type": "string",
                        "example": "",
                        "description": "Type dyr.\n"
                    },
                    "antall_menn": {
                        "type": "string",
                        "example": "4",
                        "description": "Antall menn.\n"
                    },
                    "antall_kvinner": {
                        "type": "string",
                        "example": "",
                        "description": "Antall kvinner.\n"
                    },
                    "tema_natur_og_friluftsliv": {
                        "type": "string",
                        "example": "Jakt",
                        "description": "Tema natur og friluftsliv.\n"
                    },
                    "tema_kjop_og_salg": {
                        "type": "string",
                        "example": "",
                        "description": "Tema kj\u00f8p og salg.\n"
                    },
                    "type_landbruk_og_fiske": {
                        "type": "string",
                        "example": "",
                        "description": "Type landbruk og fiske.\n"
                    },
                    "offentlige_tjenester_og_veldedighet": {
                        "type": "string",
                        "example": "",
                        "description": "Offentlige tjenester og veldedighet.\n"
                    },
                    "hovedperson1_kjonn": {
                        "type": "string",
                        "example": "Mann",
                        "description": "Hovedperson1 kj\u00f8nn.\n"
                    },
                    "hovedperson2_kjonn": {
                        "type": "string",
                        "example": "Mann",
                        "description": "Hovedperson2 kj\u00f8nn.\n"
                    },
                    "hovedperson3_kjonn": {
                        "type": "string",
                        "example": "",
                        "description": "Hovedperson3 kj\u00f8nn.\n"
                    },
                    "hovedperson1_alder": {
                        "type": "string",
                        "example": "10 til 15",
                        "description": "Hovedperson1 alder.\n"
                    },
                    "hovedperson2_alder": {
                        "type": "string",
                        "example": "40 til 50",
                        "description": "Hovedperson2 alder.\n"
                    },
                    "hovedperson3_alder": {
                        "type": "string",
                        "example": "",
                        "description": "Hovedperson3 alder.\n"
                    },
                    "tema_politikk_og_media": {
                        "type": "string",
                        "example": "",
                        "description": "Tema politikk og media.\n"
                    }
                }
            },
            "nrk-norge-rundt-response": {
                "type": "object",
                "properties": {
                    "entries": {
                        "type": "array",
                        "items": {
                            "$ref": "#\/components\/schemas\/nrk-norge-rundt-record"
                        }
                    },
                    "page": {
                        "type": "integer",
                        "description": "Side (page) av resultatet som er returnert."
                    },
                    "pages": {
                        "type": "integer",
                        "description": "Tal p\u00e5 sider totalt."
                    },
                    "posts": {
                        "type": "integer",
                        "description": "Tal p\u00e5 postar totalt."
                    }
                }
            }
        },
        "headers": {
            "X-Datahotel-Page": {
                "description": "Side (page) av resultatet som er returnert.",
                "schema": {
                    "type": "integer"
                }
            },
            "X-Datahotel-Total-Pages": {
                "description": "Tal p\u00e5 sider totalt.",
                "schema": {
                    "type": "integer"
                }
            },
            "X-Datahotel-Total-Posts": {
                "description": "Tal p\u00e5 postar totalt.",
                "schema": {
                    "type": "integer"
                }
            },
            "ETag": {
                "description": "Fungerer som standard HTTP ETag. Timestamp for n\u00e5r tid datasettet sist vart endra p\u00e5 datahotellet. Verdien er unix timestamp, enten i sekund (10 siffer) eller millisekund (13 siffer).",
                "schema": {
                    "type": "integer"
                }
            }
        }
    },
    "tags": [
        {
            "name": "norge-rundt",
            "description": "Norge Rundt statistikkmoro",
            "externalDocs": {
                "url": "https:\/\/hotell.difi.no\/?dataset=nrk\/norge-rundt"
            }
        }
    ],
    "externalDocs": {
        "description": "Meir dokumentasjon for hotell.difi.no",
        "url": "https:\/\/hotell.difi.no\/api"
    }
}