{
    "openapi": "3.0.0",
    "info": {
        "description": "<p>Sj\u00e5 <a href=\"https:\/\/data.norge.no\/node\/2044\">datasett-oppf\u00f8ring<\/a> for meir informasjon (kontaktinformasjon, oppdateringsfrekvens, lenker til dokumentasjon etc.)<\/p>\n",
        "version": "1.0.0",
        "title": "Statistikk - antall arbeidss\u00f8kere etter yrke og \u00e5r",
        "license": {
            "name": "Data-lisens",
            "url": "http:\/\/creativecommons.org\/licenses\/by\/4.0\/deed.no"
        },
        "termsOfService": "https:\/\/hotell.difi.no\/api"
    },
    "servers": [
        {
            "url": "https:\/\/hotell.difi.no"
        }
    ],
    "paths": {
        "\/api\/{format}\/nav\/arbeidssokere-yrke": {
            "get": {
                "tags": [
                    "arbeidssokere-yrke"
                ],
                "description": "Hent ut ei side (page) med data. Inntil 100 postar pr. side.",
                "operationId": "getNavArbeidssokere-yrkePage",
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "description": "Velg format",
                        "required": true,
                        "schema": {
                            "$ref": "#\/components\/schemas\/datahotelFormats"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Spesifiser side i resultatet \u00e5 hente ut. Standardverdi: 1.",
                        "required": false
                    },
                    {
                        "name": "query",
                        "in": "query",
                        "description": "S\u00f8k i datasettet. Gir treff p\u00e5 felt: yrke_grovgruppe, yrke_fingruppe",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "aar",
                        "in": "query",
                        "description": "Filtrer s\u00f8keresultat p\u00e5 eksakt match p\u00e5 dette feltet.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "yrkeskode",
                        "in": "query",
                        "description": "Filtrer s\u00f8keresultat p\u00e5 eksakt match p\u00e5 dette feltet.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "isco_versjon",
                        "in": "query",
                        "description": "Filtrer s\u00f8keresultat p\u00e5 eksakt match p\u00e5 dette feltet.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ei side (page) med data. Inntil 100 rader",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/nav-arbeidssokere-yrke-response"
                                }
                            }
                        },
                        "headers": {
                            "ETag": {
                                "$ref": "#\/components\/headers\/ETag"
                            },
                            "X-Datahotel-Page": {
                                "$ref": "#\/components\/headers\/X-Datahotel-Page"
                            },
                            "X-Datahotel-Total-Pages": {
                                "$ref": "#\/components\/headers\/X-Datahotel-Total-Pages"
                            },
                            "X-Datahotel-Total-Posts": {
                                "$ref": "#\/components\/headers\/X-Datahotel-Total-Posts"
                            }
                        }
                    }
                }
            }
        },
        "\/download\/nav\/arbeidssokere-yrke": {
            "get": {
                "summary": "Last ned heile datasettet som CSV",
                "description": "Teiknsett er UTF8. Dersom fila skal opnast i Excel eller liknande, bruk parameter ?download. For alle andre bruksomr\u00e5de vil nedlasting utan ?download-parameteret passe betre.",
                "tags": [
                    "arbeidssokere-yrke"
                ],
                "operationId": "downloadNavArbeidssokere-yrke",
                "parameters": [
                    {
                        "name": "download",
                        "in": "query",
                        "description": "Dersom parameter er angitt, s\u00e5 f\u00e5r ein fil med UTF8 _med_ BOM i staden for UTF8. Denne varianter egnar seg dersom ein vil opne fila i Excel eller liknande",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Last ned heile datasettet som CSV",
                        "content": {
                            "text\/csv": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "application~\/vnd.ms-excel~": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "headers": {
                            "ETag": {
                                "$ref": "#\/components\/headers\/ETag"
                            }
                        }
                    }
                }
            }
        },
        "\/api\/{format}\/nav\/arbeidssokere-yrke\/meta": {
            "get": {
                "description": "Hent ut metadata for datasettet. ",
                "tags": [
                    "arbeidssokere-yrke"
                ],
                "operationId": "getNavArbeidssokere-yrkeMetadata",
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "description": "Velg format",
                        "required": true,
                        "schema": {
                            "$ref": "#\/components\/schemas\/datahotelMetadataFormats"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Metadata",
                        "content": {
                            "application\/json": {
                                "example": "{\n    \"shortName\": \"arbeidssokere-yrke\",\n    \"name\": \"Arbeidss\\u00f8kere yrke \\u00e5r\",\n    \"location\": \"nav\/arbeidssokere-yrke\",\n    \"updated\": 1516694700,\n    \"dataset\": true\n}",
                                "schema": {
                                    "$ref": "#\/components\/schemas\/datasetMetadata"
                                }
                            }
                        },
                        "headers": {
                            "ETag": {
                                "$ref": "#\/components\/headers\/ETag"
                            }
                        }
                    }
                }
            }
        },
        "\/api\/{format}\/nav\/arbeidssokere-yrke\/fields": {
            "get": {
                "description": "Hent ut feltdefinisjonar for datasettet. ",
                "tags": [
                    "arbeidssokere-yrke"
                ],
                "operationId": "getNavArbeidssokere-yrkeFields",
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "description": "Velg format",
                        "required": true,
                        "schema": {
                            "$ref": "#\/components\/schemas\/datahotelMetadataFormats"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Feltdefinisjoner",
                        "content": {
                            "application\/json": {
                                "example": "[\n    {\n        \"name\": \"\\u00c5r\",\n        \"shortName\": \"aar\",\n        \"groupable\": true,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"\"\n    },\n    {\n        \"name\": \"Grov gruppering av yrke\",\n        \"shortName\": \"yrke_grovgruppe\",\n        \"groupable\": false,\n        \"searchable\": true,\n        \"indexPrimaryKey\": false,\n        \"description\": \"NAV gruppering av yrker.\"\n    },\n    {\n        \"name\": \"Fin gruppering av yrke\",\n        \"shortName\": \"yrke_fingruppe\",\n        \"groupable\": false,\n        \"searchable\": true,\n        \"indexPrimaryKey\": false,\n        \"description\": \"NAV gruppering av yrker.\"\n    },\n    {\n        \"name\": \"Yrkeskode\",\n        \"shortName\": \"yrkeskode\",\n        \"groupable\": true,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Yrkeskode (4-siffer) i STYRK\"\n    },\n    {\n        \"name\": \"Yrke\",\n        \"shortName\": \"yrke\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Navn p\\u00e5 yrke. Betegnes yrke i STYRK.\"\n    },\n    {\n        \"name\": \"Yrkesbetegnelse\",\n        \"shortName\": \"yrkesbetegnelse\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Detaljering av yrke i mer detaljerte yrkesbetegnelser. I datasett er alle observerte yrkebetegnelser per yrkeskode satt sammen p\\u00e5 samme rad.\"\n    },\n    {\n        \"name\": \"ISCO-versjon\",\n        \"shortName\": \"isco_versjon\",\n        \"groupable\": true,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"ISCO=International Standard Classification of Occupations. Utarbeidet av ILO. ISCO-88 benyttes som kode for norsk STYRK, og ISCO-08 for STYRK-08.\"\n    },\n    {\n        \"name\": \"Antall arbeidss\\u00f8kere\",\n        \"shortName\": \"antall_arbeidssokere\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Gjennomsnittlig m\\u00e5nedsbeholdning. Arbeidss\\u00f8kere er betegnelsen p\\u00e5 summen av helt ledige, delvis ledige, arbeidss\\u00f8kere p\\u00e5 tiltak og andre arbeidss\\u00f8kere.\"\n    }\n]",
                                "schema": {
                                    "$ref": "#\/components\/schemas\/datasetFields"
                                }
                            }
                        },
                        "headers": {
                            "ETag": {
                                "$ref": "#\/components\/headers\/ETag"
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "datahotelFormats": {
                "type": "string",
                "enum": [
                    "json",
                    "jsonp",
                    "xml",
                    "csv",
                    "yaml"
                ]
            },
            "datahotelMetadataFormats": {
                "type": "string",
                "enum": [
                    "json",
                    "jsonp",
                    "xml",
                    "yaml"
                ]
            },
            "datasetMetadata": {
                "type": "object",
                "properties": {
                    "shortName": {
                        "type": "string",
                        "description": "Kortnamn for datasettet. Samme som siste ledd i location."
                    },
                    "name": {
                        "type": "string",
                        "description": "Menneskelesbart namn for datasettet."
                    },
                    "location": {
                        "type": "string",
                        "description": "Unik datasett-id i datahotellet"
                    },
                    "updated": {
                        "type": "integer",
                        "description": "Timestamp for n\u00e5r tid datasettet sist vart endra p\u00e5 datahotellet. Verdien er unix timestamp, enten i sekund (10 siffer) eller millisekund (13 siffer)."
                    },
                    "dataset": {
                        "type": "boolean",
                        "description": "True dersom location er eit datasett, false dersom ikkje. Ved false kan location vere ein katalog som inneheld datasett."
                    }
                }
            },
            "datasetFields": {
                "type": "array",
                "items": {
                    "type": "object",
                    "properties": {
                        "name": {
                            "type": "string",
                            "description": "Menneskelesbart namn p\u00e5 feltet."
                        },
                        "shortName": {
                            "type": "string",
                            "description": "Kortnamn for felt. Samme som feltnamn brukt i respons og overskriftsrad i CSV-fila."
                        },
                        "groupable": {
                            "type": "boolean",
                            "description": "Kan gruppere\/filtrere p\u00e5 dette feltet via query-parameter. E.g. \u00ab?shortName=verdi\u00bb."
                        },
                        "searchable": {
                            "type": "boolean",
                            "description": "Om dette feltet er s\u00f8kbart via query-parameteret. E.g. \u00ab?query=s\u00f8kestreng\u00bb"
                        },
                        "indexPrimaryKey": {
                            "type": "boolean",
                            "description": "Ikkje i bruk."
                        }
                    }
                }
            },
            "nav-arbeidssokere-yrke-record": {
                "type": "object",
                "properties": {
                    "aar": {
                        "type": "string",
                        "example": "2002",
                        "description": "\u00c5r.\n"
                    },
                    "yrke_grovgruppe": {
                        "type": "string",
                        "example": "Ingen yrkesbakgrunn eller uoppgitt",
                        "description": "Grov gruppering av yrke.\nNAV gruppering av yrker."
                    },
                    "yrke_fingruppe": {
                        "type": "string",
                        "example": "Ingen yrkesbakgrunn eller uoppgitt",
                        "description": "Fin gruppering av yrke.\nNAV gruppering av yrker."
                    },
                    "yrkeskode": {
                        "type": "string",
                        "example": "0000",
                        "description": "Yrkeskode (4-siffer) i STYRK"
                    },
                    "yrke": {
                        "type": "string",
                        "example": "Uoppgitt eller yrker som ikke kan identifiseres",
                        "description": "Navn p\u00e5 yrke. Betegnes yrke i STYRK."
                    },
                    "yrkesbetegnelse": {
                        "type": "string",
                        "example": "Hjelpearbeider (privat\/offentlig virksomhet), Medarbeider (uoppgitt arbeidsomr\u00e5de), Uoppgitt eller yrker som ikke kan identifiseres",
                        "description": "Detaljering av yrke i mer detaljerte yrkesbetegnelser. I datasett er alle observerte yrkebetegnelser per yrkeskode satt sammen p\u00e5 samme rad."
                    },
                    "isco_versjon": {
                        "type": "string",
                        "example": "ISCO-88",
                        "description": "ISCO-versjon.\nISCO=International Standard Classification of Occupations. Utarbeidet av ILO. ISCO-88 benyttes som kode for norsk STYRK, og ISCO-08 for STYRK-08."
                    },
                    "antall_arbeidssokere": {
                        "type": "string",
                        "example": "2270",
                        "description": "Antall arbeidss\u00f8kere.\nGjennomsnittlig m\u00e5nedsbeholdning. Arbeidss\u00f8kere er betegnelsen p\u00e5 summen av helt ledige, delvis ledige, arbeidss\u00f8kere p\u00e5 tiltak og andre arbeidss\u00f8kere."
                    }
                }
            },
            "nav-arbeidssokere-yrke-response": {
                "type": "object",
                "properties": {
                    "entries": {
                        "type": "array",
                        "items": {
                            "$ref": "#\/components\/schemas\/nav-arbeidssokere-yrke-record"
                        }
                    },
                    "page": {
                        "type": "integer",
                        "description": "Side (page) av resultatet som er returnert."
                    },
                    "pages": {
                        "type": "integer",
                        "description": "Tal p\u00e5 sider totalt."
                    },
                    "posts": {
                        "type": "integer",
                        "description": "Tal p\u00e5 postar totalt."
                    }
                }
            }
        },
        "headers": {
            "X-Datahotel-Page": {
                "description": "Side (page) av resultatet som er returnert.",
                "schema": {
                    "type": "integer"
                }
            },
            "X-Datahotel-Total-Pages": {
                "description": "Tal p\u00e5 sider totalt.",
                "schema": {
                    "type": "integer"
                }
            },
            "X-Datahotel-Total-Posts": {
                "description": "Tal p\u00e5 postar totalt.",
                "schema": {
                    "type": "integer"
                }
            },
            "ETag": {
                "description": "Fungerer som standard HTTP ETag. Timestamp for n\u00e5r tid datasettet sist vart endra p\u00e5 datahotellet. Verdien er unix timestamp, enten i sekund (10 siffer) eller millisekund (13 siffer).",
                "schema": {
                    "type": "integer"
                }
            }
        }
    },
    "tags": [
        {
            "name": "arbeidssokere-yrke",
            "description": "Arbeidss\u00f8kere yrke \u00e5r",
            "externalDocs": {
                "url": "https:\/\/hotell.difi.no\/?dataset=nav\/arbeidssokere-yrke"
            }
        }
    ],
    "externalDocs": {
        "description": "Meir dokumentasjon for hotell.difi.no",
        "url": "https:\/\/hotell.difi.no\/api"
    }
}