{
    "openapi": "3.0.0",
    "info": {
        "description": "<p>Sj\u00e5 <a href=\"https:\/\/data.norge.no\/node\/2110\">datasett-oppf\u00f8ring<\/a> for meir informasjon (kontaktinformasjon, oppdateringsfrekvens, lenker til dokumentasjon etc.)<\/p>\n",
        "version": "1.0.0",
        "title": "Antall nye arbeidsforhold 2016",
        "license": {
            "name": "Data-lisens",
            "url": "http:\/\/creativecommons.org\/licenses\/by\/4.0\/deed.no"
        },
        "termsOfService": "https:\/\/hotell.difi.no\/api"
    },
    "servers": [
        {
            "url": "https:\/\/hotell.difi.no"
        }
    ],
    "paths": {
        "\/api\/{format}\/nav\/nye-arbeidsforhold\/2016": {
            "get": {
                "tags": [
                    "2016"
                ],
                "description": "Hent ut ei side (page) med data. Inntil 100 postar pr. side.",
                "operationId": "getNavNye-arbeidsforhold2016Page",
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "description": "Velg format",
                        "required": true,
                        "schema": {
                            "$ref": "#\/components\/schemas\/datahotelFormats"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Spesifiser side i resultatet \u00e5 hente ut. Standardverdi: 1.",
                        "required": false
                    },
                    {
                        "name": "query",
                        "in": "query",
                        "description": "S\u00f8k i datasettet. Gir treff p\u00e5 felt: naering_navn, yrke_navn",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ansettelses_aar_mnd",
                        "in": "query",
                        "description": "Filtrer s\u00f8keresultat p\u00e5 eksakt match p\u00e5 dette feltet.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "nivaa",
                        "in": "query",
                        "description": "Filtrer s\u00f8keresultat p\u00e5 eksakt match p\u00e5 dette feltet.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "arbeidssted_fylke_nr",
                        "in": "query",
                        "description": "Filtrer s\u00f8keresultat p\u00e5 eksakt match p\u00e5 dette feltet.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "arbeidssted_kommune_nr",
                        "in": "query",
                        "description": "Filtrer s\u00f8keresultat p\u00e5 eksakt match p\u00e5 dette feltet.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ei side (page) med data. Inntil 100 rader",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/nav-nye-arbeidsforhold-2016-response"
                                }
                            }
                        },
                        "headers": {
                            "ETag": {
                                "$ref": "#\/components\/headers\/ETag"
                            },
                            "X-Datahotel-Page": {
                                "$ref": "#\/components\/headers\/X-Datahotel-Page"
                            },
                            "X-Datahotel-Total-Pages": {
                                "$ref": "#\/components\/headers\/X-Datahotel-Total-Pages"
                            },
                            "X-Datahotel-Total-Posts": {
                                "$ref": "#\/components\/headers\/X-Datahotel-Total-Posts"
                            }
                        }
                    }
                }
            }
        },
        "\/download\/nav\/nye-arbeidsforhold\/2016": {
            "get": {
                "summary": "Last ned heile datasettet som CSV",
                "description": "Teiknsett er UTF8. Dersom fila skal opnast i Excel eller liknande, bruk parameter ?download. For alle andre bruksomr\u00e5de vil nedlasting utan ?download-parameteret passe betre.",
                "tags": [
                    "2016"
                ],
                "operationId": "downloadNavNye-arbeidsforhold2016",
                "parameters": [
                    {
                        "name": "download",
                        "in": "query",
                        "description": "Dersom parameter er angitt, s\u00e5 f\u00e5r ein fil med UTF8 _med_ BOM i staden for UTF8. Denne varianter egnar seg dersom ein vil opne fila i Excel eller liknande",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Last ned heile datasettet som CSV",
                        "content": {
                            "text\/csv": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "application~\/vnd.ms-excel~": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "headers": {
                            "ETag": {
                                "$ref": "#\/components\/headers\/ETag"
                            }
                        }
                    }
                }
            }
        },
        "\/api\/{format}\/nav\/nye-arbeidsforhold\/2016\/meta": {
            "get": {
                "description": "Hent ut metadata for datasettet. ",
                "tags": [
                    "2016"
                ],
                "operationId": "getNavNye-arbeidsforhold2016Metadata",
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "description": "Velg format",
                        "required": true,
                        "schema": {
                            "$ref": "#\/components\/schemas\/datahotelMetadataFormats"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Metadata",
                        "content": {
                            "application\/json": {
                                "example": "{\n    \"shortName\": \"2016\",\n    \"name\": \"Nye arbeidsforhold 2016\",\n    \"location\": \"nav\/nye-arbeidsforhold\/2016\",\n    \"updated\": 1508405068,\n    \"dataset\": true\n}",
                                "schema": {
                                    "$ref": "#\/components\/schemas\/datasetMetadata"
                                }
                            }
                        },
                        "headers": {
                            "ETag": {
                                "$ref": "#\/components\/headers\/ETag"
                            }
                        }
                    }
                }
            }
        },
        "\/api\/{format}\/nav\/nye-arbeidsforhold\/2016\/fields": {
            "get": {
                "description": "Hent ut feltdefinisjonar for datasettet. ",
                "tags": [
                    "2016"
                ],
                "operationId": "getNavNye-arbeidsforhold2016Fields",
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "description": "Velg format",
                        "required": true,
                        "schema": {
                            "$ref": "#\/components\/schemas\/datahotelMetadataFormats"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Feltdefinisjoner",
                        "content": {
                            "application\/json": {
                                "example": "[\n    {\n        \"name\": \"Ansatt fra periode\",\n        \"shortName\": \"ansettelses_aar_mnd\",\n        \"groupable\": true,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Ansatt fra periode (\\u00e5r og m\\u00e5ned)\"\n    },\n    {\n        \"name\": \"Statistikkniv\\u00e5\",\n        \"shortName\": \"nivaa\",\n        \"groupable\": true,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Fylke, n\\u00e6ringsgruppe, yrkesfelt eller detaljert\"\n    },\n    {\n        \"name\": \"Arbeidssted - Fylkesnr.\",\n        \"shortName\": \"arbeidssted_fylke_nr\",\n        \"groupable\": true,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Arbeidssted\"\n    },\n    {\n        \"name\": \"Arbeidssted - Fylkesnavn\",\n        \"shortName\": \"arbeidssted_fylke_navn\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Arbeidssted\"\n    },\n    {\n        \"name\": \"Arbeidssted - Kommunenr.\",\n        \"shortName\": \"arbeidssted_kommune_nr\",\n        \"groupable\": true,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Arbeidssted\"\n    },\n    {\n        \"name\": \"Arbeidssted - Kommunenavn\",\n        \"shortName\": \"arbeidssted_kommune_navn\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Arbeidssted\"\n    },\n    {\n        \"name\": \"Sektor\",\n        \"shortName\": \"foretak_sektor\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Privat, kommunal eller statlig\"\n    },\n    {\n        \"name\": \"N\\u00e6ringsgruppekode\",\n        \"shortName\": \"naaering_gruppe_kode\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"N\\u00e6ringskoder (NACE) gruppert i 11 hovedgrupper\"\n    },\n    {\n        \"name\": \"N\\u00e6ringsgruppe\",\n        \"shortName\": \"naaering_gruppe_navn\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"N\\u00e6ringskoder (NACE) gruppert i 11 hovedgrupper\"\n    },\n    {\n        \"name\": \"N\\u00e6ringskode\",\n        \"shortName\": \"naering_kode\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"N\\u00e6ringskoder (NACE), 5-siffer niv\\u00e5\"\n    },\n    {\n        \"name\": \"N\\u00e6ring\",\n        \"shortName\": \"naering_navn\",\n        \"groupable\": false,\n        \"searchable\": true,\n        \"indexPrimaryKey\": false,\n        \"description\": \"N\\u00e6ringskoder (NACE), 5-siffer niv\\u00e5\"\n    },\n    {\n        \"name\": \"N\\u00e6ringstandard\",\n        \"shortName\": \"naeringstandard\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Versjon av NACE, SN2002 eller SN2007\"\n    },\n    {\n        \"name\": \"Yrkesfeltkode\",\n        \"shortName\": \"yrkesfelt_kode\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Yrkesfelt fra STYRK\/ISCO, 1-siffer niv\\u00e5\"\n    },\n    {\n        \"name\": \"Yrkesfelt\",\n        \"shortName\": \"yrkesfelt_navn\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Yrkesfelt fra STYRK\/ISCO, 1-siffer niv\\u00e5\"\n    },\n    {\n        \"name\": \"Yrkeskode\",\n        \"shortName\": \"yrke_kode\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Yrkeskode fra STYRK\/ISCO, 4-siffer niv\\u00e5\"\n    },\n    {\n        \"name\": \"Yrke\",\n        \"shortName\": \"yrke_navn\",\n        \"groupable\": false,\n        \"searchable\": true,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Yrke fra STYRK\/ISCO, 4-siffer niv\\u00e5\"\n    },\n    {\n        \"name\": \"Antall nye arbeidforhold\",\n        \"shortName\": \"antall_nye_ansatte\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Alle nye arbeidsforhold i m\\u00e5neden (ny i virksomheten, ny stilling i samme virksomhet eller ny virksomhet pga omorganisering)\"\n    }\n]",
                                "schema": {
                                    "$ref": "#\/components\/schemas\/datasetFields"
                                }
                            }
                        },
                        "headers": {
                            "ETag": {
                                "$ref": "#\/components\/headers\/ETag"
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "datahotelFormats": {
                "type": "string",
                "enum": [
                    "json",
                    "jsonp",
                    "xml",
                    "csv",
                    "yaml"
                ]
            },
            "datahotelMetadataFormats": {
                "type": "string",
                "enum": [
                    "json",
                    "jsonp",
                    "xml",
                    "yaml"
                ]
            },
            "datasetMetadata": {
                "type": "object",
                "properties": {
                    "shortName": {
                        "type": "string",
                        "description": "Kortnamn for datasettet. Samme som siste ledd i location."
                    },
                    "name": {
                        "type": "string",
                        "description": "Menneskelesbart namn for datasettet."
                    },
                    "location": {
                        "type": "string",
                        "description": "Unik datasett-id i datahotellet"
                    },
                    "updated": {
                        "type": "integer",
                        "description": "Timestamp for n\u00e5r tid datasettet sist vart endra p\u00e5 datahotellet. Verdien er unix timestamp, enten i sekund (10 siffer) eller millisekund (13 siffer)."
                    },
                    "dataset": {
                        "type": "boolean",
                        "description": "True dersom location er eit datasett, false dersom ikkje. Ved false kan location vere ein katalog som inneheld datasett."
                    }
                }
            },
            "datasetFields": {
                "type": "array",
                "items": {
                    "type": "object",
                    "properties": {
                        "name": {
                            "type": "string",
                            "description": "Menneskelesbart namn p\u00e5 feltet."
                        },
                        "shortName": {
                            "type": "string",
                            "description": "Kortnamn for felt. Samme som feltnamn brukt i respons og overskriftsrad i CSV-fila."
                        },
                        "groupable": {
                            "type": "boolean",
                            "description": "Kan gruppere\/filtrere p\u00e5 dette feltet via query-parameter. E.g. \u00ab?shortName=verdi\u00bb."
                        },
                        "searchable": {
                            "type": "boolean",
                            "description": "Om dette feltet er s\u00f8kbart via query-parameteret. E.g. \u00ab?query=s\u00f8kestreng\u00bb"
                        },
                        "indexPrimaryKey": {
                            "type": "boolean",
                            "description": "Ikkje i bruk."
                        }
                    }
                }
            },
            "nav-nye-arbeidsforhold-2016-record": {
                "type": "object",
                "properties": {
                    "ansettelses_aar_mnd": {
                        "type": "string",
                        "example": "201601",
                        "description": "Ansatt fra periode.\nAnsatt fra periode (\u00e5r og m\u00e5ned)"
                    },
                    "nivaa": {
                        "type": "string",
                        "example": "Fylke",
                        "description": "Statistikkniv\u00e5.\nFylke, n\u00e6ringsgruppe, yrkesfelt eller detaljert"
                    },
                    "arbeidssted_fylke_nr": {
                        "type": "string",
                        "example": "--",
                        "description": "Arbeidssted - Fylkesnr..\nArbeidssted"
                    },
                    "arbeidssted_fylke_navn": {
                        "type": "string",
                        "example": "Ukjent",
                        "description": "Arbeidssted - Fylkesnavn.\nArbeidssted"
                    },
                    "arbeidssted_kommune_nr": {
                        "type": "string",
                        "example": "I alt",
                        "description": "Arbeidssted - Kommunenr..\nArbeidssted"
                    },
                    "arbeidssted_kommune_navn": {
                        "type": "string",
                        "example": "I alt",
                        "description": "Arbeidssted - Kommunenavn.\nArbeidssted"
                    },
                    "foretak_sektor": {
                        "type": "string",
                        "example": "I alt",
                        "description": "Sektor.\nPrivat, kommunal eller statlig"
                    },
                    "naaering_gruppe_kode": {
                        "type": "string",
                        "example": "I alt",
                        "description": "N\u00e6ringsgruppekode.\nN\u00e6ringskoder (NACE) gruppert i 11 hovedgrupper"
                    },
                    "naaering_gruppe_navn": {
                        "type": "string",
                        "example": "I alt",
                        "description": "N\u00e6ringsgruppe.\nN\u00e6ringskoder (NACE) gruppert i 11 hovedgrupper"
                    },
                    "naering_kode": {
                        "type": "string",
                        "example": "I alt",
                        "description": "N\u00e6ringskode.\nN\u00e6ringskoder (NACE), 5-siffer niv\u00e5"
                    },
                    "naering_navn": {
                        "type": "string",
                        "example": "I alt",
                        "description": "N\u00e6ring.\nN\u00e6ringskoder (NACE), 5-siffer niv\u00e5"
                    },
                    "naeringstandard": {
                        "type": "string",
                        "example": "I alt",
                        "description": "N\u00e6ringstandard.\nVersjon av NACE, SN2002 eller SN2007"
                    },
                    "yrkesfelt_kode": {
                        "type": "string",
                        "example": "I alt",
                        "description": "Yrkesfeltkode.\nYrkesfelt fra STYRK\/ISCO, 1-siffer niv\u00e5"
                    },
                    "yrkesfelt_navn": {
                        "type": "string",
                        "example": "I alt",
                        "description": "Yrkesfelt.\nYrkesfelt fra STYRK\/ISCO, 1-siffer niv\u00e5"
                    },
                    "yrke_kode": {
                        "type": "string",
                        "example": "I alt",
                        "description": "Yrkeskode.\nYrkeskode fra STYRK\/ISCO, 4-siffer niv\u00e5"
                    },
                    "yrke_navn": {
                        "type": "string",
                        "example": "I alt",
                        "description": "Yrke.\nYrke fra STYRK\/ISCO, 4-siffer niv\u00e5"
                    },
                    "antall_nye_ansatte": {
                        "type": "string",
                        "example": "1563",
                        "description": "Antall nye arbeidforhold.\nAlle nye arbeidsforhold i m\u00e5neden (ny i virksomheten, ny stilling i samme virksomhet eller ny virksomhet pga omorganisering)"
                    }
                }
            },
            "nav-nye-arbeidsforhold-2016-response": {
                "type": "object",
                "properties": {
                    "entries": {
                        "type": "array",
                        "items": {
                            "$ref": "#\/components\/schemas\/nav-nye-arbeidsforhold-2016-record"
                        }
                    },
                    "page": {
                        "type": "integer",
                        "description": "Side (page) av resultatet som er returnert."
                    },
                    "pages": {
                        "type": "integer",
                        "description": "Tal p\u00e5 sider totalt."
                    },
                    "posts": {
                        "type": "integer",
                        "description": "Tal p\u00e5 postar totalt."
                    }
                }
            }
        },
        "headers": {
            "X-Datahotel-Page": {
                "description": "Side (page) av resultatet som er returnert.",
                "schema": {
                    "type": "integer"
                }
            },
            "X-Datahotel-Total-Pages": {
                "description": "Tal p\u00e5 sider totalt.",
                "schema": {
                    "type": "integer"
                }
            },
            "X-Datahotel-Total-Posts": {
                "description": "Tal p\u00e5 postar totalt.",
                "schema": {
                    "type": "integer"
                }
            },
            "ETag": {
                "description": "Fungerer som standard HTTP ETag. Timestamp for n\u00e5r tid datasettet sist vart endra p\u00e5 datahotellet. Verdien er unix timestamp, enten i sekund (10 siffer) eller millisekund (13 siffer).",
                "schema": {
                    "type": "integer"
                }
            }
        }
    },
    "tags": [
        {
            "name": "2016",
            "description": "Nye arbeidsforhold 2016",
            "externalDocs": {
                "url": "https:\/\/hotell.difi.no\/?dataset=nav\/nye-arbeidsforhold\/2016"
            }
        }
    ],
    "externalDocs": {
        "description": "Meir dokumentasjon for hotell.difi.no",
        "url": "https:\/\/hotell.difi.no\/api"
    }
}