{
    "openapi": "3.0.0",
    "info": {
        "description": "<p>Sj\u00e5 <a href=\"https:\/\/data.norge.no\/node\/220\">datasett-oppf\u00f8ring<\/a> for meir informasjon (kontaktinformasjon, oppdateringsfrekvens, lenker til dokumentasjon etc.)<\/p>\n",
        "version": "1.0.0",
        "title": "Forslag budsjett og \u00f8konomiplan 2013-2016 for Bergen kommune",
        "license": {
            "name": "Data-lisens",
            "url": "http:\/\/data.norge.no\/nlod\/"
        },
        "termsOfService": "https:\/\/hotell.difi.no\/api"
    },
    "servers": [
        {
            "url": "https:\/\/hotell.difi.no"
        }
    ],
    "paths": {
        "\/api\/{format}\/bergen\/budsjett-2013\/driftsbudsjett": {
            "get": {
                "tags": [
                    "driftsbudsjett"
                ],
                "description": "Hent ut ei side (page) med data. Inntil 100 postar pr. side.",
                "operationId": "getBergenBudsjett-2013DriftsbudsjettPage",
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "description": "Velg format",
                        "required": true,
                        "schema": {
                            "$ref": "#\/components\/schemas\/datahotelFormats"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Spesifiser side i resultatet \u00e5 hente ut. Standardverdi: 1.",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ei side (page) med data. Inntil 100 rader",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/bergen-budsjett-2013-driftsbudsjett-response"
                                }
                            }
                        },
                        "headers": {
                            "ETag": {
                                "$ref": "#\/components\/headers\/ETag"
                            },
                            "X-Datahotel-Page": {
                                "$ref": "#\/components\/headers\/X-Datahotel-Page"
                            },
                            "X-Datahotel-Total-Pages": {
                                "$ref": "#\/components\/headers\/X-Datahotel-Total-Pages"
                            },
                            "X-Datahotel-Total-Posts": {
                                "$ref": "#\/components\/headers\/X-Datahotel-Total-Posts"
                            }
                        }
                    }
                }
            }
        },
        "\/download\/bergen\/budsjett-2013\/driftsbudsjett": {
            "get": {
                "summary": "Last ned heile datasettet som CSV",
                "description": "Teiknsett er UTF8. Dersom fila skal opnast i Excel eller liknande, bruk parameter ?download. For alle andre bruksomr\u00e5de vil nedlasting utan ?download-parameteret passe betre.",
                "tags": [
                    "driftsbudsjett"
                ],
                "operationId": "downloadBergenBudsjett-2013Driftsbudsjett",
                "parameters": [
                    {
                        "name": "download",
                        "in": "query",
                        "description": "Dersom parameter er angitt, s\u00e5 f\u00e5r ein fil med UTF8 _med_ BOM i staden for UTF8. Denne varianter egnar seg dersom ein vil opne fila i Excel eller liknande",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Last ned heile datasettet som CSV",
                        "content": {
                            "text\/csv": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "application~\/vnd.ms-excel~": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "headers": {
                            "ETag": {
                                "$ref": "#\/components\/headers\/ETag"
                            }
                        }
                    }
                }
            }
        },
        "\/api\/{format}\/bergen\/budsjett-2013\/driftsbudsjett\/meta": {
            "get": {
                "description": "Hent ut metadata for datasettet. ",
                "tags": [
                    "driftsbudsjett"
                ],
                "operationId": "getBergenBudsjett-2013DriftsbudsjettMetadata",
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "description": "Velg format",
                        "required": true,
                        "schema": {
                            "$ref": "#\/components\/schemas\/datahotelMetadataFormats"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Metadata",
                        "content": {
                            "application\/json": {
                                "example": "{\n    \"shortName\": \"driftsbudsjett\",\n    \"name\": \"Datagrunnlag for driftsbudsjett og \\u00f8konomiplan 2013-2016\",\n    \"location\": \"bergen\/budsjett-2013\/driftsbudsjett\",\n    \"updated\": 1347960169,\n    \"dataset\": true\n}",
                                "schema": {
                                    "$ref": "#\/components\/schemas\/datasetMetadata"
                                }
                            }
                        },
                        "headers": {
                            "ETag": {
                                "$ref": "#\/components\/headers\/ETag"
                            }
                        }
                    }
                }
            }
        },
        "\/api\/{format}\/bergen\/budsjett-2013\/driftsbudsjett\/fields": {
            "get": {
                "description": "Hent ut feltdefinisjonar for datasettet. ",
                "tags": [
                    "driftsbudsjett"
                ],
                "operationId": "getBergenBudsjett-2013DriftsbudsjettFields",
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "description": "Velg format",
                        "required": true,
                        "schema": {
                            "$ref": "#\/components\/schemas\/datahotelMetadataFormats"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Feltdefinisjoner",
                        "content": {
                            "application\/json": {
                                "example": "[\n    {\n        \"name\": \"Avdeling\",\n        \"shortName\": \"avdeling\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Byr\\u00e5dsavdelings-nummer (til internt bruk og sortering)\\r\"\n    },\n    {\n        \"name\": \"Avdeling(T)\",\n        \"shortName\": \"avdeling-tekst\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Byr\\u00e5dsavdeling-navn. Viser hvilken kommunal byr\\u00e5dsavdeling som har ansvaret for den aktuelle budsjettposten.\\r\"\n    },\n    {\n        \"name\": \"Inntekt\/Utgift\",\n        \"shortName\": \"inntekt-utgift\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Inntekt eller utgift\\r\"\n    },\n    {\n        \"name\": \"Tj.omr.\",\n        \"shortName\": \"tjomr\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Tjenesteomr\\u00e5de-nummer\\r\"\n    },\n    {\n        \"name\": \"Tjenesteomr\\u00e5de (tekst)\",\n        \"shortName\": \"tjenesteomraade-tekst\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Tjenesteomr\\u00e5de-navn.  Et tjenesteomr\\u00e5de er en samling av tjenester.  Bystyret vedtar budsjettet p\\u00e5 dette niv\\u00e5et (nettoutgift pr tjenesteomr\\u00e5de).\\r\"\n    },\n    {\n        \"name\": \"Tjeneste\",\n        \"shortName\": \"tjeneste\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"5-sifret tjeneste-nummer.  De tre f\\u00f8rste sifrene angir KOSTRA-funksjon, mens de to siste brukes til ytterligere detaljering i Bergen kommune.\\r\"\n    },\n    {\n        \"name\": \"Tjeneste(T)\",\n        \"shortName\": \"tjeneste-tekst\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Tjeneste-navn.  En tjeneste defineres som et konkret sluttprodukt som er levert til en bestemt bruker. Tjeneste refererer til hva som leveres.\\r\"\n    },\n    {\n        \"name\": \"Endrgr\",\n        \"shortName\": \"endrgr\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Endringsgruppe-nummer (til internt bruk og sortering)\\r\"\n    },\n    {\n        \"name\": \"Endrgr(T)\",\n        \"shortName\": \"endrgr-tekst\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Endringsgruppe-tekst.  Endringene fra vedtatt budsjett 2011 til budsjettforslag 2012 og \\u00f8knomiplan\\u00e5rene er kategorisert i ulike endringsgrupper som sier noe om hva endringene gjelder, f.eks. nye tiltak, effektivisering osv.\\r\"\n    },\n    {\n        \"name\": \"Tekst\",\n        \"shortName\": \"tekst\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Tekst gir en n\\u00e6rmere detaljering av de ulike endringene.\\r\"\n    },\n    {\n        \"name\": \"2013\",\n        \"shortName\": \"2013\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Budsjett\\u00e5r\"\n    },\n    {\n        \"name\": \"2014\",\n        \"shortName\": \"2014\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"\\u00c5r i \\u00f8konomiplanperioden\"\n    },\n    {\n        \"name\": \"2015\",\n        \"shortName\": \"2015\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"\\u00c5r i \\u00f8konomiplanperioden\"\n    },\n    {\n        \"name\": \"2016\",\n        \"shortName\": \"2016\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"\\u00c5r i \\u00f8konomiplanperioden\"\n    }\n]",
                                "schema": {
                                    "$ref": "#\/components\/schemas\/datasetFields"
                                }
                            }
                        },
                        "headers": {
                            "ETag": {
                                "$ref": "#\/components\/headers\/ETag"
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "datahotelFormats": {
                "type": "string",
                "enum": [
                    "json",
                    "jsonp",
                    "xml",
                    "csv",
                    "yaml"
                ]
            },
            "datahotelMetadataFormats": {
                "type": "string",
                "enum": [
                    "json",
                    "jsonp",
                    "xml",
                    "yaml"
                ]
            },
            "datasetMetadata": {
                "type": "object",
                "properties": {
                    "shortName": {
                        "type": "string",
                        "description": "Kortnamn for datasettet. Samme som siste ledd i location."
                    },
                    "name": {
                        "type": "string",
                        "description": "Menneskelesbart namn for datasettet."
                    },
                    "location": {
                        "type": "string",
                        "description": "Unik datasett-id i datahotellet"
                    },
                    "updated": {
                        "type": "integer",
                        "description": "Timestamp for n\u00e5r tid datasettet sist vart endra p\u00e5 datahotellet. Verdien er unix timestamp, enten i sekund (10 siffer) eller millisekund (13 siffer)."
                    },
                    "dataset": {
                        "type": "boolean",
                        "description": "True dersom location er eit datasett, false dersom ikkje. Ved false kan location vere ein katalog som inneheld datasett."
                    }
                }
            },
            "datasetFields": {
                "type": "array",
                "items": {
                    "type": "object",
                    "properties": {
                        "name": {
                            "type": "string",
                            "description": "Menneskelesbart namn p\u00e5 feltet."
                        },
                        "shortName": {
                            "type": "string",
                            "description": "Kortnamn for felt. Samme som feltnamn brukt i respons og overskriftsrad i CSV-fila."
                        },
                        "groupable": {
                            "type": "boolean",
                            "description": "Kan gruppere\/filtrere p\u00e5 dette feltet via query-parameter. E.g. \u00ab?shortName=verdi\u00bb."
                        },
                        "searchable": {
                            "type": "boolean",
                            "description": "Om dette feltet er s\u00f8kbart via query-parameteret. E.g. \u00ab?query=s\u00f8kestreng\u00bb"
                        },
                        "indexPrimaryKey": {
                            "type": "boolean",
                            "description": "Ikkje i bruk."
                        }
                    }
                }
            },
            "bergen-budsjett-2013-driftsbudsjett-record": {
                "type": "object",
                "properties": {
                    "avdeling": {
                        "type": "string",
                        "example": "1",
                        "description": "Byr\u00e5dsavdelings-nummer (til internt bruk og sortering)\r"
                    },
                    "avdeling-tekst": {
                        "type": "string",
                        "example": "Byr\u00e5dsleders avdeling",
                        "description": "Avdeling(T).\nByr\u00e5dsavdeling-navn. Viser hvilken kommunal byr\u00e5dsavdeling som har ansvaret for den aktuelle budsjettposten.\r"
                    },
                    "inntekt-utgift": {
                        "type": "string",
                        "example": "Inntekt",
                        "description": "Inntekt\/Utgift.\nInntekt eller utgift\r"
                    },
                    "tjomr": {
                        "type": "string",
                        "example": "02",
                        "description": "Tj.omr..\nTjenesteomr\u00e5de-nummer\r"
                    },
                    "tjenesteomraade-tekst": {
                        "type": "string",
                        "example": "Barnevern",
                        "description": "Tjenesteomr\u00e5de (tekst).\nTjenesteomr\u00e5de-navn.  Et tjenesteomr\u00e5de er en samling av tjenester.  Bystyret vedtar budsjettet p\u00e5 dette niv\u00e5et (nettoutgift pr tjenesteomr\u00e5de).\r"
                    },
                    "tjeneste": {
                        "type": "string",
                        "example": "24410",
                        "description": "5-sifret tjeneste-nummer.  De tre f\u00f8rste sifrene angir KOSTRA-funksjon, mens de to siste brukes til ytterligere detaljering i Bergen kommune.\r"
                    },
                    "tjeneste-tekst": {
                        "type": "string",
                        "example": "Barneverntjeneste",
                        "description": "Tjeneste(T).\nTjeneste-navn.  En tjeneste defineres som et konkret sluttprodukt som er levert til en bestemt bruker. Tjeneste refererer til hva som leveres.\r"
                    },
                    "endrgr": {
                        "type": "string",
                        "example": "N00",
                        "description": "Endringsgruppe-nummer (til internt bruk og sortering)\r"
                    },
                    "endrgr-tekst": {
                        "type": "string",
                        "example": "Vedtatt budsjett innev\u00e6rende \u00e5r",
                        "description": "Endrgr(T).\nEndringsgruppe-tekst.  Endringene fra vedtatt budsjett 2011 til budsjettforslag 2012 og \u00f8knomiplan\u00e5rene er kategorisert i ulike endringsgrupper som sier noe om hva endringene gjelder, f.eks. nye tiltak, effektivisering osv.\r"
                    },
                    "tekst": {
                        "type": "string",
                        "example": "Vedtatt budsjett 2012",
                        "description": "Tekst gir en n\u00e6rmere detaljering av de ulike endringene.\r"
                    },
                    "2013": {
                        "type": "string",
                        "example": "-1 362 250",
                        "description": "Budsjett\u00e5r"
                    },
                    "2014": {
                        "type": "string",
                        "example": "-1 362 250",
                        "description": "\u00c5r i \u00f8konomiplanperioden"
                    },
                    "2015": {
                        "type": "string",
                        "example": "-1 362 250",
                        "description": "\u00c5r i \u00f8konomiplanperioden"
                    },
                    "2016": {
                        "type": "string",
                        "example": "-1 362 250",
                        "description": "\u00c5r i \u00f8konomiplanperioden"
                    }
                }
            },
            "bergen-budsjett-2013-driftsbudsjett-response": {
                "type": "object",
                "properties": {
                    "entries": {
                        "type": "array",
                        "items": {
                            "$ref": "#\/components\/schemas\/bergen-budsjett-2013-driftsbudsjett-record"
                        }
                    },
                    "page": {
                        "type": "integer",
                        "description": "Side (page) av resultatet som er returnert."
                    },
                    "pages": {
                        "type": "integer",
                        "description": "Tal p\u00e5 sider totalt."
                    },
                    "posts": {
                        "type": "integer",
                        "description": "Tal p\u00e5 postar totalt."
                    }
                }
            }
        },
        "headers": {
            "X-Datahotel-Page": {
                "description": "Side (page) av resultatet som er returnert.",
                "schema": {
                    "type": "integer"
                }
            },
            "X-Datahotel-Total-Pages": {
                "description": "Tal p\u00e5 sider totalt.",
                "schema": {
                    "type": "integer"
                }
            },
            "X-Datahotel-Total-Posts": {
                "description": "Tal p\u00e5 postar totalt.",
                "schema": {
                    "type": "integer"
                }
            },
            "ETag": {
                "description": "Fungerer som standard HTTP ETag. Timestamp for n\u00e5r tid datasettet sist vart endra p\u00e5 datahotellet. Verdien er unix timestamp, enten i sekund (10 siffer) eller millisekund (13 siffer).",
                "schema": {
                    "type": "integer"
                }
            }
        }
    },
    "tags": [
        {
            "name": "driftsbudsjett",
            "description": "Datagrunnlag for driftsbudsjett og \u00f8konomiplan 2013-2016",
            "externalDocs": {
                "url": "https:\/\/hotell.difi.no\/?dataset=bergen\/budsjett-2013\/driftsbudsjett"
            }
        }
    ],
    "externalDocs": {
        "description": "Meir dokumentasjon for hotell.difi.no",
        "url": "https:\/\/hotell.difi.no\/api"
    }
}