{
    "openapi": "3.0.0",
    "info": {
        "description": "<p>Sj\u00e5 <a href=\"https:\/\/data.norge.no\/node\/2865\">datasett-oppf\u00f8ring<\/a> for meir informasjon (kontaktinformasjon, oppdateringsfrekvens, lenker til dokumentasjon etc.)<\/p>\n",
        "version": "1.0.0",
        "title": "Teknisk kj\u00f8ret\u00f8yinformasjon",
        "license": {
            "name": "Data-lisens",
            "url": "http:\/\/creativecommons.org\/licenses\/by\/4.0\/deed.no"
        },
        "termsOfService": "https:\/\/hotell.difi.no\/api"
    },
    "servers": [
        {
            "url": "https:\/\/hotell.difi.no"
        }
    ],
    "paths": {
        "\/api\/{format}\/vegvesen\/tekn": {
            "get": {
                "tags": [
                    "tekn"
                ],
                "description": "Hent ut ei side (page) med data. Inntil 100 postar pr. side.",
                "operationId": "getVegvesenTeknPage",
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "description": "Velg format",
                        "required": true,
                        "schema": {
                            "$ref": "#\/components\/schemas\/datahotelFormats"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Spesifiser side i resultatet \u00e5 hente ut. Standardverdi: 1.",
                        "required": false
                    },
                    {
                        "name": "query",
                        "in": "query",
                        "description": "S\u00f8k i datasettet. Gir treff p\u00e5 felt: understellsnr",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "understellsnr",
                        "in": "query",
                        "description": "Filtrer s\u00f8keresultat p\u00e5 eksakt match p\u00e5 dette feltet.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "reg_aar",
                        "in": "query",
                        "description": "Filtrer s\u00f8keresultat p\u00e5 eksakt match p\u00e5 dette feltet.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "reg_forsteg_norge",
                        "in": "query",
                        "description": "Filtrer s\u00f8keresultat p\u00e5 eksakt match p\u00e5 dette feltet.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "merkekode",
                        "in": "query",
                        "description": "Filtrer s\u00f8keresultat p\u00e5 eksakt match p\u00e5 dette feltet.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "kjoretoygruppe",
                        "in": "query",
                        "description": "Filtrer s\u00f8keresultat p\u00e5 eksakt match p\u00e5 dette feltet.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "drivstoff",
                        "in": "query",
                        "description": "Filtrer s\u00f8keresultat p\u00e5 eksakt match p\u00e5 dette feltet.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "bruktimportert",
                        "in": "query",
                        "description": "Filtrer s\u00f8keresultat p\u00e5 eksakt match p\u00e5 dette feltet.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "avreg_dato",
                        "in": "query",
                        "description": "Filtrer s\u00f8keresultat p\u00e5 eksakt match p\u00e5 dette feltet.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "antall_aksler",
                        "in": "query",
                        "description": "Filtrer s\u00f8keresultat p\u00e5 eksakt match p\u00e5 dette feltet.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "antall_aksler_drift",
                        "in": "query",
                        "description": "Filtrer s\u00f8keresultat p\u00e5 eksakt match p\u00e5 dette feltet.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "tilhengervek_m_brems",
                        "in": "query",
                        "description": "Filtrer s\u00f8keresultat p\u00e5 eksakt match p\u00e5 dette feltet.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ytelsesmaal",
                        "in": "query",
                        "description": "Filtrer s\u00f8keresultat p\u00e5 eksakt match p\u00e5 dette feltet.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sist_pkk_godkjent",
                        "in": "query",
                        "description": "Filtrer s\u00f8keresultat p\u00e5 eksakt match p\u00e5 dette feltet.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "neste_pkk",
                        "in": "query",
                        "description": "Filtrer s\u00f8keresultat p\u00e5 eksakt match p\u00e5 dette feltet.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "siste_reg_dato",
                        "in": "query",
                        "description": "Filtrer s\u00f8keresultat p\u00e5 eksakt match p\u00e5 dette feltet.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "reg1g",
                        "in": "query",
                        "description": "Filtrer s\u00f8keresultat p\u00e5 eksakt match p\u00e5 dette feltet.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sitteplasser",
                        "in": "query",
                        "description": "Filtrer s\u00f8keresultat p\u00e5 eksakt match p\u00e5 dette feltet.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "fab_mont_partikkelfilter",
                        "in": "query",
                        "description": "Filtrer s\u00f8keresultat p\u00e5 eksakt match p\u00e5 dette feltet.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "euronorm_ny",
                        "in": "query",
                        "description": "Filtrer s\u00f8keresultat p\u00e5 eksakt match p\u00e5 dette feltet.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "hybrid",
                        "in": "query",
                        "description": "Filtrer s\u00f8keresultat p\u00e5 eksakt match p\u00e5 dette feltet.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "hybrid_kategori",
                        "in": "query",
                        "description": "Filtrer s\u00f8keresultat p\u00e5 eksakt match p\u00e5 dette feltet.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "vrakpant_utbetalt",
                        "in": "query",
                        "description": "Filtrer s\u00f8keresultat p\u00e5 eksakt match p\u00e5 dette feltet.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ei side (page) med data. Inntil 100 rader",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/vegvesen-tekn-response"
                                }
                            }
                        },
                        "headers": {
                            "ETag": {
                                "$ref": "#\/components\/headers\/ETag"
                            },
                            "X-Datahotel-Page": {
                                "$ref": "#\/components\/headers\/X-Datahotel-Page"
                            },
                            "X-Datahotel-Total-Pages": {
                                "$ref": "#\/components\/headers\/X-Datahotel-Total-Pages"
                            },
                            "X-Datahotel-Total-Posts": {
                                "$ref": "#\/components\/headers\/X-Datahotel-Total-Posts"
                            }
                        }
                    }
                }
            }
        },
        "\/download\/vegvesen\/tekn": {
            "get": {
                "summary": "Last ned heile datasettet som CSV",
                "description": "Teiknsett er UTF8. Dersom fila skal opnast i Excel eller liknande, bruk parameter ?download. For alle andre bruksomr\u00e5de vil nedlasting utan ?download-parameteret passe betre.",
                "tags": [
                    "tekn"
                ],
                "operationId": "downloadVegvesenTekn",
                "parameters": [
                    {
                        "name": "download",
                        "in": "query",
                        "description": "Dersom parameter er angitt, s\u00e5 f\u00e5r ein fil med UTF8 _med_ BOM i staden for UTF8. Denne varianter egnar seg dersom ein vil opne fila i Excel eller liknande",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Last ned heile datasettet som CSV",
                        "content": {
                            "text\/csv": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "application~\/vnd.ms-excel~": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "headers": {
                            "ETag": {
                                "$ref": "#\/components\/headers\/ETag"
                            }
                        }
                    }
                }
            }
        },
        "\/api\/{format}\/vegvesen\/tekn\/meta": {
            "get": {
                "description": "Hent ut metadata for datasettet. ",
                "tags": [
                    "tekn"
                ],
                "operationId": "getVegvesenTeknMetadata",
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "description": "Velg format",
                        "required": true,
                        "schema": {
                            "$ref": "#\/components\/schemas\/datahotelMetadataFormats"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Metadata",
                        "content": {
                            "application\/json": {
                                "example": "{\n    \"shortName\": \"tekn\",\n    \"name\": \"Kj\\u00f8ret\\u00f8y - enkeltgodkjente\",\n    \"location\": \"vegvesen\/tekn\",\n    \"updated\": 1584432339,\n    \"dataset\": true\n}",
                                "schema": {
                                    "$ref": "#\/components\/schemas\/datasetMetadata"
                                }
                            }
                        },
                        "headers": {
                            "ETag": {
                                "$ref": "#\/components\/headers\/ETag"
                            }
                        }
                    }
                }
            }
        },
        "\/api\/{format}\/vegvesen\/tekn\/fields": {
            "get": {
                "description": "Hent ut feltdefinisjonar for datasettet. ",
                "tags": [
                    "tekn"
                ],
                "operationId": "getVegvesenTeknFields",
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "description": "Velg format",
                        "required": true,
                        "schema": {
                            "$ref": "#\/components\/schemas\/datahotelMetadataFormats"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Feltdefinisjoner",
                        "content": {
                            "application\/json": {
                                "example": "[\n    {\n        \"name\": \"Understellsnummer\",\n        \"shortName\": \"understellsnr\",\n        \"groupable\": true,\n        \"searchable\": true,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Vehicle Identification Number (VIN). Unikt for hvert enkelt kj\\u00f8ret\\u00f8y\"\n    },\n    {\n        \"name\": \"Reg. \\u00e5r (mod-\\u00e5r)\",\n        \"shortName\": \"reg_aar\",\n        \"groupable\": true,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"\"\n    },\n    {\n        \"name\": \"Reg. f\\u00f8rsteg. Norge\",\n        \"shortName\": \"reg_forsteg_norge\",\n        \"groupable\": true,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Dato for f\\u00f8rstgangsregistrering i Norge\"\n    },\n    {\n        \"name\": \"Merkekode\",\n        \"shortName\": \"merkekode\",\n        \"groupable\": true,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Se https:\/\/hotell.difi.no\/?dataset=vegvesen\/merkekode\"\n    },\n    {\n        \"name\": \"Modellbetegnelse\",\n        \"shortName\": \"modellbetegnelse\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Produsentens eget navn p\\u00e5 modellen. F.eks. 520D XDRIVE\"\n    },\n    {\n        \"name\": \"Typebetegnelse\",\n        \"shortName\": \"typebetegnelse\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Produsentens eget navn p\\u00e5 type. F.eks. 5k\"\n    },\n    {\n        \"name\": \"Kj\\u00f8ret\\u00f8ygruppe\",\n        \"shortName\": \"kjoretoygruppe\",\n        \"groupable\": true,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Se https:\/\/hotell.difi.no\/?dataset=vegvesen\/kjoretoygruppe\"\n    },\n    {\n        \"name\": \"Motorytelse\",\n        \"shortName\": \"motorytelse\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Oppgis i Kw n\\u00e5r ytelsesmaal = 1, oppgis i HK n\\u00e5r ytelsesmaal = 2. Se egen kolonne for ytelesesmaal\"\n    },\n    {\n        \"name\": \"Slagvolum\",\n        \"shortName\": \"slagvolum\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Oppgis i ccm\"\n    },\n    {\n        \"name\": \"Drivstoff\",\n        \"shortName\": \"drivstoff\",\n        \"groupable\": true,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Se https:\/\/hotell.difi.no\/?dataset=vegvesen\/drivstoffkoder\"\n    },\n    {\n        \"name\": \"Lengde\",\n        \"shortName\": \"lengde\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Oppgis i cm\"\n    },\n    {\n        \"name\": \"Bredde\",\n        \"shortName\": \"bredde\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Oppgis i cm\"\n    },\n    {\n        \"name\": \"Std. dekk foran\",\n        \"shortName\": \"std_dekk_foran\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Eks :195\/65R15 : 195= dekkbredde(mm), 65=h\\u00f8yden p\\u00e5 kanten av dekket fra felgen og ut, kalles profil og angis i % av dekkbredde, R15=felgens diameter i tommer\"\n    },\n    {\n        \"name\": \"Std. dekk bak\",\n        \"shortName\": \"std_dekk_bak\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Eks :195\/65R15 : 195= dekkbredde(mm), 65=h\\u00f8yden p\\u00e5 kanten av dekket fra felgen og ut, kalles profil og angis i % av dekkbredde, R15=felgens diameter i tommer\"\n    },\n    {\n        \"name\": \"Std. felg foran\",\n        \"shortName\": \"std_felg_foran\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"F.eks: 6J-6 der 6=felgens bredde i tommer og J=type felg (J er for det meste standard)\"\n    },\n    {\n        \"name\": \"Std. felg bak\",\n        \"shortName\": \"std_felg_bak\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"F.eks: 6J-6 der 6=felgens bredde i tommer og J=type felg (J er for det meste standard)\"\n    },\n    {\n        \"name\": \"Min. LI foran\",\n        \"shortName\": \"min_li_foran\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"LI st\\u00e5r for Load Index, og er belastningskoden for dekket, og angir maks vekt dekket er konstruert for. Se https:\/\/hotell.difi.no\/?dataset=vegvesen\/belastningstabell\"\n    },\n    {\n        \"name\": \"Min. LI bak\",\n        \"shortName\": \"min_li_bak\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"LI st\\u00e5r for Load Index, og er belastningskoden for dekket, og angir maks vekt dekket er konstruert for. Se https:\/\/hotell.difi.no\/?dataset=vegvesen\/belastningstabell\"\n    },\n    {\n        \"name\": \"Min. hast. foran\",\n        \"shortName\": \"min_hast_foran\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Hastighetskode (SI=Speed Index) for dekk. Se https:\/\/hotell.difi.no\/?dataset=vegvesen\/hastighetstabell\"\n    },\n    {\n        \"name\": \"Min. hast. bak\",\n        \"shortName\": \"min_hast_bak\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Hastighetskode (SI=Speed Index) for dekk. Se https:\/\/hotell.difi.no\/?dataset=vegvesen\/hastighetstabell\"\n    },\n    {\n        \"name\": \"Min. innpress foran\",\n        \"shortName\": \"min_innpress_foran\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"F.eks. 18 mm innpress, vil si at anleggsflaten til felgen mot navet er 18mm fra senter av felgen ut fra bilen\"\n    },\n    {\n        \"name\": \"Min. innpress bak\",\n        \"shortName\": \"min_innpress_bak\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"F.eks. 18 mm innpress, vil si at anleggsflaten til felgen mot navet er 18mm fra senter av felgen ut fra bilen\"\n    },\n    {\n        \"name\": \"Sporvidde foran\",\n        \"shortName\": \"sporvidde_foran\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Oppgis i mm. Sporvidden er avstanden senter \\u2013 senter mellom dekkene p\\u00e5 samme aksel\"\n    },\n    {\n        \"name\": \"Sporvidde bak\",\n        \"shortName\": \"sporvidde_bak\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Oppgis i mm. Sporvidden er avstanden senter \\u2013 senter mellom dekkene p\\u00e5 samme aksel\"\n    },\n    {\n        \"name\": \"Totalvekt\",\n        \"shortName\": \"totalvekt\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Oppgis i kg\"\n    },\n    {\n        \"name\": \"Egenvekt\",\n        \"shortName\": \"egenvekt\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Oppgis i kg\"\n    },\n    {\n        \"name\": \"Akseltrykk foran\",\n        \"shortName\": \"akseltrykk_foran\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Oppgis i kg\"\n    },\n    {\n        \"name\": \"Akseltrykk bak\",\n        \"shortName\": \"akseltrykk_bak\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Oppgis i kg\"\n    },\n    {\n        \"name\": \"EU-variant\",\n        \"shortName\": \"eu_variant\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Ingen relevans, kommer fra typegodkjenning\"\n    },\n    {\n        \"name\": \"Eu-versjon\",\n        \"shortName\": \"eu_versjon\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Ingen relevans, kommer fra typegodkjenning\"\n    },\n    {\n        \"name\": \"Bruktimportert\",\n        \"shortName\": \"bruktimportert\",\n        \"groupable\": true,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"1 - dersom bruktimportert\"\n    },\n    {\n        \"name\": \"Avreg.dato\",\n        \"shortName\": \"avreg_dato\",\n        \"groupable\": true,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Dato for avregistrering av kj\\u00f8ret\\u00f8yet\"\n    },\n    {\n        \"name\": \"Farge\",\n        \"shortName\": \"farge\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Se https:\/\/hotell.difi.no\/?dataset=vegvesen\/fargekode\"\n    },\n    {\n        \"name\": \"Antall aksler\",\n        \"shortName\": \"antall_aksler\",\n        \"groupable\": true,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"\"\n    },\n    {\n        \"name\": \"Antall aksler med drift\",\n        \"shortName\": \"antall_aksler_drift\",\n        \"groupable\": true,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"\"\n    },\n    {\n        \"name\": \"Tilhengervekt m\/brems\",\n        \"shortName\": \"tilhengervek_m_brems\",\n        \"groupable\": true,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Oppgis i kg\"\n    },\n    {\n        \"name\": \"Tilhengervekt u\/brems\",\n        \"shortName\": \"tilhengervekt_u_brems\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Oppgis i kg\"\n    },\n    {\n        \"name\": \"Lengde til tilh.kobling\",\n        \"shortName\": \"lengde_til_tilhkobling\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Oppgis i cm\"\n    },\n    {\n        \"name\": \"Max. belastning h.feste\",\n        \"shortName\": \"max_belastning_h_fest\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Oppgis i kg\"\n    },\n    {\n        \"name\": \"Max. taklast\",\n        \"shortName\": \"max_taklast\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Oppgis i kg\"\n    },\n    {\n        \"name\": \"Vogntogvekt\",\n        \"shortName\": \"vogntogvekt\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Oppgis i kg\"\n    },\n    {\n        \"name\": \"Ytelsesm\\u00e5l\",\n        \"shortName\": \"ytelsesmaal\",\n        \"groupable\": true,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"1 = KW, 2 = HK, ellers ukjent\/mangler\"\n    },\n    {\n        \"name\": \"Sist pkk-godkjent\",\n        \"shortName\": \"sist_pkk_godkjent\",\n        \"groupable\": true,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Dato for siste godkjente periodiske kj\\u00f8ret\\u00f8ykontroll\"\n    },\n    {\n        \"name\": \"Neste PKK\",\n        \"shortName\": \"neste_pkk\",\n        \"groupable\": true,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Dato for neste periodiske kj\\u00f8ret\\u00f8ykontroll\"\n    },\n    {\n        \"name\": \"Siste reg.dato\",\n        \"shortName\": \"siste_reg_dato\",\n        \"groupable\": true,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Vognkortet er av ny type hvis > 20040601\"\n    },\n    {\n        \"name\": \"Reg. 1g. mnd-dag\",\n        \"shortName\": \"reg1g\",\n        \"groupable\": true,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"MMDD for f\\u00f8rstgangsregistrering i Norge\"\n    },\n    {\n        \"name\": \"Co2-utslipp\",\n        \"shortName\": \"co2_utslippp\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Oppgis i gram pr. kilometer\"\n    },\n    {\n        \"name\": \"Euronorm\",\n        \"shortName\": \"euronorm\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"\"\n    },\n    {\n        \"name\": \"Sitteplasser totalt\",\n        \"shortName\": \"sitteplasser\",\n        \"groupable\": true,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"\"\n    },\n    {\n        \"name\": \"Fab.mont. partikkelfilter\",\n        \"shortName\": \"fab_mont_partikkelfilter\",\n        \"groupable\": true,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"1=nei, 2=ja, 0=uoppgitt\"\n    },\n    {\n        \"name\": \"Euronorm\",\n        \"shortName\": \"euronorm_ny\",\n        \"groupable\": true,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"L i posisjon 2 er lette kj\\u00f8ret\\u00f8y, T i posisjon 2 er tunge kj\\u00f8ret\\u00f8y. Se https:\/\/hotell.difi.no\/?dataset=vegvesen\/euronorm\"\n    },\n    {\n        \"name\": \"Hybrid\/Ikke hybrid\",\n        \"shortName\": \"hybrid\",\n        \"groupable\": true,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"0=Ikke hybrid, 1=Hybrid, 9=Ikke oppgitt\"\n    },\n    {\n        \"name\": \"Type hybrid\",\n        \"shortName\": \"hybrid_kategori\",\n        \"groupable\": true,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"1=PLGIN, 2=NOPLG, X=N.A., Z=Annet\"\n    },\n    {\n        \"name\": \"Drivstoff-forbruk\",\n        \"shortName\": \"drivstoff_forbruk\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Angis i liter\/100km og gjelder kombinert forbruk (ikke n\\u00f8dvendigvis oppgitt)\"\n    },\n    {\n        \"name\": \"Partikkelutslipp\",\n        \"shortName\": \"partikkelutslipp\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Oppgis i g\/km for Lett euronorm, g\/kwt for Tung euronorm\"\n    },\n    {\n        \"name\": \"NOX-utslipp\",\n        \"shortName\": \"nox_utslipp\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Oppgis i g\/km\"\n    },\n    {\n        \"name\": \"Dato for utbet. vrakpant\",\n        \"shortName\": \"vrakpant_utbetalt\",\n        \"groupable\": true,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Kun utfyllt dersom kj\\u00f8ret\\u00f8yet er vraket\"\n    }\n]",
                                "schema": {
                                    "$ref": "#\/components\/schemas\/datasetFields"
                                }
                            }
                        },
                        "headers": {
                            "ETag": {
                                "$ref": "#\/components\/headers\/ETag"
                            }
                        }
                    }
                }
            }
        },
        "\/api\/{format}\/vegvesen\/utek": {
            "get": {
                "tags": [
                    "utek"
                ],
                "description": "Hent ut ei side (page) med data. Inntil 100 postar pr. side.",
                "operationId": "getVegvesenUtekPage",
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "description": "Velg format",
                        "required": true,
                        "schema": {
                            "$ref": "#\/components\/schemas\/datahotelFormats"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Spesifiser side i resultatet \u00e5 hente ut. Standardverdi: 1.",
                        "required": false
                    },
                    {
                        "name": "query",
                        "in": "query",
                        "description": "S\u00f8k i datasettet. Gir treff p\u00e5 felt: understellsnr",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "understellsnr",
                        "in": "query",
                        "description": "Filtrer s\u00f8keresultat p\u00e5 eksakt match p\u00e5 dette feltet.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "reg_aar",
                        "in": "query",
                        "description": "Filtrer s\u00f8keresultat p\u00e5 eksakt match p\u00e5 dette feltet.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "typegodkjenningsnr",
                        "in": "query",
                        "description": "Filtrer s\u00f8keresultat p\u00e5 eksakt match p\u00e5 dette feltet.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "reg_forsteg_norge",
                        "in": "query",
                        "description": "Filtrer s\u00f8keresultat p\u00e5 eksakt match p\u00e5 dette feltet.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "bruktimportert",
                        "in": "query",
                        "description": "Filtrer s\u00f8keresultat p\u00e5 eksakt match p\u00e5 dette feltet.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "avreg_dato",
                        "in": "query",
                        "description": "Filtrer s\u00f8keresultat p\u00e5 eksakt match p\u00e5 dette feltet.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sist_pkk_godkjent",
                        "in": "query",
                        "description": "Filtrer s\u00f8keresultat p\u00e5 eksakt match p\u00e5 dette feltet.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "neste_pkk",
                        "in": "query",
                        "description": "Filtrer s\u00f8keresultat p\u00e5 eksakt match p\u00e5 dette feltet.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "siste_reg_dato",
                        "in": "query",
                        "description": "Filtrer s\u00f8keresultat p\u00e5 eksakt match p\u00e5 dette feltet.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "reg1g",
                        "in": "query",
                        "description": "Filtrer s\u00f8keresultat p\u00e5 eksakt match p\u00e5 dette feltet.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "vrakpant_utbetalt",
                        "in": "query",
                        "description": "Filtrer s\u00f8keresultat p\u00e5 eksakt match p\u00e5 dette feltet.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "merkekode",
                        "in": "query",
                        "description": "Filtrer s\u00f8keresultat p\u00e5 eksakt match p\u00e5 dette feltet.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ei side (page) med data. Inntil 100 rader",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/vegvesen-utek-response"
                                }
                            }
                        },
                        "headers": {
                            "ETag": {
                                "$ref": "#\/components\/headers\/ETag"
                            },
                            "X-Datahotel-Page": {
                                "$ref": "#\/components\/headers\/X-Datahotel-Page"
                            },
                            "X-Datahotel-Total-Pages": {
                                "$ref": "#\/components\/headers\/X-Datahotel-Total-Pages"
                            },
                            "X-Datahotel-Total-Posts": {
                                "$ref": "#\/components\/headers\/X-Datahotel-Total-Posts"
                            }
                        }
                    }
                }
            }
        },
        "\/download\/vegvesen\/utek": {
            "get": {
                "summary": "Last ned heile datasettet som CSV",
                "description": "Teiknsett er UTF8. Dersom fila skal opnast i Excel eller liknande, bruk parameter ?download. For alle andre bruksomr\u00e5de vil nedlasting utan ?download-parameteret passe betre.",
                "tags": [
                    "utek"
                ],
                "operationId": "downloadVegvesenUtek",
                "parameters": [
                    {
                        "name": "download",
                        "in": "query",
                        "description": "Dersom parameter er angitt, s\u00e5 f\u00e5r ein fil med UTF8 _med_ BOM i staden for UTF8. Denne varianter egnar seg dersom ein vil opne fila i Excel eller liknande",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Last ned heile datasettet som CSV",
                        "content": {
                            "text\/csv": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "application~\/vnd.ms-excel~": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "headers": {
                            "ETag": {
                                "$ref": "#\/components\/headers\/ETag"
                            }
                        }
                    }
                }
            }
        },
        "\/api\/{format}\/vegvesen\/utek\/meta": {
            "get": {
                "description": "Hent ut metadata for datasettet. ",
                "tags": [
                    "utek"
                ],
                "operationId": "getVegvesenUtekMetadata",
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "description": "Velg format",
                        "required": true,
                        "schema": {
                            "$ref": "#\/components\/schemas\/datahotelMetadataFormats"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Metadata",
                        "content": {
                            "application\/json": {
                                "example": "{\n    \"shortName\": \"utek\",\n    \"name\": \"Kj\\u00f8ret\\u00f8y - typegodkjente\",\n    \"location\": \"vegvesen\/utek\",\n    \"updated\": 1584432558,\n    \"dataset\": true\n}",
                                "schema": {
                                    "$ref": "#\/components\/schemas\/datasetMetadata"
                                }
                            }
                        },
                        "headers": {
                            "ETag": {
                                "$ref": "#\/components\/headers\/ETag"
                            }
                        }
                    }
                }
            }
        },
        "\/api\/{format}\/vegvesen\/utek\/fields": {
            "get": {
                "description": "Hent ut feltdefinisjonar for datasettet. ",
                "tags": [
                    "utek"
                ],
                "operationId": "getVegvesenUtekFields",
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "description": "Velg format",
                        "required": true,
                        "schema": {
                            "$ref": "#\/components\/schemas\/datahotelMetadataFormats"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Feltdefinisjoner",
                        "content": {
                            "application\/json": {
                                "example": "[\n    {\n        \"name\": \"Understellsnummer\",\n        \"shortName\": \"understellsnr\",\n        \"groupable\": true,\n        \"searchable\": true,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Vehicle Identification Number (VIN). Unikt for hvert enkelt kj\\u00f8ret\\u00f8y\"\n    },\n    {\n        \"name\": \"Reg. \\u00e5r (mod-\\u00e5r)\",\n        \"shortName\": \"reg_aar\",\n        \"groupable\": true,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"\"\n    },\n    {\n        \"name\": \"Typegodkjenningsnr.\",\n        \"shortName\": \"typegodkjenningsnr\",\n        \"groupable\": true,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Best\\u00e5r av: Godkjenningsnummer (1-4), variant (5-7) og \\u00e5r (8-11)\"\n    },\n    {\n        \"name\": \"Reg. f\\u00f8rsteg. Norge\",\n        \"shortName\": \"reg_forsteg_norge\",\n        \"groupable\": true,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Dato for f\\u00f8rstgangsregistrering i Norge\"\n    },\n    {\n        \"name\": \"Bruktimportert\",\n        \"shortName\": \"bruktimportert\",\n        \"groupable\": true,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"1 - dersom bruktimportert\"\n    },\n    {\n        \"name\": \"Avreg.dato\",\n        \"shortName\": \"avreg_dato\",\n        \"groupable\": true,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Dato for avregistrering av kj\\u00f8ret\\u00f8yet\"\n    },\n    {\n        \"name\": \"Farge\",\n        \"shortName\": \"farge\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Se https:\/\/hotell.difi.no\/?dataset=vegvesen\/fargekode\"\n    },\n    {\n        \"name\": \"Sist pkk-godkjent\",\n        \"shortName\": \"sist_pkk_godkjent\",\n        \"groupable\": true,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Dato for siste godkjente periodiske kj\\u00f8ret\\u00f8ykontroll\"\n    },\n    {\n        \"name\": \"Neste PKK\",\n        \"shortName\": \"neste_pkk\",\n        \"groupable\": true,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Dato for neste periodiske kj\\u00f8ret\\u00f8ykontroll\"\n    },\n    {\n        \"name\": \"Siste reg.dato\",\n        \"shortName\": \"siste_reg_dato\",\n        \"groupable\": true,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Vognkortet er av ny type hvis > 20040601\"\n    },\n    {\n        \"name\": \"Reg. 1g. mnd-dag\",\n        \"shortName\": \"reg1g\",\n        \"groupable\": true,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"MMDD for f\\u00f8rstgangsregistrering i Norge\"\n    },\n    {\n        \"name\": \"Dato for utbet. vrakpant\",\n        \"shortName\": \"vrakpant_utbetalt\",\n        \"groupable\": true,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Kun utfyllt dersom kj\\u00f8ret\\u00f8yet er vraket\"\n    },\n    {\n        \"name\": \"Merkekode\",\n        \"shortName\": \"merkekode\",\n        \"groupable\": true,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Se https:\/\/hotell.difi.no\/?dataset=vegvesen\/merkekode\"\n    },\n    {\n        \"name\": \"Modellbetegnelse\",\n        \"shortName\": \"modellbetegnelse\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Produsentens eget navn p\\u00e5 modellen. F.eks. 520D XDRIVE\"\n    },\n    {\n        \"name\": \"Typebetegnelse\",\n        \"shortName\": \"typebetegnelse\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Produsentens eget navn p\\u00e5 type. F.eks. 5k\"\n    }\n]",
                                "schema": {
                                    "$ref": "#\/components\/schemas\/datasetFields"
                                }
                            }
                        },
                        "headers": {
                            "ETag": {
                                "$ref": "#\/components\/headers\/ETag"
                            }
                        }
                    }
                }
            }
        },
        "\/api\/{format}\/vegvesen\/typg": {
            "get": {
                "tags": [
                    "typg"
                ],
                "description": "Hent ut ei side (page) med data. Inntil 100 postar pr. side.",
                "operationId": "getVegvesenTypgPage",
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "description": "Velg format",
                        "required": true,
                        "schema": {
                            "$ref": "#\/components\/schemas\/datahotelFormats"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Spesifiser side i resultatet \u00e5 hente ut. Standardverdi: 1.",
                        "required": false
                    },
                    {
                        "name": "query",
                        "in": "query",
                        "description": "S\u00f8k i datasettet. Gir treff p\u00e5 felt: typegodkjenningsnr",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "typegodkjenningsnr",
                        "in": "query",
                        "description": "Filtrer s\u00f8keresultat p\u00e5 eksakt match p\u00e5 dette feltet.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "merkekode",
                        "in": "query",
                        "description": "Filtrer s\u00f8keresultat p\u00e5 eksakt match p\u00e5 dette feltet.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "kjoretoygruppe",
                        "in": "query",
                        "description": "Filtrer s\u00f8keresultat p\u00e5 eksakt match p\u00e5 dette feltet.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "drivstoff",
                        "in": "query",
                        "description": "Filtrer s\u00f8keresultat p\u00e5 eksakt match p\u00e5 dette feltet.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "antall_aksler",
                        "in": "query",
                        "description": "Filtrer s\u00f8keresultat p\u00e5 eksakt match p\u00e5 dette feltet.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "antall_aksler_drift",
                        "in": "query",
                        "description": "Filtrer s\u00f8keresultat p\u00e5 eksakt match p\u00e5 dette feltet.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ytelsesmaal",
                        "in": "query",
                        "description": "Filtrer s\u00f8keresultat p\u00e5 eksakt match p\u00e5 dette feltet.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sitteplasser",
                        "in": "query",
                        "description": "Filtrer s\u00f8keresultat p\u00e5 eksakt match p\u00e5 dette feltet.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "fab_mont_partikkelfilter",
                        "in": "query",
                        "description": "Filtrer s\u00f8keresultat p\u00e5 eksakt match p\u00e5 dette feltet.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "euronorm_ny",
                        "in": "query",
                        "description": "Filtrer s\u00f8keresultat p\u00e5 eksakt match p\u00e5 dette feltet.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "hybrid",
                        "in": "query",
                        "description": "Filtrer s\u00f8keresultat p\u00e5 eksakt match p\u00e5 dette feltet.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "hybrid_kategori",
                        "in": "query",
                        "description": "Filtrer s\u00f8keresultat p\u00e5 eksakt match p\u00e5 dette feltet.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ei side (page) med data. Inntil 100 rader",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/vegvesen-typg-response"
                                }
                            }
                        },
                        "headers": {
                            "ETag": {
                                "$ref": "#\/components\/headers\/ETag"
                            },
                            "X-Datahotel-Page": {
                                "$ref": "#\/components\/headers\/X-Datahotel-Page"
                            },
                            "X-Datahotel-Total-Pages": {
                                "$ref": "#\/components\/headers\/X-Datahotel-Total-Pages"
                            },
                            "X-Datahotel-Total-Posts": {
                                "$ref": "#\/components\/headers\/X-Datahotel-Total-Posts"
                            }
                        }
                    }
                }
            }
        },
        "\/download\/vegvesen\/typg": {
            "get": {
                "summary": "Last ned heile datasettet som CSV",
                "description": "Teiknsett er UTF8. Dersom fila skal opnast i Excel eller liknande, bruk parameter ?download. For alle andre bruksomr\u00e5de vil nedlasting utan ?download-parameteret passe betre.",
                "tags": [
                    "typg"
                ],
                "operationId": "downloadVegvesenTypg",
                "parameters": [
                    {
                        "name": "download",
                        "in": "query",
                        "description": "Dersom parameter er angitt, s\u00e5 f\u00e5r ein fil med UTF8 _med_ BOM i staden for UTF8. Denne varianter egnar seg dersom ein vil opne fila i Excel eller liknande",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Last ned heile datasettet som CSV",
                        "content": {
                            "text\/csv": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "application~\/vnd.ms-excel~": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "headers": {
                            "ETag": {
                                "$ref": "#\/components\/headers\/ETag"
                            }
                        }
                    }
                }
            }
        },
        "\/api\/{format}\/vegvesen\/typg\/meta": {
            "get": {
                "description": "Hent ut metadata for datasettet. ",
                "tags": [
                    "typg"
                ],
                "operationId": "getVegvesenTypgMetadata",
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "description": "Velg format",
                        "required": true,
                        "schema": {
                            "$ref": "#\/components\/schemas\/datahotelMetadataFormats"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Metadata",
                        "content": {
                            "application\/json": {
                                "example": "{\n    \"shortName\": \"typg\",\n    \"name\": \"Typegodkjenninger for kj\\u00f8ret\\u00f8y\",\n    \"location\": \"vegvesen\/typg\",\n    \"updated\": 1584432540,\n    \"dataset\": true\n}",
                                "schema": {
                                    "$ref": "#\/components\/schemas\/datasetMetadata"
                                }
                            }
                        },
                        "headers": {
                            "ETag": {
                                "$ref": "#\/components\/headers\/ETag"
                            }
                        }
                    }
                }
            }
        },
        "\/api\/{format}\/vegvesen\/typg\/fields": {
            "get": {
                "description": "Hent ut feltdefinisjonar for datasettet. ",
                "tags": [
                    "typg"
                ],
                "operationId": "getVegvesenTypgFields",
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "description": "Velg format",
                        "required": true,
                        "schema": {
                            "$ref": "#\/components\/schemas\/datahotelMetadataFormats"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Feltdefinisjoner",
                        "content": {
                            "application\/json": {
                                "example": "[\n    {\n        \"name\": \"Typegodkjenningsnr.\",\n        \"shortName\": \"typegodkjenningsnr\",\n        \"groupable\": true,\n        \"searchable\": true,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Best\\u00e5r av: Godkjenningsnummer (1-4), variant (5-7) og \\u00e5r (8-11)\"\n    },\n    {\n        \"name\": \"Eu-hovednummer\",\n        \"shortName\": \"eu_hovednummer\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Eks: e4*98\/14*0040*00\"\n    },\n    {\n        \"name\": \"Merkekode\",\n        \"shortName\": \"merkekode\",\n        \"groupable\": true,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Se https:\/\/hotell.difi.no\/?dataset=vegvesen\/merkekode\"\n    },\n    {\n        \"name\": \"Modellbetegnelse\",\n        \"shortName\": \"modellbetegnelse\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Produsentens eget navn p\\u00e5 modellen. F.eks. 520D XDRIVE\"\n    },\n    {\n        \"name\": \"Typebetegnelse\",\n        \"shortName\": \"typebetegnelse\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Produsentens eget navn p\\u00e5 type. F.eks. 5k\"\n    },\n    {\n        \"name\": \"Kj\\u00f8ret\\u00f8ygruppe\",\n        \"shortName\": \"kjoretoygruppe\",\n        \"groupable\": true,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Se https:\/\/hotell.difi.no\/?dataset=vegvesen\/kjoretoygruppe\"\n    },\n    {\n        \"name\": \"Ramme-karosseri\",\n        \"shortName\": \"ramme_karosseri\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Fritekst \"\n    },\n    {\n        \"name\": \"Motorytelse\",\n        \"shortName\": \"motorytelse\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Oppgis i Kw n\\u00e5r ytelsesmaal = 1, oppgis i HK n\\u00e5r ytelsesmaal = 2. Se egen kolonne for ytelesesmaal\"\n    },\n    {\n        \"name\": \"Slagvolum\",\n        \"shortName\": \"slagvolum\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Oppgis i ccm\"\n    },\n    {\n        \"name\": \"Drivstoff\",\n        \"shortName\": \"drivstoff\",\n        \"groupable\": true,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Se https:\/\/hotell.difi.no\/?dataset=vegvesen\/drivstoffkoder\"\n    },\n    {\n        \"name\": \"Lengde\",\n        \"shortName\": \"lengde\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Oppgis i cm\"\n    },\n    {\n        \"name\": \"Bredde\",\n        \"shortName\": \"bredde\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Oppgis i cm\"\n    },\n    {\n        \"name\": \"Std. dekk foran\",\n        \"shortName\": \"std_dekk_foran\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Eks :195\/65R15 : 195= dekkbredde(mm), 65=h\\u00f8yden p\\u00e5 kanten av dekket fra felgen og ut, kalles profil og angis i % av dekkbredde, R15=felgens diameter i tommer\"\n    },\n    {\n        \"name\": \"Std. dekk bak\",\n        \"shortName\": \"std_dekk_bak\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Eks :195\/65R15 : 195= dekkbredde(mm), 65=h\\u00f8yden p\\u00e5 kanten av dekket fra felgen og ut, kalles profil og angis i % av dekkbredde, R15=felgens diameter i tommer\"\n    },\n    {\n        \"name\": \"Std. felg foran\",\n        \"shortName\": \"std_felg_foran\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"F.eks: 6J-6 der 6=felgens bredde i tommer og J=type felg (J er for det meste standard)\"\n    },\n    {\n        \"name\": \"Std. felg bak\",\n        \"shortName\": \"std_felg_bak\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"F.eks: 6J-6 der 6=felgens bredde i tommer og J=type felg (J er for det meste standard)\"\n    },\n    {\n        \"name\": \"Min. LI foran\",\n        \"shortName\": \"min_li_foran\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"LI st\\u00e5r for Load Index, og er belastningskoden for dekket, og angir maks vekt dekket er konstruert for. Se https:\/\/hotell.difi.no\/?dataset=vegvesen\/belastningstabell\"\n    },\n    {\n        \"name\": \"Min. LI bak\",\n        \"shortName\": \"min_li_bak\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"LI st\\u00e5r for Load Index, og er belastningskoden for dekket, og angir maks vekt dekket er konstruert for. Se https:\/\/hotell.difi.no\/?dataset=vegvesen\/belastningstabell\"\n    },\n    {\n        \"name\": \"Min. hast. foran\",\n        \"shortName\": \"min_hast_foran\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Hastighetskode (SI=Speed Index) for dekk. Se https:\/\/hotell.difi.no\/?dataset=vegvesen\/hastighetstabell\"\n    },\n    {\n        \"name\": \"Min. hast. bak\",\n        \"shortName\": \"min_hast_bak\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Hastighetskode (SI=Speed Index) for dekk. Se https:\/\/hotell.difi.no\/?dataset=vegvesen\/hastighetstabell\"\n    },\n    {\n        \"name\": \"Min. innpress foran\",\n        \"shortName\": \"min_innpress_foran\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"F.eks. 18 mm innpress, vil si at anleggsflaten til felgen mot navet er 18mm fra senter av felgen ut fra bilen\"\n    },\n    {\n        \"name\": \"Min. innpress bak\",\n        \"shortName\": \"min_innpress_bak\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"F.eks. 18 mm innpress, vil si at anleggsflaten til felgen mot navet er 18mm fra senter av felgen ut fra bilen\"\n    },\n    {\n        \"name\": \"Maks sporv foran\",\n        \"shortName\": \"maks_sporv_foran\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Oppgis i mm. Sporvidden er avstanden senter \\u2013 senter mellom dekkene p\\u00e5 samme aksel\"\n    },\n    {\n        \"name\": \"Maks sporv bak\",\n        \"shortName\": \"maks_sporv_bak\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Oppgis i mm. Sporvidden er avstanden senter \\u2013 senter mellom dekkene p\\u00e5 samme aksel\"\n    },\n    {\n        \"name\": \"Motormerking\",\n        \"shortName\": \"motormerking\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Produsentens tekniske\/spesifikke data om motoren, som regel i form av klistremerke p\\u00e5 selve motoren\"\n    },\n    {\n        \"name\": \"Girkasse\",\n        \"shortName\": \"girkasse\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Automat\/Manuell\/Blank\"\n    },\n    {\n        \"name\": \"Stand dB(A)\",\n        \"shortName\": \"stand_dba\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Standardst\\u00f8y\"\n    },\n    {\n        \"name\": \"Omdreininger\",\n        \"shortName\": \"omdreininger\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Ved omdreinigstall (standardst\\u00f8y)\"\n    },\n    {\n        \"name\": \"Totalvekt\",\n        \"shortName\": \"totalvekt\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Oppgis i kg\"\n    },\n    {\n        \"name\": \"Egenvekt\",\n        \"shortName\": \"egenvekt\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Oppgis i kg\"\n    },\n    {\n        \"name\": \"Till. foraksellast\",\n        \"shortName\": \"till_foraksellast\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Oppgis i kg\"\n    },\n    {\n        \"name\": \"Till. bakaksellast\",\n        \"shortName\": \"till_bakaksellast\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Oppgis i kg\"\n    },\n    {\n        \"name\": \"Variant\",\n        \"shortName\": \"variant\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Ingen relevans, kommer fra typegodkjenning\"\n    },\n    {\n        \"name\": \"Versjon\",\n        \"shortName\": \"versjon\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Ingen relevans, kommer fra typegodkjenning\"\n    },\n    {\n        \"name\": \"Gyldig fra unr\",\n        \"shortName\": \"gyldig_fra_unr\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Ingen relevans, kommer fra typegodkjenning\"\n    },\n    {\n        \"name\": \"Drivende hjul\",\n        \"shortName\": \"drivende_hjul\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Foran\/Bak\/Alle\/Blank\"\n    },\n    {\n        \"name\": \"Vognkort anm.\",\n        \"shortName\": \"vognkort_anm\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Tekst i vognkort\"\n    },\n    {\n        \"name\": \"Identitet anm.\",\n        \"shortName\": \"identitet_anm\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Tekst i vognkort\"\n    },\n    {\n        \"name\": \"Antall aksler\",\n        \"shortName\": \"antall_aksler\",\n        \"groupable\": true,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"\"\n    },\n    {\n        \"name\": \"Antall aksler med drift\",\n        \"shortName\": \"antall_aksler_drift\",\n        \"groupable\": true,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"\"\n    },\n    {\n        \"name\": \"Tilhengervekt m\/brems\",\n        \"shortName\": \"tilhengervekt_m_brems\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Oppgis i kg\"\n    },\n    {\n        \"name\": \"Tilhengervekt u\/brems\",\n        \"shortName\": \"tilhengervekt_u_brem\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Oppgis i kg\"\n    },\n    {\n        \"name\": \"Lengde til tilh.kobling\",\n        \"shortName\": \"lengde_til_tilhkobling\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Oppgis i cm\"\n    },\n    {\n        \"name\": \"Max. belastning h.feste\",\n        \"shortName\": \"max_belastning_h_feste\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Oppgis i kg\"\n    },\n    {\n        \"name\": \"Max. taklast\",\n        \"shortName\": \"max_taklast\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Oppgis i kg\"\n    },\n    {\n        \"name\": \"Vogntogvekt\",\n        \"shortName\": \"vogntogvekt\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Oppgis i kg\"\n    },\n    {\n        \"name\": \"Ytelsesm\\u00e5l\",\n        \"shortName\": \"ytelsesmaal\",\n        \"groupable\": true,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"1 = KW, 2 = HK, ellers ukjent\/mangler\"\n    },\n    {\n        \"name\": \"Co2-utslipp\",\n        \"shortName\": \"co2_utslipp\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Oppgis i gram pr.kilometer\"\n    },\n    {\n        \"name\": \"Sitteplasser totalt\",\n        \"shortName\": \"sitteplasser\",\n        \"groupable\": true,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"\"\n    },\n    {\n        \"name\": \"Fab.mont. partikkelfilter\",\n        \"shortName\": \"fab_mont_partikkelfilter\",\n        \"groupable\": true,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"1=nei, 2=ja, 0=uoppgitt\"\n    },\n    {\n        \"name\": \"Euronorm\",\n        \"shortName\": \"euronorm_ny\",\n        \"groupable\": true,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"L i posisjon 2 er lette kj\\u00f8ret\\u00f8y, T i posisjon 2 er tunge kj\\u00f8ret\\u00f8y. Se https:\/\/hotell.difi.no\/?dataset=vegvesen\/euronorm\"\n    },\n    {\n        \"name\": \"Hybrid\/Ikke hybrid\",\n        \"shortName\": \"hybrid\",\n        \"groupable\": true,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"0=Ikke hybrid, 1=Hybrid, 9=Ikke oppgitt\"\n    },\n    {\n        \"name\": \"Type hybrid\",\n        \"shortName\": \"hybrid_kategori\",\n        \"groupable\": true,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"1=PLGIN, 2=NOPLG, X=N.A., Z=Annet\"\n    },\n    {\n        \"name\": \"Drivstoff-forbruk\",\n        \"shortName\": \"drivstoff_forbruk\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Liter\/100km\"\n    },\n    {\n        \"name\": \"Partikkelutslipp\",\n        \"shortName\": \"partikkelutslipp\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Oppgis i g\/km for Lett euronorm, g\/kwt for Tung euronorm\"\n    },\n    {\n        \"name\": \"NOX-utslipp\",\n        \"shortName\": \"nox_utslipp\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Oppgis i g\/km\"\n    }\n]",
                                "schema": {
                                    "$ref": "#\/components\/schemas\/datasetFields"
                                }
                            }
                        },
                        "headers": {
                            "ETag": {
                                "$ref": "#\/components\/headers\/ETag"
                            }
                        }
                    }
                }
            }
        },
        "\/api\/{format}\/vegvesen\/fargekode": {
            "get": {
                "tags": [
                    "fargekode"
                ],
                "description": "Hent ut ei side (page) med data. Inntil 100 postar pr. side.",
                "operationId": "getVegvesenFargekodePage",
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "description": "Velg format",
                        "required": true,
                        "schema": {
                            "$ref": "#\/components\/schemas\/datahotelFormats"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Spesifiser side i resultatet \u00e5 hente ut. Standardverdi: 1.",
                        "required": false
                    },
                    {
                        "name": "query",
                        "in": "query",
                        "description": "S\u00f8k i datasettet. Gir treff p\u00e5 felt: kode, navn",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "kode",
                        "in": "query",
                        "description": "Filtrer s\u00f8keresultat p\u00e5 eksakt match p\u00e5 dette feltet.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ei side (page) med data. Inntil 100 rader",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/vegvesen-fargekode-response"
                                }
                            }
                        },
                        "headers": {
                            "ETag": {
                                "$ref": "#\/components\/headers\/ETag"
                            },
                            "X-Datahotel-Page": {
                                "$ref": "#\/components\/headers\/X-Datahotel-Page"
                            },
                            "X-Datahotel-Total-Pages": {
                                "$ref": "#\/components\/headers\/X-Datahotel-Total-Pages"
                            },
                            "X-Datahotel-Total-Posts": {
                                "$ref": "#\/components\/headers\/X-Datahotel-Total-Posts"
                            }
                        }
                    }
                }
            }
        },
        "\/download\/vegvesen\/fargekode": {
            "get": {
                "summary": "Last ned heile datasettet som CSV",
                "description": "Teiknsett er UTF8. Dersom fila skal opnast i Excel eller liknande, bruk parameter ?download. For alle andre bruksomr\u00e5de vil nedlasting utan ?download-parameteret passe betre.",
                "tags": [
                    "fargekode"
                ],
                "operationId": "downloadVegvesenFargekode",
                "parameters": [
                    {
                        "name": "download",
                        "in": "query",
                        "description": "Dersom parameter er angitt, s\u00e5 f\u00e5r ein fil med UTF8 _med_ BOM i staden for UTF8. Denne varianter egnar seg dersom ein vil opne fila i Excel eller liknande",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Last ned heile datasettet som CSV",
                        "content": {
                            "text\/csv": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "application~\/vnd.ms-excel~": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "headers": {
                            "ETag": {
                                "$ref": "#\/components\/headers\/ETag"
                            }
                        }
                    }
                }
            }
        },
        "\/api\/{format}\/vegvesen\/fargekode\/meta": {
            "get": {
                "description": "Hent ut metadata for datasettet. ",
                "tags": [
                    "fargekode"
                ],
                "operationId": "getVegvesenFargekodeMetadata",
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "description": "Velg format",
                        "required": true,
                        "schema": {
                            "$ref": "#\/components\/schemas\/datahotelMetadataFormats"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Metadata",
                        "content": {
                            "application\/json": {
                                "example": "{\n    \"shortName\": \"fargekode\",\n    \"name\": \"Kj\\u00f8ret\\u00f8y - Fargekode\",\n    \"location\": \"vegvesen\/fargekode\",\n    \"updated\": 1523446120,\n    \"dataset\": true\n}",
                                "schema": {
                                    "$ref": "#\/components\/schemas\/datasetMetadata"
                                }
                            }
                        },
                        "headers": {
                            "ETag": {
                                "$ref": "#\/components\/headers\/ETag"
                            }
                        }
                    }
                }
            }
        },
        "\/api\/{format}\/vegvesen\/fargekode\/fields": {
            "get": {
                "description": "Hent ut feltdefinisjonar for datasettet. ",
                "tags": [
                    "fargekode"
                ],
                "operationId": "getVegvesenFargekodeFields",
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "description": "Velg format",
                        "required": true,
                        "schema": {
                            "$ref": "#\/components\/schemas\/datahotelMetadataFormats"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Feltdefinisjoner",
                        "content": {
                            "application\/json": {
                                "example": "[\n    {\n        \"name\": \"Kode\",\n        \"shortName\": \"kode\",\n        \"groupable\": true,\n        \"searchable\": true,\n        \"indexPrimaryKey\": false,\n        \"description\": \"\"\n    },\n    {\n        \"name\": \"Navn\",\n        \"shortName\": \"navn\",\n        \"groupable\": false,\n        \"searchable\": true,\n        \"indexPrimaryKey\": false,\n        \"description\": \"\"\n    }\n]",
                                "schema": {
                                    "$ref": "#\/components\/schemas\/datasetFields"
                                }
                            }
                        },
                        "headers": {
                            "ETag": {
                                "$ref": "#\/components\/headers\/ETag"
                            }
                        }
                    }
                }
            }
        },
        "\/api\/{format}\/vegvesen\/merkekode": {
            "get": {
                "tags": [
                    "merkekode"
                ],
                "description": "Hent ut ei side (page) med data. Inntil 100 postar pr. side.",
                "operationId": "getVegvesenMerkekodePage",
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "description": "Velg format",
                        "required": true,
                        "schema": {
                            "$ref": "#\/components\/schemas\/datahotelFormats"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Spesifiser side i resultatet \u00e5 hente ut. Standardverdi: 1.",
                        "required": false
                    },
                    {
                        "name": "query",
                        "in": "query",
                        "description": "S\u00f8k i datasettet. Gir treff p\u00e5 felt: kode, navn",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "kode",
                        "in": "query",
                        "description": "Filtrer s\u00f8keresultat p\u00e5 eksakt match p\u00e5 dette feltet.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ei side (page) med data. Inntil 100 rader",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/vegvesen-merkekode-response"
                                }
                            }
                        },
                        "headers": {
                            "ETag": {
                                "$ref": "#\/components\/headers\/ETag"
                            },
                            "X-Datahotel-Page": {
                                "$ref": "#\/components\/headers\/X-Datahotel-Page"
                            },
                            "X-Datahotel-Total-Pages": {
                                "$ref": "#\/components\/headers\/X-Datahotel-Total-Pages"
                            },
                            "X-Datahotel-Total-Posts": {
                                "$ref": "#\/components\/headers\/X-Datahotel-Total-Posts"
                            }
                        }
                    }
                }
            }
        },
        "\/download\/vegvesen\/merkekode": {
            "get": {
                "summary": "Last ned heile datasettet som CSV",
                "description": "Teiknsett er UTF8. Dersom fila skal opnast i Excel eller liknande, bruk parameter ?download. For alle andre bruksomr\u00e5de vil nedlasting utan ?download-parameteret passe betre.",
                "tags": [
                    "merkekode"
                ],
                "operationId": "downloadVegvesenMerkekode",
                "parameters": [
                    {
                        "name": "download",
                        "in": "query",
                        "description": "Dersom parameter er angitt, s\u00e5 f\u00e5r ein fil med UTF8 _med_ BOM i staden for UTF8. Denne varianter egnar seg dersom ein vil opne fila i Excel eller liknande",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Last ned heile datasettet som CSV",
                        "content": {
                            "text\/csv": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "application~\/vnd.ms-excel~": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "headers": {
                            "ETag": {
                                "$ref": "#\/components\/headers\/ETag"
                            }
                        }
                    }
                }
            }
        },
        "\/api\/{format}\/vegvesen\/merkekode\/meta": {
            "get": {
                "description": "Hent ut metadata for datasettet. ",
                "tags": [
                    "merkekode"
                ],
                "operationId": "getVegvesenMerkekodeMetadata",
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "description": "Velg format",
                        "required": true,
                        "schema": {
                            "$ref": "#\/components\/schemas\/datahotelMetadataFormats"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Metadata",
                        "content": {
                            "application\/json": {
                                "example": "{\n    \"shortName\": \"merkekode\",\n    \"name\": \"Kj\\u00f8ret\\u00f8y - Merkekode\",\n    \"location\": \"vegvesen\/merkekode\",\n    \"updated\": 1554211508,\n    \"dataset\": true\n}",
                                "schema": {
                                    "$ref": "#\/components\/schemas\/datasetMetadata"
                                }
                            }
                        },
                        "headers": {
                            "ETag": {
                                "$ref": "#\/components\/headers\/ETag"
                            }
                        }
                    }
                }
            }
        },
        "\/api\/{format}\/vegvesen\/merkekode\/fields": {
            "get": {
                "description": "Hent ut feltdefinisjonar for datasettet. ",
                "tags": [
                    "merkekode"
                ],
                "operationId": "getVegvesenMerkekodeFields",
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "description": "Velg format",
                        "required": true,
                        "schema": {
                            "$ref": "#\/components\/schemas\/datahotelMetadataFormats"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Feltdefinisjoner",
                        "content": {
                            "application\/json": {
                                "example": "[\n    {\n        \"name\": \"Kode\",\n        \"shortName\": \"kode\",\n        \"groupable\": true,\n        \"searchable\": true,\n        \"indexPrimaryKey\": false,\n        \"description\": \"\"\n    },\n    {\n        \"name\": \"Navn\",\n        \"shortName\": \"navn\",\n        \"groupable\": false,\n        \"searchable\": true,\n        \"indexPrimaryKey\": false,\n        \"description\": \"\"\n    }\n]",
                                "schema": {
                                    "$ref": "#\/components\/schemas\/datasetFields"
                                }
                            }
                        },
                        "headers": {
                            "ETag": {
                                "$ref": "#\/components\/headers\/ETag"
                            }
                        }
                    }
                }
            }
        },
        "\/api\/{format}\/vegvesen\/kjoretoygruppe": {
            "get": {
                "tags": [
                    "kjoretoygruppe"
                ],
                "description": "Hent ut ei side (page) med data. Inntil 100 postar pr. side.",
                "operationId": "getVegvesenKjoretoygruppePage",
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "description": "Velg format",
                        "required": true,
                        "schema": {
                            "$ref": "#\/components\/schemas\/datahotelFormats"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Spesifiser side i resultatet \u00e5 hente ut. Standardverdi: 1.",
                        "required": false
                    },
                    {
                        "name": "query",
                        "in": "query",
                        "description": "S\u00f8k i datasettet. Gir treff p\u00e5 felt: kode, tekst",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "kode",
                        "in": "query",
                        "description": "Filtrer s\u00f8keresultat p\u00e5 eksakt match p\u00e5 dette feltet.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ei side (page) med data. Inntil 100 rader",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/vegvesen-kjoretoygruppe-response"
                                }
                            }
                        },
                        "headers": {
                            "ETag": {
                                "$ref": "#\/components\/headers\/ETag"
                            },
                            "X-Datahotel-Page": {
                                "$ref": "#\/components\/headers\/X-Datahotel-Page"
                            },
                            "X-Datahotel-Total-Pages": {
                                "$ref": "#\/components\/headers\/X-Datahotel-Total-Pages"
                            },
                            "X-Datahotel-Total-Posts": {
                                "$ref": "#\/components\/headers\/X-Datahotel-Total-Posts"
                            }
                        }
                    }
                }
            }
        },
        "\/download\/vegvesen\/kjoretoygruppe": {
            "get": {
                "summary": "Last ned heile datasettet som CSV",
                "description": "Teiknsett er UTF8. Dersom fila skal opnast i Excel eller liknande, bruk parameter ?download. For alle andre bruksomr\u00e5de vil nedlasting utan ?download-parameteret passe betre.",
                "tags": [
                    "kjoretoygruppe"
                ],
                "operationId": "downloadVegvesenKjoretoygruppe",
                "parameters": [
                    {
                        "name": "download",
                        "in": "query",
                        "description": "Dersom parameter er angitt, s\u00e5 f\u00e5r ein fil med UTF8 _med_ BOM i staden for UTF8. Denne varianter egnar seg dersom ein vil opne fila i Excel eller liknande",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Last ned heile datasettet som CSV",
                        "content": {
                            "text\/csv": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "application~\/vnd.ms-excel~": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "headers": {
                            "ETag": {
                                "$ref": "#\/components\/headers\/ETag"
                            }
                        }
                    }
                }
            }
        },
        "\/api\/{format}\/vegvesen\/kjoretoygruppe\/meta": {
            "get": {
                "description": "Hent ut metadata for datasettet. ",
                "tags": [
                    "kjoretoygruppe"
                ],
                "operationId": "getVegvesenKjoretoygruppeMetadata",
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "description": "Velg format",
                        "required": true,
                        "schema": {
                            "$ref": "#\/components\/schemas\/datahotelMetadataFormats"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Metadata",
                        "content": {
[...]
