{
    "openapi": "3.0.0",
    "info": {
        "description": "<p>Sj\u00e5 <a href=\"https:\/\/data.norge.no\/node\/3115\">datasett-oppf\u00f8ring<\/a> for meir informasjon (kontaktinformasjon, oppdateringsfrekvens, lenker til dokumentasjon etc.)<\/p>\n",
        "version": "1.0.0",
        "title": "Leveranser til kornkj\u00f8per eller s\u00e5vareforretning i landbruket i korn\u00e5ret juli 2018 til juni 2019",
        "license": {
            "name": "Data-lisens",
            "url": "http:\/\/data.norge.no\/nlod\/"
        },
        "termsOfService": "https:\/\/hotell.difi.no\/api"
    },
    "servers": [
        {
            "url": "https:\/\/hotell.difi.no"
        }
    ],
    "paths": {
        "\/api\/{format}\/ldir\/leveransedata-korn\/2018-2019": {
            "get": {
                "tags": [
                    "2018-2019"
                ],
                "description": "Hent ut ei side (page) med data. Inntil 100 postar pr. side.",
                "operationId": "getLdirLeveransedata-korn2018-2019Page",
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "description": "Velg format",
                        "required": true,
                        "schema": {
                            "$ref": "#\/components\/schemas\/datahotelFormats"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Spesifiser side i resultatet \u00e5 hente ut. Standardverdi: 1.",
                        "required": false
                    },
                    {
                        "name": "query",
                        "in": "query",
                        "description": "S\u00f8k i datasettet. Gir treff p\u00e5 felt: orgnr, navn, komnr",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "komnr",
                        "in": "query",
                        "description": "Filtrer s\u00f8keresultat p\u00e5 eksakt match p\u00e5 dette feltet.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ei side (page) med data. Inntil 100 rader",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/ldir-leveransedata-korn-2018-2019-response"
                                }
                            }
                        },
                        "headers": {
                            "ETag": {
                                "$ref": "#\/components\/headers\/ETag"
                            },
                            "X-Datahotel-Page": {
                                "$ref": "#\/components\/headers\/X-Datahotel-Page"
                            },
                            "X-Datahotel-Total-Pages": {
                                "$ref": "#\/components\/headers\/X-Datahotel-Total-Pages"
                            },
                            "X-Datahotel-Total-Posts": {
                                "$ref": "#\/components\/headers\/X-Datahotel-Total-Posts"
                            }
                        }
                    }
                }
            }
        },
        "\/download\/ldir\/leveransedata-korn\/2018-2019": {
            "get": {
                "summary": "Last ned heile datasettet som CSV",
                "description": "Teiknsett er UTF8. Dersom fila skal opnast i Excel eller liknande, bruk parameter ?download. For alle andre bruksomr\u00e5de vil nedlasting utan ?download-parameteret passe betre.",
                "tags": [
                    "2018-2019"
                ],
                "operationId": "downloadLdirLeveransedata-korn2018-2019",
                "parameters": [
                    {
                        "name": "download",
                        "in": "query",
                        "description": "Dersom parameter er angitt, s\u00e5 f\u00e5r ein fil med UTF8 _med_ BOM i staden for UTF8. Denne varianter egnar seg dersom ein vil opne fila i Excel eller liknande",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Last ned heile datasettet som CSV",
                        "content": {
                            "text\/csv": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "application~\/vnd.ms-excel~": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "headers": {
                            "ETag": {
                                "$ref": "#\/components\/headers\/ETag"
                            }
                        }
                    }
                }
            }
        },
        "\/api\/{format}\/ldir\/leveransedata-korn\/2018-2019\/meta": {
            "get": {
                "description": "Hent ut metadata for datasettet. ",
                "tags": [
                    "2018-2019"
                ],
                "operationId": "getLdirLeveransedata-korn2018-2019Metadata",
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "description": "Velg format",
                        "required": true,
                        "schema": {
                            "$ref": "#\/components\/schemas\/datahotelMetadataFormats"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Metadata",
                        "content": {
                            "application\/json": {
                                "example": "{\n    \"shortName\": \"2018-2019\",\n    \"name\": \"Leveranser til kornkj\\u00f8per eller s\\u00e5vareforretning i landbruket i korn\\u00e5ret juli 2018 til juni 2019\",\n    \"location\": \"ldir\/leveransedata-korn\/2018-2019\",\n    \"updated\": 1576499365,\n    \"dataset\": true\n}",
                                "schema": {
                                    "$ref": "#\/components\/schemas\/datasetMetadata"
                                }
                            }
                        },
                        "headers": {
                            "ETag": {
                                "$ref": "#\/components\/headers\/ETag"
                            }
                        }
                    }
                }
            }
        },
        "\/api\/{format}\/ldir\/leveransedata-korn\/2018-2019\/fields": {
            "get": {
                "description": "Hent ut feltdefinisjonar for datasettet. ",
                "tags": [
                    "2018-2019"
                ],
                "operationId": "getLdirLeveransedata-korn2018-2019Fields",
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "description": "Velg format",
                        "required": true,
                        "schema": {
                            "$ref": "#\/components\/schemas\/datahotelMetadataFormats"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Feltdefinisjoner",
                        "content": {
                            "application\/json": {
                                "example": "[\n    {\n        \"name\": \"Organisasjonsnr.\",\n        \"shortName\": \"orgnr\",\n        \"groupable\": false,\n        \"searchable\": true,\n        \"indexPrimaryKey\": false,\n        \"description\": \"\"\n    },\n    {\n        \"name\": \"Navn\",\n        \"shortName\": \"navn\",\n        \"groupable\": false,\n        \"searchable\": true,\n        \"indexPrimaryKey\": false,\n        \"description\": \"\"\n    },\n    {\n        \"name\": \"Kommunenummer\",\n        \"shortName\": \"komnr\",\n        \"groupable\": true,\n        \"searchable\": true,\n        \"indexPrimaryKey\": false,\n        \"description\": \"\"\n    },\n    {\n        \"name\": \"Bygg f\\u00f4r (kg)\",\n        \"shortName\": \"bygg_for_kg\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"\"\n    },\n    {\n        \"name\": \"Bygg s\\u00e5korn (kg)\",\n        \"shortName\": \"bygg_saakorn_kg\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"\"\n    },\n    {\n        \"name\": \"Bygg mat (kg)\",\n        \"shortName\": \"bygg_mat_kg\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"\"\n    },\n    {\n        \"name\": \"Erter f\\u00f4r (kg)\",\n        \"shortName\": \"erter_for_kg\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"\"\n    },\n    {\n        \"name\": \"Erter mat (kg)\",\n        \"shortName\": \"erter_mat_kg\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"\"\n    },\n    {\n        \"name\": \"Erter s\\u00e5korn (kg)\",\n        \"shortName\": \"erter_saakorn_kg\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"\"\n    },\n    {\n        \"name\": \"Havre f\\u00f4r (kg)\",\n        \"shortName\": \"havre_for_kg\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"\"\n    },\n    {\n        \"name\": \"Havre s\\u00e5korn (kg)\",\n        \"shortName\": \"havre_saakorn_kg\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"\"\n    },\n    {\n        \"name\": \"Hvete f\\u00f4r (kg)\",\n        \"shortName\": \"hvete_for_kg\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"\"\n    },\n    {\n        \"name\": \"Hvete mat (kg)\",\n        \"shortName\": \"hvete_mat_kg\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"\"\n    },\n    {\n        \"name\": \"Hvete s\\u00e5korn (kg)\",\n        \"shortName\": \"hvete_saakorn_kg\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"\"\n    },\n    {\n        \"name\": \"Oljefr\\u00f8 (kg)\",\n        \"shortName\": \"oljefro_kg\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"\"\n    },\n    {\n        \"name\": \"Oljefr\\u00f8 s\\u00e5korn (kg)\",\n        \"shortName\": \"oljefro_saakorn_kg\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"\"\n    },\n    {\n        \"name\": \"Rug f\\u00f4r (kg)\",\n        \"shortName\": \"rug_for_kg\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"\"\n    },\n    {\n        \"name\": \"Rug mat (kg)\",\n        \"shortName\": \"rug_mat_kg\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"\"\n    },\n    {\n        \"name\": \"Rug s\\u00e5korn (kg)\",\n        \"shortName\": \"rug_saakorn_kg\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"\"\n    },\n    {\n        \"name\": \"Rughvete f\\u00f4r (kg)\",\n        \"shortName\": \"rughvete_for_kg\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"\"\n    },\n    {\n        \"name\": \"Rughvete s\\u00e5korn (kg)\",\n        \"shortName\": \"rughvete_saakorn_kg\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"\"\n    }\n]",
                                "schema": {
                                    "$ref": "#\/components\/schemas\/datasetFields"
                                }
                            }
                        },
                        "headers": {
                            "ETag": {
                                "$ref": "#\/components\/headers\/ETag"
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "datahotelFormats": {
                "type": "string",
                "enum": [
                    "json",
                    "jsonp",
                    "xml",
                    "csv",
                    "yaml"
                ]
            },
            "datahotelMetadataFormats": {
                "type": "string",
                "enum": [
                    "json",
                    "jsonp",
                    "xml",
                    "yaml"
                ]
            },
            "datasetMetadata": {
                "type": "object",
                "properties": {
                    "shortName": {
                        "type": "string",
                        "description": "Kortnamn for datasettet. Samme som siste ledd i location."
                    },
                    "name": {
                        "type": "string",
                        "description": "Menneskelesbart namn for datasettet."
                    },
                    "location": {
                        "type": "string",
                        "description": "Unik datasett-id i datahotellet"
                    },
                    "updated": {
                        "type": "integer",
                        "description": "Timestamp for n\u00e5r tid datasettet sist vart endra p\u00e5 datahotellet. Verdien er unix timestamp, enten i sekund (10 siffer) eller millisekund (13 siffer)."
                    },
                    "dataset": {
                        "type": "boolean",
                        "description": "True dersom location er eit datasett, false dersom ikkje. Ved false kan location vere ein katalog som inneheld datasett."
                    }
                }
            },
            "datasetFields": {
                "type": "array",
                "items": {
                    "type": "object",
                    "properties": {
                        "name": {
                            "type": "string",
                            "description": "Menneskelesbart namn p\u00e5 feltet."
                        },
                        "shortName": {
                            "type": "string",
                            "description": "Kortnamn for felt. Samme som feltnamn brukt i respons og overskriftsrad i CSV-fila."
                        },
                        "groupable": {
                            "type": "boolean",
                            "description": "Kan gruppere\/filtrere p\u00e5 dette feltet via query-parameter. E.g. \u00ab?shortName=verdi\u00bb."
                        },
                        "searchable": {
                            "type": "boolean",
                            "description": "Om dette feltet er s\u00f8kbart via query-parameteret. E.g. \u00ab?query=s\u00f8kestreng\u00bb"
                        },
                        "indexPrimaryKey": {
                            "type": "boolean",
                            "description": "Ikkje i bruk."
                        }
                    }
                }
            },
            "ldir-leveransedata-korn-2018-2019-record": {
                "type": "object",
                "properties": {
                    "orgnr": {
                        "type": "string",
                        "example": "815473132",
                        "description": "Organisasjonsnr..\n"
                    },
                    "navn": {
                        "type": "string",
                        "example": "ANNE MARTHE AUNE"
                    },
                    "komnr": {
                        "type": "string",
                        "example": "5038",
                        "description": "Kommunenummer.\n"
                    },
                    "bygg_for_kg": {
                        "type": "string",
                        "example": "102066",
                        "description": "Bygg f\u00f4r (kg).\n"
                    },
                    "bygg_saakorn_kg": {
                        "type": "string",
                        "example": "0",
                        "description": "Bygg s\u00e5korn (kg).\n"
                    },
                    "bygg_mat_kg": {
                        "type": "string",
                        "example": "0",
                        "description": "Bygg mat (kg).\n"
                    },
                    "erter_for_kg": {
                        "type": "string",
                        "example": "0",
                        "description": "Erter f\u00f4r (kg).\n"
                    },
                    "erter_mat_kg": {
                        "type": "string",
                        "example": "0",
                        "description": "Erter mat (kg).\n"
                    },
                    "erter_saakorn_kg": {
                        "type": "string",
                        "example": "0",
                        "description": "Erter s\u00e5korn (kg).\n"
                    },
                    "havre_for_kg": {
                        "type": "string",
                        "example": "0",
                        "description": "Havre f\u00f4r (kg).\n"
                    },
                    "havre_saakorn_kg": {
                        "type": "string",
                        "example": "0",
                        "description": "Havre s\u00e5korn (kg).\n"
                    },
                    "hvete_for_kg": {
                        "type": "string",
                        "example": "0",
                        "description": "Hvete f\u00f4r (kg).\n"
                    },
                    "hvete_mat_kg": {
                        "type": "string",
                        "example": "0",
                        "description": "Hvete mat (kg).\n"
                    },
                    "hvete_saakorn_kg": {
                        "type": "string",
                        "example": "0",
                        "description": "Hvete s\u00e5korn (kg).\n"
                    },
                    "oljefro_kg": {
                        "type": "string",
                        "example": "0",
                        "description": "Oljefr\u00f8 (kg).\n"
                    },
                    "oljefro_saakorn_kg": {
                        "type": "string",
                        "example": "0",
                        "description": "Oljefr\u00f8 s\u00e5korn (kg).\n"
                    },
                    "rug_for_kg": {
                        "type": "string",
                        "example": "0",
                        "description": "Rug f\u00f4r (kg).\n"
                    },
                    "rug_mat_kg": {
                        "type": "string",
                        "example": "0",
                        "description": "Rug mat (kg).\n"
                    },
                    "rug_saakorn_kg": {
                        "type": "string",
                        "example": "0",
                        "description": "Rug s\u00e5korn (kg).\n"
                    },
                    "rughvete_for_kg": {
                        "type": "string",
                        "example": "0",
                        "description": "Rughvete f\u00f4r (kg).\n"
                    },
                    "rughvete_saakorn_kg": {
                        "type": "string",
                        "example": "0",
                        "description": "Rughvete s\u00e5korn (kg).\n"
                    }
                }
            },
            "ldir-leveransedata-korn-2018-2019-response": {
                "type": "object",
                "properties": {
                    "entries": {
                        "type": "array",
                        "items": {
                            "$ref": "#\/components\/schemas\/ldir-leveransedata-korn-2018-2019-record"
                        }
                    },
                    "page": {
                        "type": "integer",
                        "description": "Side (page) av resultatet som er returnert."
                    },
                    "pages": {
                        "type": "integer",
                        "description": "Tal p\u00e5 sider totalt."
                    },
                    "posts": {
                        "type": "integer",
                        "description": "Tal p\u00e5 postar totalt."
                    }
                }
            }
        },
        "headers": {
            "X-Datahotel-Page": {
                "description": "Side (page) av resultatet som er returnert.",
                "schema": {
                    "type": "integer"
                }
            },
            "X-Datahotel-Total-Pages": {
                "description": "Tal p\u00e5 sider totalt.",
                "schema": {
                    "type": "integer"
                }
            },
            "X-Datahotel-Total-Posts": {
                "description": "Tal p\u00e5 postar totalt.",
                "schema": {
                    "type": "integer"
                }
            },
            "ETag": {
                "description": "Fungerer som standard HTTP ETag. Timestamp for n\u00e5r tid datasettet sist vart endra p\u00e5 datahotellet. Verdien er unix timestamp, enten i sekund (10 siffer) eller millisekund (13 siffer).",
                "schema": {
                    "type": "integer"
                }
            }
        }
    },
    "tags": [
        {
            "name": "2018-2019",
            "description": "Leveranser til kornkj\u00f8per eller s\u00e5vareforretning i landbruket i korn\u00e5ret juli 2018 til juni 2019",
            "externalDocs": {
                "url": "https:\/\/hotell.difi.no\/?dataset=ldir\/leveransedata-korn\/2018-2019"
            }
        }
    ],
    "externalDocs": {
        "description": "Meir dokumentasjon for hotell.difi.no",
        "url": "https:\/\/hotell.difi.no\/api"
    }
}