{
    "openapi": "3.0.0",
    "info": {
        "description": "<p>Sj\u00e5 <a href=\"https:\/\/data.norge.no\/node\/575\">datasett-oppf\u00f8ring<\/a> for meir informasjon (kontaktinformasjon, oppdateringsfrekvens, lenker til dokumentasjon etc.)<\/p>\n",
        "version": "1.0.0",
        "title": "Stratigrafi (Stratigraphy)",
        "license": {
            "name": "Data-lisens",
            "url": "http:\/\/data.norge.no\/nlod\/"
        },
        "termsOfService": "https:\/\/hotell.difi.no\/api"
    },
    "servers": [
        {
            "url": "https:\/\/hotell.difi.no"
        }
    ],
    "paths": {
        "\/api\/{format}\/npd\/stratigraphy\/cores": {
            "get": {
                "tags": [
                    "cores"
                ],
                "description": "Hent ut ei side (page) med data. Inntil 100 postar pr. side.",
                "operationId": "getNpdStratigraphyCoresPage",
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "description": "Velg format",
                        "required": true,
                        "schema": {
                            "$ref": "#\/components\/schemas\/datahotelFormats"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Spesifiser side i resultatet \u00e5 hente ut. Standardverdi: 1.",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ei side (page) med data. Inntil 100 rader",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/npd-stratigraphy-cores-response"
                                }
                            }
                        },
                        "headers": {
                            "ETag": {
                                "$ref": "#\/components\/headers\/ETag"
                            },
                            "X-Datahotel-Page": {
                                "$ref": "#\/components\/headers\/X-Datahotel-Page"
                            },
                            "X-Datahotel-Total-Pages": {
                                "$ref": "#\/components\/headers\/X-Datahotel-Total-Pages"
                            },
                            "X-Datahotel-Total-Posts": {
                                "$ref": "#\/components\/headers\/X-Datahotel-Total-Posts"
                            }
                        }
                    }
                }
            }
        },
        "\/download\/npd\/stratigraphy\/cores": {
            "get": {
                "summary": "Last ned heile datasettet som CSV",
                "description": "Teiknsett er UTF8. Dersom fila skal opnast i Excel eller liknande, bruk parameter ?download. For alle andre bruksomr\u00e5de vil nedlasting utan ?download-parameteret passe betre.",
                "tags": [
                    "cores"
                ],
                "operationId": "downloadNpdStratigraphyCores",
                "parameters": [
                    {
                        "name": "download",
                        "in": "query",
                        "description": "Dersom parameter er angitt, s\u00e5 f\u00e5r ein fil med UTF8 _med_ BOM i staden for UTF8. Denne varianter egnar seg dersom ein vil opne fila i Excel eller liknande",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Last ned heile datasettet som CSV",
                        "content": {
                            "text\/csv": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "application~\/vnd.ms-excel~": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "headers": {
                            "ETag": {
                                "$ref": "#\/components\/headers\/ETag"
                            }
                        }
                    }
                }
            }
        },
        "\/api\/{format}\/npd\/stratigraphy\/cores\/meta": {
            "get": {
                "description": "Hent ut metadata for datasettet. ",
                "tags": [
                    "cores"
                ],
                "operationId": "getNpdStratigraphyCoresMetadata",
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "description": "Velg format",
                        "required": true,
                        "schema": {
                            "$ref": "#\/components\/schemas\/datahotelMetadataFormats"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Metadata",
                        "content": {
                            "application\/json": {
                                "example": "{\n    \"shortName\": \"cores\",\n    \"name\": \"NPD - Stratigraphy - Cores\",\n    \"location\": \"npd\/stratigraphy\/cores\",\n    \"updated\": 1590373922,\n    \"dataset\": true\n}",
                                "schema": {
                                    "$ref": "#\/components\/schemas\/datasetMetadata"
                                }
                            }
                        },
                        "headers": {
                            "ETag": {
                                "$ref": "#\/components\/headers\/ETag"
                            }
                        }
                    }
                }
            }
        },
        "\/api\/{format}\/npd\/stratigraphy\/cores\/fields": {
            "get": {
                "description": "Hent ut feltdefinisjonar for datasettet. ",
                "tags": [
                    "cores"
                ],
                "operationId": "getNpdStratigraphyCoresFields",
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "description": "Velg format",
                        "required": true,
                        "schema": {
                            "$ref": "#\/components\/schemas\/datahotelMetadataFormats"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Feltdefinisjoner",
                        "content": {
                            "application\/json": {
                                "example": "[\n    {\n        \"name\": \"wlbName\",\n        \"shortName\": \"wlbName\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false\n    },\n    {\n        \"name\": \"lsuCoreLenght\",\n        \"shortName\": \"lsuCoreLenght\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false\n    },\n    {\n        \"name\": \"lsuName\",\n        \"shortName\": \"lsuName\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false\n    },\n    {\n        \"name\": \"lsuLevel\",\n        \"shortName\": \"lsuLevel\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false\n    },\n    {\n        \"name\": \"wlbCompletionDate\",\n        \"shortName\": \"wlbCompletionDate\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false\n    },\n    {\n        \"name\": \"lsuNpdidLithoStrat\",\n        \"shortName\": \"lsuNpdidLithoStrat\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false\n    },\n    {\n        \"name\": \"wlbNpdidWellbore\",\n        \"shortName\": \"wlbNpdidWellbore\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false\n    },\n    {\n        \"name\": \"datesyncNPD\",\n        \"shortName\": \"datesyncNPD\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false\n    }\n]",
                                "schema": {
                                    "$ref": "#\/components\/schemas\/datasetFields"
                                }
                            }
                        },
                        "headers": {
                            "ETag": {
                                "$ref": "#\/components\/headers\/ETag"
                            }
                        }
                    }
                }
            }
        },
        "\/api\/{format}\/npd\/stratigraphy\/wellbores": {
            "get": {
                "tags": [
                    "wellbores"
                ],
                "description": "Hent ut ei side (page) med data. Inntil 100 postar pr. side.",
                "operationId": "getNpdStratigraphyWellboresPage",
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "description": "Velg format",
                        "required": true,
                        "schema": {
                            "$ref": "#\/components\/schemas\/datahotelFormats"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Spesifiser side i resultatet \u00e5 hente ut. Standardverdi: 1.",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ei side (page) med data. Inntil 100 rader",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/npd-stratigraphy-wellbores-response"
                                }
                            }
                        },
                        "headers": {
                            "ETag": {
                                "$ref": "#\/components\/headers\/ETag"
                            },
                            "X-Datahotel-Page": {
                                "$ref": "#\/components\/headers\/X-Datahotel-Page"
                            },
                            "X-Datahotel-Total-Pages": {
                                "$ref": "#\/components\/headers\/X-Datahotel-Total-Pages"
                            },
                            "X-Datahotel-Total-Posts": {
                                "$ref": "#\/components\/headers\/X-Datahotel-Total-Posts"
                            }
                        }
                    }
                }
            }
        },
        "\/download\/npd\/stratigraphy\/wellbores": {
            "get": {
                "summary": "Last ned heile datasettet som CSV",
                "description": "Teiknsett er UTF8. Dersom fila skal opnast i Excel eller liknande, bruk parameter ?download. For alle andre bruksomr\u00e5de vil nedlasting utan ?download-parameteret passe betre.",
                "tags": [
                    "wellbores"
                ],
                "operationId": "downloadNpdStratigraphyWellbores",
                "parameters": [
                    {
                        "name": "download",
                        "in": "query",
                        "description": "Dersom parameter er angitt, s\u00e5 f\u00e5r ein fil med UTF8 _med_ BOM i staden for UTF8. Denne varianter egnar seg dersom ein vil opne fila i Excel eller liknande",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Last ned heile datasettet som CSV",
                        "content": {
                            "text\/csv": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "application~\/vnd.ms-excel~": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "headers": {
                            "ETag": {
                                "$ref": "#\/components\/headers\/ETag"
                            }
                        }
                    }
                }
            }
        },
        "\/api\/{format}\/npd\/stratigraphy\/wellbores\/meta": {
            "get": {
                "description": "Hent ut metadata for datasettet. ",
                "tags": [
                    "wellbores"
                ],
                "operationId": "getNpdStratigraphyWellboresMetadata",
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "description": "Velg format",
                        "required": true,
                        "schema": {
                            "$ref": "#\/components\/schemas\/datahotelMetadataFormats"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Metadata",
                        "content": {
                            "application\/json": {
                                "example": "{\n    \"shortName\": \"wellbores\",\n    \"name\": \"NPD - Stratigraphy - Wellbores\",\n    \"location\": \"npd\/stratigraphy\/wellbores\",\n    \"updated\": 1590373916,\n    \"dataset\": true\n}",
                                "schema": {
                                    "$ref": "#\/components\/schemas\/datasetMetadata"
                                }
                            }
                        },
                        "headers": {
                            "ETag": {
                                "$ref": "#\/components\/headers\/ETag"
                            }
                        }
                    }
                }
            }
        },
        "\/api\/{format}\/npd\/stratigraphy\/wellbores\/fields": {
            "get": {
                "description": "Hent ut feltdefinisjonar for datasettet. ",
                "tags": [
                    "wellbores"
                ],
                "operationId": "getNpdStratigraphyWellboresFields",
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "description": "Velg format",
                        "required": true,
                        "schema": {
                            "$ref": "#\/components\/schemas\/datahotelMetadataFormats"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Feltdefinisjoner",
                        "content": {
                            "application\/json": {
                                "example": "[\n    {\n        \"name\": \"wlbName\",\n        \"shortName\": \"wlbName\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false\n    },\n    {\n        \"name\": \"lsuTopDepth\",\n        \"shortName\": \"lsuTopDepth\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false\n    },\n    {\n        \"name\": \"lsuBottomDepth\",\n        \"shortName\": \"lsuBottomDepth\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false\n    },\n    {\n        \"name\": \"lsuName\",\n        \"shortName\": \"lsuName\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false\n    },\n    {\n        \"name\": \"lsuLevel\",\n        \"shortName\": \"lsuLevel\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false\n    },\n    {\n        \"name\": \"lsuNpdidLithoStrat\",\n        \"shortName\": \"lsuNpdidLithoStrat\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false\n    },\n    {\n        \"name\": \"wlbCompletionDate\",\n        \"shortName\": \"wlbCompletionDate\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false\n    },\n    {\n        \"name\": \"wlbNpdidWellbore\",\n        \"shortName\": \"wlbNpdidWellbore\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false\n    },\n    {\n        \"name\": \"IsuWellboreUpdatedDate\",\n        \"shortName\": \"IsuWellboreUpdatedDate\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false\n    },\n    {\n        \"name\": \"datesyncNPD\",\n        \"shortName\": \"datesyncNPD\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false\n    }\n]",
                                "schema": {
                                    "$ref": "#\/components\/schemas\/datasetFields"
                                }
                            }
                        },
                        "headers": {
                            "ETag": {
                                "$ref": "#\/components\/headers\/ETag"
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "datahotelFormats": {
                "type": "string",
                "enum": [
                    "json",
                    "jsonp",
                    "xml",
                    "csv",
                    "yaml"
                ]
            },
            "datahotelMetadataFormats": {
                "type": "string",
                "enum": [
                    "json",
                    "jsonp",
                    "xml",
                    "yaml"
                ]
            },
            "datasetMetadata": {
                "type": "object",
                "properties": {
                    "shortName": {
                        "type": "string",
                        "description": "Kortnamn for datasettet. Samme som siste ledd i location."
                    },
                    "name": {
                        "type": "string",
                        "description": "Menneskelesbart namn for datasettet."
                    },
                    "location": {
                        "type": "string",
                        "description": "Unik datasett-id i datahotellet"
                    },
                    "updated": {
                        "type": "integer",
                        "description": "Timestamp for n\u00e5r tid datasettet sist vart endra p\u00e5 datahotellet. Verdien er unix timestamp, enten i sekund (10 siffer) eller millisekund (13 siffer)."
                    },
                    "dataset": {
                        "type": "boolean",
                        "description": "True dersom location er eit datasett, false dersom ikkje. Ved false kan location vere ein katalog som inneheld datasett."
                    }
                }
            },
            "datasetFields": {
                "type": "array",
                "items": {
                    "type": "object",
                    "properties": {
                        "name": {
                            "type": "string",
                            "description": "Menneskelesbart namn p\u00e5 feltet."
                        },
                        "shortName": {
                            "type": "string",
                            "description": "Kortnamn for felt. Samme som feltnamn brukt i respons og overskriftsrad i CSV-fila."
                        },
                        "groupable": {
                            "type": "boolean",
                            "description": "Kan gruppere\/filtrere p\u00e5 dette feltet via query-parameter. E.g. \u00ab?shortName=verdi\u00bb."
                        },
                        "searchable": {
                            "type": "boolean",
                            "description": "Om dette feltet er s\u00f8kbart via query-parameteret. E.g. \u00ab?query=s\u00f8kestreng\u00bb"
                        },
                        "indexPrimaryKey": {
                            "type": "boolean",
                            "description": "Ikkje i bruk."
                        }
                    }
                }
            },
            "npd-stratigraphy-cores-record": {
                "type": "object",
                "properties": {
                    "wlbName": {
                        "type": "string",
                        "example": "1\/2-1"
                    },
                    "lsuCoreLenght": {
                        "type": "string",
                        "example": "50"
                    },
                    "lsuName": {
                        "type": "string",
                        "example": "ROGALAND GP"
                    },
                    "lsuLevel": {
                        "type": "string",
                        "example": "GROUP"
                    },
                    "wlbCompletionDate": {
                        "type": "string",
                        "example": "04.06.1989"
                    },
                    "lsuNpdidLithoStrat": {
                        "type": "string",
                        "example": "131"
                    },
                    "wlbNpdidWellbore": {
                        "type": "string",
                        "example": "1382"
                    },
                    "datesyncNPD": {
                        "type": "string",
                        "example": "25.05.2020"
                    }
                }
            },
            "npd-stratigraphy-cores-response": {
                "type": "object",
                "properties": {
                    "entries": {
                        "type": "array",
                        "items": {
                            "$ref": "#\/components\/schemas\/npd-stratigraphy-cores-record"
                        }
                    },
                    "page": {
                        "type": "integer",
                        "description": "Side (page) av resultatet som er returnert."
                    },
                    "pages": {
                        "type": "integer",
                        "description": "Tal p\u00e5 sider totalt."
                    },
                    "posts": {
                        "type": "integer",
                        "description": "Tal p\u00e5 postar totalt."
                    }
                }
            },
            "npd-stratigraphy-wellbores-record": {
                "type": "object",
                "properties": {
                    "wlbName": {
                        "type": "string",
                        "example": "1\/2-1"
                    },
                    "lsuTopDepth": {
                        "type": "string",
                        "example": "94"
                    },
                    "lsuBottomDepth": {
                        "type": "string",
                        "example": "1777"
                    },
                    "lsuName": {
                        "type": "string",
                        "example": "NORDLAND GP"
                    },
                    "lsuLevel": {
                        "type": "string",
                        "example": "GROUP"
                    },
                    "lsuNpdidLithoStrat": {
                        "type": "string",
                        "example": "113"
                    },
                    "wlbCompletionDate": {
                        "type": "string",
                        "example": "04.06.1989"
                    },
                    "wlbNpdidWellbore": {
                        "type": "string",
                        "example": "1382"
                    },
                    "IsuWellboreUpdatedDate": {
                        "type": "string",
                        "example": "03.10.2019"
                    },
                    "datesyncNPD": {
                        "type": "string",
                        "example": "25.05.2020"
                    }
                }
            },
            "npd-stratigraphy-wellbores-response": {
                "type": "object",
                "properties": {
                    "entries": {
                        "type": "array",
                        "items": {
                            "$ref": "#\/components\/schemas\/npd-stratigraphy-wellbores-record"
                        }
                    },
                    "page": {
                        "type": "integer",
                        "description": "Side (page) av resultatet som er returnert."
                    },
                    "pages": {
                        "type": "integer",
                        "description": "Tal p\u00e5 sider totalt."
                    },
                    "posts": {
                        "type": "integer",
                        "description": "Tal p\u00e5 postar totalt."
                    }
                }
            }
        },
        "headers": {
            "X-Datahotel-Page": {
                "description": "Side (page) av resultatet som er returnert.",
                "schema": {
                    "type": "integer"
                }
            },
            "X-Datahotel-Total-Pages": {
                "description": "Tal p\u00e5 sider totalt.",
                "schema": {
                    "type": "integer"
                }
            },
            "X-Datahotel-Total-Posts": {
                "description": "Tal p\u00e5 postar totalt.",
                "schema": {
                    "type": "integer"
                }
            },
            "ETag": {
                "description": "Fungerer som standard HTTP ETag. Timestamp for n\u00e5r tid datasettet sist vart endra p\u00e5 datahotellet. Verdien er unix timestamp, enten i sekund (10 siffer) eller millisekund (13 siffer).",
                "schema": {
                    "type": "integer"
                }
            }
        }
    },
    "tags": [
        {
            "name": "cores",
            "description": "NPD - Stratigraphy - Cores",
            "externalDocs": {
                "url": "https:\/\/hotell.difi.no\/?dataset=npd\/stratigraphy\/cores"
            }
        },
        {
            "name": "wellbores",
            "description": "NPD - Stratigraphy - Wellbores",
            "externalDocs": {
                "url": "https:\/\/hotell.difi.no\/?dataset=npd\/stratigraphy\/wellbores"
            }
        }
    ],
    "externalDocs": {
        "description": "Meir dokumentasjon for hotell.difi.no",
        "url": "https:\/\/hotell.difi.no\/api"
    }
}