{
    "openapi": "3.0.0",
    "info": {
        "description": "<p>Sj\u00e5 <a href=\"https:\/\/data.norge.no\/node\/844\">datasett-oppf\u00f8ring<\/a> for meir informasjon (kontaktinformasjon, oppdateringsfrekvens, lenker til dokumentasjon etc.)<\/p>\n",
        "version": "1.0.0",
        "title": "L\u00f8nnstrinn i staten - Tabell T-B - Trekktabell basert p\u00e5 B-tabellen 2011",
        "license": {
            "name": "Data-lisens",
            "url": "http:\/\/data.norge.no\/nlod\/"
        },
        "termsOfService": "https:\/\/hotell.difi.no\/api"
    },
    "servers": [
        {
            "url": "https:\/\/hotell.difi.no"
        }
    ],
    "paths": {
        "\/api\/{format}\/fad\/lonn\/t-b-tabell": {
            "get": {
                "tags": [
                    "t-b-tabell"
                ],
                "description": "Hent ut ei side (page) med data. Inntil 100 postar pr. side.",
                "operationId": "getFadLonnT-b-tabellPage",
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "description": "Velg format",
                        "required": true,
                        "schema": {
                            "$ref": "#\/components\/schemas\/datahotelFormats"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Spesifiser side i resultatet \u00e5 hente ut. Standardverdi: 1.",
                        "required": false
                    },
                    {
                        "name": "trinn",
                        "in": "query",
                        "description": "Filtrer s\u00f8keresultat p\u00e5 eksakt match p\u00e5 dette feltet.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ei side (page) med data. Inntil 100 rader",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/fad-lonn-t-b-tabell-response"
                                }
                            }
                        },
                        "headers": {
                            "ETag": {
                                "$ref": "#\/components\/headers\/ETag"
                            },
                            "X-Datahotel-Page": {
                                "$ref": "#\/components\/headers\/X-Datahotel-Page"
                            },
                            "X-Datahotel-Total-Pages": {
                                "$ref": "#\/components\/headers\/X-Datahotel-Total-Pages"
                            },
                            "X-Datahotel-Total-Posts": {
                                "$ref": "#\/components\/headers\/X-Datahotel-Total-Posts"
                            }
                        }
                    }
                }
            }
        },
        "\/download\/fad\/lonn\/t-b-tabell": {
            "get": {
                "summary": "Last ned heile datasettet som CSV",
                "description": "Teiknsett er UTF8. Dersom fila skal opnast i Excel eller liknande, bruk parameter ?download. For alle andre bruksomr\u00e5de vil nedlasting utan ?download-parameteret passe betre.",
                "tags": [
                    "t-b-tabell"
                ],
                "operationId": "downloadFadLonnT-b-tabell",
                "parameters": [
                    {
                        "name": "download",
                        "in": "query",
                        "description": "Dersom parameter er angitt, s\u00e5 f\u00e5r ein fil med UTF8 _med_ BOM i staden for UTF8. Denne varianter egnar seg dersom ein vil opne fila i Excel eller liknande",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Last ned heile datasettet som CSV",
                        "content": {
                            "text\/csv": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "application~\/vnd.ms-excel~": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "headers": {
                            "ETag": {
                                "$ref": "#\/components\/headers\/ETag"
                            }
                        }
                    }
                }
            }
        },
        "\/api\/{format}\/fad\/lonn\/t-b-tabell\/meta": {
            "get": {
                "description": "Hent ut metadata for datasettet. ",
                "tags": [
                    "t-b-tabell"
                ],
                "operationId": "getFadLonnT-b-tabellMetadata",
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "description": "Velg format",
                        "required": true,
                        "schema": {
                            "$ref": "#\/components\/schemas\/datahotelMetadataFormats"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Metadata",
                        "content": {
                            "application\/json": {
                                "example": "{\n    \"shortName\": \"t-b-tabell\",\n    \"name\": \"T-B-tabell\",\n    \"location\": \"fad\/lonn\/t-b-tabell\",\n    \"updated\": 0,\n    \"dataset\": true\n}",
                                "schema": {
                                    "$ref": "#\/components\/schemas\/datasetMetadata"
                                }
                            }
                        },
                        "headers": {
                            "ETag": {
                                "$ref": "#\/components\/headers\/ETag"
                            }
                        }
                    }
                }
            }
        },
        "\/api\/{format}\/fad\/lonn\/t-b-tabell\/fields": {
            "get": {
                "description": "Hent ut feltdefinisjonar for datasettet. ",
                "tags": [
                    "t-b-tabell"
                ],
                "operationId": "getFadLonnT-b-tabellFields",
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "description": "Velg format",
                        "required": true,
                        "schema": {
                            "$ref": "#\/components\/schemas\/datahotelMetadataFormats"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Feltdefinisjoner",
                        "content": {
                            "application\/json": {
                                "example": "[\n    {\n        \"name\": \"L\\u00f8nnstrinn\",\n        \"shortName\": \"trinn\",\n        \"groupable\": true,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"L\\u00f8nnstrinn\",\n        \"definition\": \"verdi\"\n    },\n    {\n        \"name\": \"Bruttol\\u00f8nn pr. \\u00e5r\",\n        \"shortName\": \"brutto-aar\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Bruttol\\u00f8nn per \\u00e5r\",\n        \"definition\": \"verdi\"\n    },\n    {\n        \"name\": \"Bruttol\\u00f8nn pr. dag for 260 dagers \\u00e5r (5 dgr. uke)\",\n        \"shortName\": \"brutto-dag-260\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Bruttol\\u00f8nn per dag for 260 dagers \\u00e5r (5 dgr. uke)\",\n        \"definition\": \"verdi\"\n    },\n    {\n        \"name\": \"Bruttol\\u00f8nn per dag for 312 dagers \\u00e5r (6 dgr. uke)\",\n        \"shortName\": \"brutto-dag-312\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Bruttol\\u00f8nn per dag for 312 dagers \\u00e5r (6 dgr. uke)\",\n        \"definition\": \"verdi\"\n    },\n    {\n        \"name\": \"Pensjonsinnskudd pr. \\u00e5r\",\n        \"shortName\": \"pensjonsinnskudd\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Pensjonsinnskudd per \\u00e5r\",\n        \"definition\": \"verdi\"\n    },\n    {\n        \"name\": \"Nettol\\u00f8nn pr. \\u00e5r\",\n        \"shortName\": \"netto-aar\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Nettol\\u00f8nn per \\u00e5r\",\n        \"definition\": \"verdi\"\n    },\n    {\n        \"name\": \"Nettol\\u00f8nn pr. dag for 260 dagers \\u00e5r (5 dgr. uke)\",\n        \"shortName\": \"netto-dag-260\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Nettol\\u00f8nn per dag for 260 dagers \\u00e5r (5 dgr. uke)\",\n        \"definition\": \"verdi\"\n    },\n    {\n        \"name\": \"Nettol\\u00f8nn pr. dag for 312 dagers \\u00e5r (6 dgr. uke)\",\n        \"shortName\": \"netto-dag-312\",\n        \"groupable\": false,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Nettol\\u00f8nn per dag for 312 dagers \\u00e5r (6 dgr. uke)\",\n        \"definition\": \"verdi\"\n    }\n]",
                                "schema": {
                                    "$ref": "#\/components\/schemas\/datasetFields"
                                }
                            }
                        },
                        "headers": {
                            "ETag": {
                                "$ref": "#\/components\/headers\/ETag"
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "datahotelFormats": {
                "type": "string",
                "enum": [
                    "json",
                    "jsonp",
                    "xml",
                    "csv",
                    "yaml"
                ]
            },
            "datahotelMetadataFormats": {
                "type": "string",
                "enum": [
                    "json",
                    "jsonp",
                    "xml",
                    "yaml"
                ]
            },
            "datasetMetadata": {
                "type": "object",
                "properties": {
                    "shortName": {
                        "type": "string",
                        "description": "Kortnamn for datasettet. Samme som siste ledd i location."
                    },
                    "name": {
                        "type": "string",
                        "description": "Menneskelesbart namn for datasettet."
                    },
                    "location": {
                        "type": "string",
                        "description": "Unik datasett-id i datahotellet"
                    },
                    "updated": {
                        "type": "integer",
                        "description": "Timestamp for n\u00e5r tid datasettet sist vart endra p\u00e5 datahotellet. Verdien er unix timestamp, enten i sekund (10 siffer) eller millisekund (13 siffer)."
                    },
                    "dataset": {
                        "type": "boolean",
                        "description": "True dersom location er eit datasett, false dersom ikkje. Ved false kan location vere ein katalog som inneheld datasett."
                    }
                }
            },
            "datasetFields": {
                "type": "array",
                "items": {
                    "type": "object",
                    "properties": {
                        "name": {
                            "type": "string",
                            "description": "Menneskelesbart namn p\u00e5 feltet."
                        },
                        "shortName": {
                            "type": "string",
                            "description": "Kortnamn for felt. Samme som feltnamn brukt i respons og overskriftsrad i CSV-fila."
                        },
                        "groupable": {
                            "type": "boolean",
                            "description": "Kan gruppere\/filtrere p\u00e5 dette feltet via query-parameter. E.g. \u00ab?shortName=verdi\u00bb."
                        },
                        "searchable": {
                            "type": "boolean",
                            "description": "Om dette feltet er s\u00f8kbart via query-parameteret. E.g. \u00ab?query=s\u00f8kestreng\u00bb"
                        },
                        "indexPrimaryKey": {
                            "type": "boolean",
                            "description": "Ikkje i bruk."
                        }
                    }
                }
            },
            "fad-lonn-t-b-tabell-record": {
                "type": "object",
                "properties": {
                    "trinn": {
                        "type": "string",
                        "example": "1",
                        "description": "L\u00f8nnstrinn.\nL\u00f8nnstrinn"
                    },
                    "brutto-aar": {
                        "type": "string",
                        "example": "800",
                        "description": "Bruttol\u00f8nn pr. \u00e5r.\nBruttol\u00f8nn per \u00e5r"
                    },
                    "brutto-dag-260": {
                        "type": "string",
                        "example": "3,00",
                        "description": "Bruttol\u00f8nn pr. dag for 260 dagers \u00e5r (5 dgr. uke).\nBruttol\u00f8nn per dag for 260 dagers \u00e5r (5 dgr. uke)"
                    },
                    "brutto-dag-312": {
                        "type": "string",
                        "example": "2,50",
                        "description": "Bruttol\u00f8nn per dag for 312 dagers \u00e5r (6 dgr. uke).\nBruttol\u00f8nn per dag for 312 dagers \u00e5r (6 dgr. uke)"
                    },
                    "pensjonsinnskudd": {
                        "type": "string",
                        "example": "16",
                        "description": "Pensjonsinnskudd pr. \u00e5r.\nPensjonsinnskudd per \u00e5r"
                    },
                    "netto-aar": {
                        "type": "string",
                        "example": "784",
                        "description": "Nettol\u00f8nn pr. \u00e5r.\nNettol\u00f8nn per \u00e5r"
                    },
                    "netto-dag-260": {
                        "type": "string",
                        "example": "3,00",
                        "description": "Nettol\u00f8nn pr. dag for 260 dagers \u00e5r (5 dgr. uke).\nNettol\u00f8nn per dag for 260 dagers \u00e5r (5 dgr. uke)"
                    },
                    "netto-dag-312": {
                        "type": "string",
                        "example": "2,50",
                        "description": "Nettol\u00f8nn pr. dag for 312 dagers \u00e5r (6 dgr. uke).\nNettol\u00f8nn per dag for 312 dagers \u00e5r (6 dgr. uke)"
                    }
                }
            },
            "fad-lonn-t-b-tabell-response": {
                "type": "object",
                "properties": {
                    "entries": {
                        "type": "array",
                        "items": {
                            "$ref": "#\/components\/schemas\/fad-lonn-t-b-tabell-record"
                        }
                    },
                    "page": {
                        "type": "integer",
                        "description": "Side (page) av resultatet som er returnert."
                    },
                    "pages": {
                        "type": "integer",
                        "description": "Tal p\u00e5 sider totalt."
                    },
                    "posts": {
                        "type": "integer",
                        "description": "Tal p\u00e5 postar totalt."
                    }
                }
            }
        },
        "headers": {
            "X-Datahotel-Page": {
                "description": "Side (page) av resultatet som er returnert.",
                "schema": {
                    "type": "integer"
                }
            },
            "X-Datahotel-Total-Pages": {
                "description": "Tal p\u00e5 sider totalt.",
                "schema": {
                    "type": "integer"
                }
            },
            "X-Datahotel-Total-Posts": {
                "description": "Tal p\u00e5 postar totalt.",
                "schema": {
                    "type": "integer"
                }
            },
            "ETag": {
                "description": "Fungerer som standard HTTP ETag. Timestamp for n\u00e5r tid datasettet sist vart endra p\u00e5 datahotellet. Verdien er unix timestamp, enten i sekund (10 siffer) eller millisekund (13 siffer).",
                "schema": {
                    "type": "integer"
                }
            }
        }
    },
    "tags": [
        {
            "name": "t-b-tabell",
            "description": "T-B-tabell",
            "externalDocs": {
                "url": "https:\/\/hotell.difi.no\/?dataset=fad\/lonn\/t-b-tabell"
            }
        }
    ],
    "externalDocs": {
        "description": "Meir dokumentasjon for hotell.difi.no",
        "url": "https:\/\/hotell.difi.no\/api"
    }
}