{
    "openapi": "3.0.0",
    "info": {
        "description": "<p>Sj\u00e5 <a href=\"https:\/\/data.norge.no\/node\/881\">datasett-oppf\u00f8ring<\/a> for meir informasjon (kontaktinformasjon, oppdateringsfrekvens, lenker til dokumentasjon etc.)<\/p>\n",
        "version": "1.0.0",
        "title": "Underenheter i Enhetsregisteret",
        "license": {
            "name": "Data-lisens",
            "url": "http:\/\/data.norge.no\/nlod\/"
        },
        "termsOfService": "https:\/\/hotell.difi.no\/api"
    },
    "servers": [
        {
            "url": "https:\/\/hotell.difi.no"
        }
    ],
    "paths": {
        "\/api\/{format}\/brreg\/underenheter": {
            "get": {
                "tags": [
                    "underenheter"
                ],
                "description": "Hent ut ei side (page) med data. Inntil 100 postar pr. side.",
                "operationId": "getBrregUnderenheterPage",
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "description": "Velg format",
                        "required": true,
                        "schema": {
                            "$ref": "#\/components\/schemas\/datahotelFormats"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Spesifiser side i resultatet \u00e5 hente ut. Standardverdi: 1.",
                        "required": false
                    },
                    {
                        "name": "query",
                        "in": "query",
                        "description": "S\u00f8k i datasettet. Gir treff p\u00e5 felt: orgnr, navn, forretningsadr, forradrpostnr, forradrpoststed, forradrkommnavn, postadresse, ppoststed, ppostland",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "orgnr",
                        "in": "query",
                        "description": "Filtrer s\u00f8keresultat p\u00e5 eksakt match p\u00e5 dette feltet.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "organisasjonsform",
                        "in": "query",
                        "description": "Filtrer s\u00f8keresultat p\u00e5 eksakt match p\u00e5 dette feltet.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "forradrpostnr",
                        "in": "query",
                        "description": "Filtrer s\u00f8keresultat p\u00e5 eksakt match p\u00e5 dette feltet.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "forradrkommnr",
                        "in": "query",
                        "description": "Filtrer s\u00f8keresultat p\u00e5 eksakt match p\u00e5 dette feltet.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "forradrkommnavn",
                        "in": "query",
                        "description": "Filtrer s\u00f8keresultat p\u00e5 eksakt match p\u00e5 dette feltet.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "forradrland",
                        "in": "query",
                        "description": "Filtrer s\u00f8keresultat p\u00e5 eksakt match p\u00e5 dette feltet.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ppostnr",
                        "in": "query",
                        "description": "Filtrer s\u00f8keresultat p\u00e5 eksakt match p\u00e5 dette feltet.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "nkode1",
                        "in": "query",
                        "description": "Filtrer s\u00f8keresultat p\u00e5 eksakt match p\u00e5 dette feltet.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "nkode2",
                        "in": "query",
                        "description": "Filtrer s\u00f8keresultat p\u00e5 eksakt match p\u00e5 dette feltet.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "nkode3",
                        "in": "query",
                        "description": "Filtrer s\u00f8keresultat p\u00e5 eksakt match p\u00e5 dette feltet.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "regiaa",
                        "in": "query",
                        "description": "Filtrer s\u00f8keresultat p\u00e5 eksakt match p\u00e5 dette feltet.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "hovedenhet",
                        "in": "query",
                        "description": "Filtrer s\u00f8keresultat p\u00e5 eksakt match p\u00e5 dette feltet.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ansatte_antall",
                        "in": "query",
                        "description": "Filtrer s\u00f8keresultat p\u00e5 eksakt match p\u00e5 dette feltet.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ansatte_dato",
                        "in": "query",
                        "description": "Filtrer s\u00f8keresultat p\u00e5 eksakt match p\u00e5 dette feltet.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ei side (page) med data. Inntil 100 rader",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/brreg-underenheter-response"
                                }
                            }
                        },
                        "headers": {
                            "ETag": {
                                "$ref": "#\/components\/headers\/ETag"
                            },
                            "X-Datahotel-Page": {
                                "$ref": "#\/components\/headers\/X-Datahotel-Page"
                            },
                            "X-Datahotel-Total-Pages": {
                                "$ref": "#\/components\/headers\/X-Datahotel-Total-Pages"
                            },
                            "X-Datahotel-Total-Posts": {
                                "$ref": "#\/components\/headers\/X-Datahotel-Total-Posts"
                            }
                        }
                    }
                }
            }
        },
        "\/download\/brreg\/underenheter": {
            "get": {
                "summary": "Last ned heile datasettet som CSV",
                "description": "Teiknsett er UTF8. Dersom fila skal opnast i Excel eller liknande, bruk parameter ?download. For alle andre bruksomr\u00e5de vil nedlasting utan ?download-parameteret passe betre.",
                "tags": [
                    "underenheter"
                ],
                "operationId": "downloadBrregUnderenheter",
                "parameters": [
                    {
                        "name": "download",
                        "in": "query",
                        "description": "Dersom parameter er angitt, s\u00e5 f\u00e5r ein fil med UTF8 _med_ BOM i staden for UTF8. Denne varianter egnar seg dersom ein vil opne fila i Excel eller liknande",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Last ned heile datasettet som CSV",
                        "content": {
                            "text\/csv": {
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "application~\/vnd.ms-excel~": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "headers": {
                            "ETag": {
                                "$ref": "#\/components\/headers\/ETag"
                            }
                        }
                    }
                }
            }
        },
        "\/api\/{format}\/brreg\/underenheter\/meta": {
            "get": {
                "description": "Hent ut metadata for datasettet. ",
                "tags": [
                    "underenheter"
                ],
                "operationId": "getBrregUnderenheterMetadata",
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "description": "Velg format",
                        "required": true,
                        "schema": {
                            "$ref": "#\/components\/schemas\/datahotelMetadataFormats"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Metadata",
                        "content": {
                            "application\/json": {
                                "example": "{\n    \"shortName\": \"underenheter\",\n    \"name\": \"Underenheter\",\n    \"location\": \"brreg\/underenheter\",\n    \"updated\": 1590271239,\n    \"dataset\": true\n}",
                                "schema": {
                                    "$ref": "#\/components\/schemas\/datasetMetadata"
                                }
                            }
                        },
                        "headers": {
                            "ETag": {
                                "$ref": "#\/components\/headers\/ETag"
                            }
                        }
                    }
                }
            }
        },
        "\/api\/{format}\/brreg\/underenheter\/fields": {
            "get": {
                "description": "Hent ut feltdefinisjonar for datasettet. ",
                "tags": [
                    "underenheter"
                ],
                "operationId": "getBrregUnderenheterFields",
                "parameters": [
                    {
                        "name": "format",
                        "in": "path",
                        "description": "Velg format",
                        "required": true,
                        "schema": {
                            "$ref": "#\/components\/schemas\/datahotelMetadataFormats"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Feltdefinisjoner",
                        "content": {
                            "application\/json": {
                                "example": "[\n    {\n        \"name\": \"Organisasjonsnummer\",\n        \"shortName\": \"orgnr\",\n        \"groupable\": true,\n        \"searchable\": true,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Organisasjonsnummer brukes for \\u00e5 identifisere juridiske personer (enheter), i Norge, og tildeles ved registrering i Enhetsregisteret. Organisasjonsnummeret best\\u00e5r av ni siffer og starter p\\u00e5 tallet 8 eller 9. \\nhttp:\/\/www.brreg.no\/samordning\/organisasjonsnummeret.html\"\n    },\n    {\n        \"name\": \"Navn\/avdelingsbetegnelse\",\n        \"shortName\": \"navn\",\n        \"groupable\": false,\n        \"searchable\": true,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Underenhetens offisielle navn\"\n    },\n    {\n        \"name\": \"Organisasjonsform\",\n        \"shortName\": \"organisasjonsform\",\n        \"groupable\": true,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Organisasjonsformen sier noe om hvordan enheten er bygd opp, juridisk og organisatorisk\"\n    },\n    {\n        \"name\": \"Beliggenhetsadresse\",\n        \"shortName\": \"forretningsadr\",\n        \"groupable\": false,\n        \"searchable\": true,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Gate-\/veiadresse hvor underenheten har sin bes\\u00f8ksadresse\/hovedkontor\"\n    },\n    {\n        \"name\": \"Beliggenhetsadresse postnummer\",\n        \"shortName\": \"forradrpostnr\",\n        \"groupable\": true,\n        \"searchable\": true,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Postnummer knyttet til beliggenhetsadressen\"\n    },\n    {\n        \"name\": \"Beliggenhetsadresse poststed\",\n        \"shortName\": \"forradrpoststed\",\n        \"groupable\": false,\n        \"searchable\": true,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Poststed knyttet til beliggenhetsadressen\"\n    },\n    {\n        \"name\": \"Beliggenhetsadresse kommunenummer\",\n        \"shortName\": \"forradrkommnr\",\n        \"groupable\": true,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Kommunenummeret knyttet til beliggenhetsadressen\"\n    },\n    {\n        \"name\": \"Beliggenhetsadresse kommunenavn\",\n        \"shortName\": \"forradrkommnavn\",\n        \"groupable\": true,\n        \"searchable\": true,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Navn p\\u00e5 kommune der underenheten har sin beliggenhetsadresse\"\n    },\n    {\n        \"name\": \"Beliggenhetsadresse land\",\n        \"shortName\": \"forradrland\",\n        \"groupable\": true,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Angir landet til underenhetens beliggenhetsadresse\"\n    },\n    {\n        \"name\": \"Postadresse\",\n        \"shortName\": \"postadresse\",\n        \"groupable\": false,\n        \"searchable\": true,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Underenhetens postadresse\"\n    },\n    {\n        \"name\": \"Postadresse postnummer\",\n        \"shortName\": \"ppostnr\",\n        \"groupable\": true,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Postnummer knyttet til postadressen\"\n    },\n    {\n        \"name\": \"Postadresse poststed\",\n        \"shortName\": \"ppoststed\",\n        \"groupable\": false,\n        \"searchable\": true,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Poststed knyttet til postadressen\"\n    },\n    {\n        \"name\": \"Postadresse land\",\n        \"shortName\": \"ppostland\",\n        \"groupable\": false,\n        \"searchable\": true,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Angir landet til underenhetens postadresse.\"\n    },\n    {\n        \"name\": \"NACE 1\",\n        \"shortName\": \"nkode1\",\n        \"groupable\": true,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"N\\u00e6ringskoder fastsettes etter Standard for n\\u00e6ringsgruppering. N\\u00e6ringskoden viser underenhetens viktigste aktivitet og registreres normalt p\\u00e5 bakgrunn av opplysningene i Enhetsregisteret som beskriver virksomheten som ut\\u00f8ves. Hovedregelen er at den f\\u00f8rste n\\u00e6ringskoden (NACE 1), gjelder hovedaktiviteter. Sekund\\u00e6rkoder (NACE 2 og 3) registreres bare unntaksvis.\"\n    },\n    {\n        \"name\": \"NACE 2\",\n        \"shortName\": \"nkode2\",\n        \"groupable\": true,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"N\\u00e6ringskoder fastsettes etter Standard for n\\u00e6ringsgruppering. N\\u00e6ringskoden viser underenhetens viktigste aktivitet og registreres normalt p\\u00e5 bakgrunn av opplysningene i Enhetsregisteret som beskriver virksomheten som ut\\u00f8ves. Hovedregelen er at den f\\u00f8rste n\\u00e6ringskoden (NACE 1), gjelder hovedaktiviteter. Sekund\\u00e6rkoder (NACE 2 og 3) registreres bare unntaksvis.\"\n    },\n    {\n        \"name\": \"NACE 3\",\n        \"shortName\": \"nkode3\",\n        \"groupable\": true,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"N\\u00e6ringskoder fastsettes etter Standard for n\\u00e6ringsgruppering. N\\u00e6ringskoden viser underenhetens viktigste aktivitet og registreres normalt p\\u00e5 bakgrunn av opplysningene i Enhetsregisteret som beskriver virksomheten som ut\\u00f8ves. Hovedregelen er at den f\\u00f8rste n\\u00e6ringskoden (NACE 1), gjelder hovedaktiviteter. Sekund\\u00e6rkoder (NACE 2 og 3) registreres bare unntaksvis.\"\n    },\n    {\n        \"name\": \"Registrert i NAV Aa-registeret\",\n        \"shortName\": \"regiaa\",\n        \"groupable\": true,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false,\n        \"description\": \"Angir om underenheten er registrert i arbeidsgiverdelen til Arbeidsgiver- og arbeidstakerregisteret\"\n    },\n    {\n        \"name\": \"Organisasjonsnummer til hovedenhet (ORGL)\",\n        \"shortName\": \"hovedenhet\",\n        \"groupable\": true,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false\n    },\n    {\n        \"name\": \"Antall ansatte\",\n        \"shortName\": \"ansatte_antall\",\n        \"groupable\": true,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false\n    },\n    {\n        \"name\": \"Dato for antall ansatte\",\n        \"shortName\": \"ansatte_dato\",\n        \"groupable\": true,\n        \"searchable\": false,\n        \"indexPrimaryKey\": false\n    }\n]",
                                "schema": {
                                    "$ref": "#\/components\/schemas\/datasetFields"
                                }
                            }
                        },
                        "headers": {
                            "ETag": {
                                "$ref": "#\/components\/headers\/ETag"
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "datahotelFormats": {
                "type": "string",
                "enum": [
                    "json",
                    "jsonp",
                    "xml",
                    "csv",
                    "yaml"
                ]
            },
            "datahotelMetadataFormats": {
                "type": "string",
                "enum": [
                    "json",
                    "jsonp",
                    "xml",
                    "yaml"
                ]
            },
            "datasetMetadata": {
                "type": "object",
                "properties": {
                    "shortName": {
                        "type": "string",
                        "description": "Kortnamn for datasettet. Samme som siste ledd i location."
                    },
                    "name": {
                        "type": "string",
                        "description": "Menneskelesbart namn for datasettet."
                    },
                    "location": {
                        "type": "string",
                        "description": "Unik datasett-id i datahotellet"
                    },
                    "updated": {
                        "type": "integer",
                        "description": "Timestamp for n\u00e5r tid datasettet sist vart endra p\u00e5 datahotellet. Verdien er unix timestamp, enten i sekund (10 siffer) eller millisekund (13 siffer)."
                    },
                    "dataset": {
                        "type": "boolean",
                        "description": "True dersom location er eit datasett, false dersom ikkje. Ved false kan location vere ein katalog som inneheld datasett."
                    }
                }
            },
            "datasetFields": {
                "type": "array",
                "items": {
                    "type": "object",
                    "properties": {
                        "name": {
                            "type": "string",
                            "description": "Menneskelesbart namn p\u00e5 feltet."
                        },
                        "shortName": {
                            "type": "string",
                            "description": "Kortnamn for felt. Samme som feltnamn brukt i respons og overskriftsrad i CSV-fila."
                        },
                        "groupable": {
                            "type": "boolean",
                            "description": "Kan gruppere\/filtrere p\u00e5 dette feltet via query-parameter. E.g. \u00ab?shortName=verdi\u00bb."
                        },
                        "searchable": {
                            "type": "boolean",
                            "description": "Om dette feltet er s\u00f8kbart via query-parameteret. E.g. \u00ab?query=s\u00f8kestreng\u00bb"
                        },
                        "indexPrimaryKey": {
                            "type": "boolean",
                            "description": "Ikkje i bruk."
                        }
                    }
                }
            },
            "brreg-underenheter-record": {
                "type": "object",
                "properties": {
                    "orgnr": {
                        "type": "string",
                        "example": "977340993",
                        "description": "Organisasjonsnummer.\nOrganisasjonsnummer brukes for \u00e5 identifisere juridiske personer (enheter), i Norge, og tildeles ved registrering i Enhetsregisteret. Organisasjonsnummeret best\u00e5r av ni siffer og starter p\u00e5 tallet 8 eller 9. \nhttp:\/\/www.brreg.no\/samordning\/organisasjonsnummeret.html"
                    },
                    "navn": {
                        "type": "string",
                        "example": "ALVER HEIMETENESTER",
                        "description": "Navn\/avdelingsbetegnelse.\nUnderenhetens offisielle navn"
                    },
                    "organisasjonsform": {
                        "type": "string",
                        "example": "BEDR",
                        "description": "Organisasjonsformen sier noe om hvordan enheten er bygd opp, juridisk og organisatorisk"
                    },
                    "forretningsadr": {
                        "type": "string",
                        "example": "Kvernhusmyrane 20",
                        "description": "Beliggenhetsadresse.\nGate-\/veiadresse hvor underenheten har sin bes\u00f8ksadresse\/hovedkontor"
                    },
                    "forradrpostnr": {
                        "type": "string",
                        "example": "5914",
                        "description": "Beliggenhetsadresse postnummer.\nPostnummer knyttet til beliggenhetsadressen"
                    },
                    "forradrpoststed": {
                        "type": "string",
                        "example": "ISDALST\u00d8",
                        "description": "Beliggenhetsadresse poststed.\nPoststed knyttet til beliggenhetsadressen"
                    },
                    "forradrkommnr": {
                        "type": "string",
                        "example": "4631",
                        "description": "Beliggenhetsadresse kommunenummer.\nKommunenummeret knyttet til beliggenhetsadressen"
                    },
                    "forradrkommnavn": {
                        "type": "string",
                        "example": "ALVER",
                        "description": "Beliggenhetsadresse kommunenavn.\nNavn p\u00e5 kommune der underenheten har sin beliggenhetsadresse"
                    },
                    "forradrland": {
                        "type": "string",
                        "example": "Norge",
                        "description": "Beliggenhetsadresse land.\nAngir landet til underenhetens beliggenhetsadresse"
                    },
                    "postadresse": {
                        "type": "string",
                        "example": "Postboks 4",
                        "description": "Underenhetens postadresse"
                    },
                    "ppostnr": {
                        "type": "string",
                        "example": "5906",
                        "description": "Postadresse postnummer.\nPostnummer knyttet til postadressen"
                    },
                    "ppoststed": {
                        "type": "string",
                        "example": "FREKHAUG",
                        "description": "Postadresse poststed.\nPoststed knyttet til postadressen"
                    },
                    "ppostland": {
                        "type": "string",
                        "example": "Norge",
                        "description": "Postadresse land.\nAngir landet til underenhetens postadresse."
                    },
                    "nkode1": {
                        "type": "string",
                        "example": "86.901",
                        "description": "NACE 1.\nN\u00e6ringskoder fastsettes etter Standard for n\u00e6ringsgruppering. N\u00e6ringskoden viser underenhetens viktigste aktivitet og registreres normalt p\u00e5 bakgrunn av opplysningene i Enhetsregisteret som beskriver virksomheten som ut\u00f8ves. Hovedregelen er at den f\u00f8rste n\u00e6ringskoden (NACE 1), gjelder hovedaktiviteter. Sekund\u00e6rkoder (NACE 2 og 3) registreres bare unntaksvis."
                    },
                    "nkode2": {
                        "type": "string",
                        "example": "88.101",
                        "description": "NACE 2.\nN\u00e6ringskoder fastsettes etter Standard for n\u00e6ringsgruppering. N\u00e6ringskoden viser underenhetens viktigste aktivitet og registreres normalt p\u00e5 bakgrunn av opplysningene i Enhetsregisteret som beskriver virksomheten som ut\u00f8ves. Hovedregelen er at den f\u00f8rste n\u00e6ringskoden (NACE 1), gjelder hovedaktiviteter. Sekund\u00e6rkoder (NACE 2 og 3) registreres bare unntaksvis."
                    },
                    "nkode3": {
                        "type": "string",
                        "example": "",
                        "description": "NACE 3.\nN\u00e6ringskoder fastsettes etter Standard for n\u00e6ringsgruppering. N\u00e6ringskoden viser underenhetens viktigste aktivitet og registreres normalt p\u00e5 bakgrunn av opplysningene i Enhetsregisteret som beskriver virksomheten som ut\u00f8ves. Hovedregelen er at den f\u00f8rste n\u00e6ringskoden (NACE 1), gjelder hovedaktiviteter. Sekund\u00e6rkoder (NACE 2 og 3) registreres bare unntaksvis."
                    },
                    "regiaa": {
                        "type": "string",
                        "example": "J",
                        "description": "Registrert i NAV Aa-registeret.\nAngir om underenheten er registrert i arbeidsgiverdelen til Arbeidsgiver- og arbeidstakerregisteret"
                    },
                    "hovedenhet": {
                        "type": "string",
                        "example": "923536434",
                        "description": "Organisasjonsnummer til hovedenhet (ORGL)"
                    },
                    "ansatte_antall": {
                        "type": "string",
                        "example": "466",
                        "description": "Antall ansatte"
                    },
                    "ansatte_dato": {
                        "type": "string",
                        "example": "11.05.2020",
                        "description": "Dato for antall ansatte"
                    }
                }
            },
            "brreg-underenheter-response": {
                "type": "object",
                "properties": {
                    "entries": {
                        "type": "array",
                        "items": {
                            "$ref": "#\/components\/schemas\/brreg-underenheter-record"
                        }
                    },
                    "page": {
                        "type": "integer",
                        "description": "Side (page) av resultatet som er returnert."
                    },
                    "pages": {
                        "type": "integer",
                        "description": "Tal p\u00e5 sider totalt."
                    },
                    "posts": {
                        "type": "integer",
                        "description": "Tal p\u00e5 postar totalt."
                    }
                }
            }
        },
        "headers": {
            "X-Datahotel-Page": {
                "description": "Side (page) av resultatet som er returnert.",
                "schema": {
                    "type": "integer"
                }
            },
            "X-Datahotel-Total-Pages": {
                "description": "Tal p\u00e5 sider totalt.",
                "schema": {
                    "type": "integer"
                }
            },
            "X-Datahotel-Total-Posts": {
                "description": "Tal p\u00e5 postar totalt.",
                "schema": {
                    "type": "integer"
                }
            },
            "ETag": {
                "description": "Fungerer som standard HTTP ETag. Timestamp for n\u00e5r tid datasettet sist vart endra p\u00e5 datahotellet. Verdien er unix timestamp, enten i sekund (10 siffer) eller millisekund (13 siffer).",
                "schema": {
                    "type": "integer"
                }
            }
        }
    },
    "tags": [
        {
            "name": "underenheter",
            "description": "Underenheter",
            "externalDocs": {
                "url": "https:\/\/hotell.difi.no\/?dataset=brreg\/underenheter"
            }
        }
    ],
    "externalDocs": {
        "description": "Meir dokumentasjon for hotell.difi.no",
        "url": "https:\/\/hotell.difi.no\/api"
    }
}